---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.astro';
import Footer from '../../components/Footer.astro';
import Overview from '../../components/grocery-go/Overview.astro';
import Emphatize from '../../components/grocery-go/Emphatize.astro';
import Define from '../../components/grocery-go/Define.astro';
import Ideate from '../../components/grocery-go/Ideate.astro';
import Prototype from '../../components/grocery-go/Prototype.astro';
import Test from '../../components/grocery-go/Test.astro';
---

<Layout title="Hey, I'm Beatrix!">
    <Navbar />
    <main>
       <Overview />
       <!-- <Emphatize />
       <Define />
       <Ideate />
       <Prototype />
       <Test /> -->
    </main>
    <Footer />
</Layout>