---
import Layout from '../../layouts/Layout.astro'
import Navbar from '../../components/Navbar.astro'
import Footer from '../../components/Footer.astro'
import Overview from '../../components/parabled/Overview.astro'
import SectionNav from '../../components/parabled/SectionNav.astro'
---

<Layout title="Hey, I'm Beatrix!">
    <Navbar />
    <main>
        <Overview />
    </main>
    <Footer />
    <div class="block w-full h-20"></div>
    <SectionNav />
</Layout>
