---
import Layout from '../../layouts/Layout.astro'
import Navbar from '../../components/Navbar.astro'
import Footer from '../../components/Footer.astro'
import Parabled_1_overview from "../../components/parabled/Parabled_1_overview.astro";
import Parabled_2_emphatize from "../../components/parabled/Parabled_2_emphatize.astro";
import Parabled_3_define from "../../components/parabled/Parabled_3_define.astro";
import Parabled_4_ideate from "../../components/parabled/Parabled_4_ideate.astro";
import Parabled_5_prototype from "../../components/parabled/Parabled_5_prototype.astro";
import Parabled_6_test from "../../components/parabled/Parabled_6_test.astro";
import SectionNav from '../../components/SectionNav.astro';
---

<Layout title="Hey, I'm Beatrix!">
    <Navbar />
    <section class="flex overflow-hidden flex-col items-end mx-auto w-full max-w-[64rem]">

        <Parabled_1_overview />
        <Parabled_2_emphatize />
        <Parabled_3_define />
        <Parabled_4_ideate />
        <Parabled_5_prototype />
        <Parabled_6_test />
    </section>
    <Footer />
    <div class="block w-full h-20"></div>
    <SectionNav />
</Layout>
