---
import { Image } from "astro:assets";
import beatrix from "../../assets/about/beatrix.png";


const color = {
    purple : "#5B3EFF"
}
---

<section class="flex flex-col w-full px-6 lg:max-w-[45rem] mx-auto mb-10">

    <h1 style="font-family: 'Playfair Display', serif;" class="text-3xl font-medium w-full text-center lg:text-left my-6">“Chill, it’s me.”</h1>

    <div class="flex flex-col lg:flex-row w-full gap-8 flex-nowrap">
        <div class="w-full lg:w-[18rem] aspect-square  object-cover block">
            <Image
            src={beatrix}
            alt="Me image"
            class="h-full w-full object-cover "
          />
        </div>
        <div class="w-full lg:w-[calc(100%_-_18rem)] text-sm flex flex-col gap-4 py-4">
            <h1 style="font-family: 'Playfair Display', serif;" class="text-3xl font-medium w-full text-left ">Be <span class={`text-[${color.purple}]`}>bold</span>, be <span class={`text-[${color.purple}]`}>different</span> </h1>
            <p>Hi, I’m Beatrix—a Seattle-based Designer, Writer, and Content Creator fueled by curiosity and a love for learning and tackling challenges. Right now, I’m shaping products in the esports, sustainability, and e-commerce spaces while sharing tech and career insights on Medium, LinkedIn, and TikTok.</p>
            <p>Oh, and I never start the day without a cup of matcha. Let’s create something amazing together!</p>
        </div>
    </div>


</section>