---
const color = {
    purple : "#FF3C2A"
}
---

<section class="flex flex-col w-full px-6 lg:max-w-[45rem] mx-auto mb-4">
  <div class="flex flex-col lg:flex-row w-full gap-8 flex-nowrap">
    <div class="w-full text-[16px] flex flex-col gap-1 py-4">
      <h1 style="font-family: 'Playfair Display', serif;" class="text-[32px] font-medium w-full text-left mb-4">
        Creating UX recipes by involving <span class={`text-[${color.purple}]`}>AI</span> and <span class={`text-[${color.purple}]`}>iteration</span>
      </h1>

      <h3 class="font-bold">Empathize and Define:</h3>
      <p>
        I start by diving deep into user research to understand the real problems and needs. Through interviews, surveys, and usability tests, I gather insights to define clear problem statements and prioritize user pain points. Collaborating with stakeholders ensures that everyone is aligned before I begin ideating.
      </p>

      <h3 class="font-bold mt-2">Ideate and Prototype:</h3>
      <p>
        Let’s get creative! I brainstorm and experiment, often sketching wireframes or developing low-fidelity prototypes to visualize ideas quickly. These prototypes are shared with cross-functional teams—developers, product managers, and users—for immediate feedback. I challenge myself with trial-and-error, creating multiple variations of designs and content to find the best solutions.
      </p>

      <h3 class="font-bold mt-2">Guidelines and Strategy:</h3>
      <p>
        Every good recipe needs clear instructions. I develop custom UX guidelines that reflect the brand voice, product tone, and user behavior. These aren’t just rules – they're adaptable to scale with any products under the brand.
      </p>

      <h3 class="font-bold mt-2">Test and Iterate with AI-driven strategies:</h3>
      <p>
        With feedback in hand, I refine designs into high-fidelity prototypes and conduct usability testing to validate solutions. Using an iterative cycle, I implement feedback to ensure the design not only meets user expectations but also aligns seamlessly with development sprints, delivering impactful, and user-centric products.
      </p>

      <p class="mt-2">
        Using AI, I speed up the content and design testing – not to replace myself, but to enhance efficiency.
      </p>
    </div>
  </div>
</section>
