---
const color = {
    purple : "#FF3C2A"
}
---

<section class="flex flex-col w-full px-6 lg:max-w-[45rem] mx-auto mb-4 ">


    <div class="flex flex-col lg:flex-row w-full gap-8 flex-nowrap">
     
        <div class="w-full text-sm flex flex-col gap-1 py-4">
            <h1 style="font-family: 'Playfair Display', serif;" class="text-3xl font-medium w-full text-left mb-4">My design process involes more <span class={`text-[${color.purple}]`}>iteration</span> </h1>
            <h3 class="font-bold">Empathize and Define:</h3>
            <p>I start by diving deep into user research to understand the core problems and needs. Through interviews, surveys, and usability tests, I gather insights to define clear problem statements and prioritize user pain points. Collaboration with stakeholders ensures alignment on goals from the outset.</p>
            <h3 class="font-bold mt-2">Ideate and Prototype</h3>
            <p>Next, I brainstorm and explore creative solutions, often sketching wireframes or developing low-fidelity prototypes to visualize ideas quickly. These prototypes are shared with cross-functional teams—developers, product managers, and users—for iterative feedback. This agile approach allows me to pivot and improve designs efficiently.</p>
            <h3 class="font-bold mt-2">Test and Iterate</h3>
            <p>With feedback in hand, I refine the designs into high-fidelity prototypes and conduct usability testing to validate solutions. Using an iterative cycle, I incorporate feedback to ensure the design not only meets user expectations but also aligns seamlessly with development sprints, delivering impactful and user-centric products</p>
        </div>
    </div>


</section>