---
const color = {
    purple : "#FF3C2A"
}
---

<section class="flex flex-col w-full px-6 lg:max-w-[45rem] mx-auto mb-8 ">


    <div class="flex flex-col lg:flex-row w-full gap-8 flex-nowrap">
     
        <div class="w-full text-[16px] flex flex-col gap-4 py-4">
            <h1 style="font-family: 'Playfair Display', serif;" class="text-[32px] font-medium w-full text-left ">I’m open to any <span class={`text-[${color.purple}]`}>opportunities</span> </h1>
            <p>Hey there! 🚀 If you're a business owner, company, or just someone in need of a designer or content writer, my DMs are always open.</p>
            <p>Oh, and I’m also open to speaking opportunities (in English or Indonesian). Let’s connect and make something amazing happen! 🎤✨</p>
        </div>
    </div>


</section>