---
const color = {
    purple : "#5B3EFF"
}
---

<section class="flex flex-col w-full px-6 lg:max-w-[45rem] mx-auto mb-4 ">


    <div class="flex flex-col lg:flex-row w-full gap-8 flex-nowrap">
     
        <div class="w-full text-sm flex flex-col gap-4 py-4">
            <h1 style="font-family: 'Playfair Display', serif;" class="text-4xl font-medium w-full text-left ">My skills, collaboration, and dedication help me craft <span class={`text-[${color.purple}]`}>better products</span> </h1>
            <p>From 2020 to early 2023, I worked with over 30 clients across various industries, including e-commerce, digital agencies, non-profit organizations, and CMS platforms.</p>
            <p>Since 2023, I have been working in the esports industry, closely collaborating with designers, the CEO, the marketing team, and product managers on UX content and usability testing. Through this experience, I discovered my passion for shaping and perfecting user flows. The highlight? The thrill of hearing users share positive feedback.</p>
            <p class="italic">My expertise lies in UX design, content strategy, localization, and UX research, enhanced by design thinking, leadership, mentorship, and a strategic approach to digital marketing.</p>
        </div>
    </div>


</section>