---
import { Image } from "astro:assets";
import beatrix from "../../assets/about/beatrix_2.png";


const color = {
    purple : "#5B3EFF"
}
---

<section class="flex flex-col w-full px-6 lg:max-w-[45rem] mx-auto mb-8">


    <div class="flex flex-col lg:flex-row w-full gap-8 flex-nowrap">
        <div class="w-full lg:w-[18rem] aspect-square  object-cover block">
            <Image
            src={beatrix}
            alt="Me image"
            class="h-full w-full object-cover "
          />
        </div>
        <div class="w-full lg:w-[calc(100%_-_18rem)] text-sm flex flex-col gap-4 py-4">
            <h1 style="font-family: 'Playfair Display', serif;" class="text-3xl font-medium w-full text-left ">Transition leads to <span class={`text-[${color.purple}]`}>incredible route</span> </h1>
            <p>I began my journey as a medical student in Indonesia, where I also volunteered as a physician, helping over 20 underserved individuals in rural Jakarta gain access to essential healthcare. Today, I <span class="font-bold italic">bring that same passion for improving lives to my career in UX</span>, creating user-centered solutions that make a difference.</p>
        </div>
    </div>


</section>