<div style="width: 360px;  padding: 24px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 24px; display: inline-flex">
  
    <div style="align-self: stretch; height: 480.97px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
      <div style="width: 312px; color: #020202; font-size: 20px; font-family: Playfair Display; font-weight: 600; word-wrap: break-word">Define the idea from the user journey</div>
      <div style="width: 312px; color: #020202; font-size: 16px; font-family: Open Sans; font-weight: 400; word-wrap: break-word">We used red routes to identify the user's most-frequently needs. <br/><br/>Based on the picture below, users preferred to use an automatic scan of grocery items because they wanted to shop quickly. Coupon and automatic scan also worked to help the users save money.
      </div>
      <img style="width: 312px; height: 208.97px; border-radius: 10px; border: 1px black solid" src="https://via.placeholder.com/312x209" />
    </div>
  </div>