---
import { Image } from "astro:assets";
import redRoutes from "../../assets/grocery-go-red-routes.png";
---


<div class="w-full  mx-auto py-6 px-[1.5rem] lg:px-[10rem] flex flex-col items-center gap-6 " id="define">
  <div class="w-full flex flex-col items-start gap-4">
    <h2 class="text-[#020202] text-xl sm:text-2xl font-semibold font-playfair">Define the idea from the user journey</h2>
    <p class="text-[#020202] text-base font-opensans">
      We used red routes to identify the user's most-frequently needs. 
      <br/><br/>
      Based on the picture below, users preferred to use an automatic scan of grocery items because they wanted to shop quickly. Coupon and automatic scan also worked to help the users save money.
    </p>
    <Image class="w-full h-auto rounded-lg border border-black md:w-[45rem] m-auto" src={redRoutes} alt="User journey illustration" />
  </div>
</div>