<div style="width: 360px;  padding: 24px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 24px; display: inline-flex">
    <div style="align-self: stretch; height: 406.95px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
      <div style="width: 312px; height: 80px"><span style="color: #5B3EFF; font-size: 18px; font-family: Playfair Display; font-weight: 700; word-wrap: break-word">SYNTHESIZING USER INSIGHTS<br/></span><span style="color: #020202; font-size: 20px; font-family: Playfair Display; font-weight: 600; word-wrap: break-word">Track grocery spending with minimum technology</span></div>
      <div style="width: 312px; color: #020202; font-size: 16px; font-family: Open Sans; font-weight: 400; word-wrap: break-word">Our user called out that he was willing to use the app as long as it is easier to navigate and track how much he is spending for groceries.
      </div>
      <img style="width: 312px; height: 222.95px; border-radius: 10px" src="https://via.placeholder.com/312x223" />
    </div>
    <div style="align-self: stretch; height: 194px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
      <div style="width: 312px; color: #020202; font-size: 20px; font-family: Playfair Display; font-weight: 600; word-wrap: break-word">Introduce a new technology with the easy setup</div>
      <div style="width: 312px; color: #020202; font-size: 16px; font-family: Open Sans; font-weight: 400; word-wrap: break-word">I advocated that the first screen is the logo that directs to sign up and tutorial. The illustration will be added to each tutorial. The language will be used as an opportunity to get the user excited to learn about the new technology.</div>
    </div>
  
  </div>