---
import { Image } from "astro:assets";
import persona from "../../assets/grocery-go-persona.png";
---


<div class="w-full mx-auto py-6 px-[6%] flex flex-col items-center gap-6" id="emphatize">
    <div class="w-full flex flex-col gap-2">
        <div class="space-y-1">
            <h3 class="text-[#5B3EFF] text-lg font-bold font-playfair">SYNTHESIZING USER INSIGHTS</h3>
            <h2 class="text-[#020202] text-xl sm:text-2xl font-semibold font-playfair">Track grocery spending with minimum technology</h2>
        </div>
        <p class="text-[#020202] text-base font-opensans">
            Our user called out that he was willing to use the app as long as it is easier to navigate and track how much he is spending for groceries.
        </p>
      
        <Image src={persona} class="w-full h-auto rounded-lg mt-2 md:w-4/5 m-auto"  alt="User insights illustration" />
    </div>
    <div class="w-full flex flex-col gap-2">
        <h2 class="text-[#020202] text-xl sm:text-2xl font-semibold font-playfair">Introduce a new technology with the easy setup</h2>
        <p class="text-[#020202] text-base font-opensans">
            I advocated that the first screen is the logo that directs to sign up and tutorial. The illustration will be added to each tutorial. The language will be used as an opportunity to get the user excited to learn about the new technology.
        </p>
    </div>
</div>