---
import { Image } from "astro:assets";
import ideation from "../../assets/grocery-go-ideation.png";
import IconFile from "../../components/icons/IconFile.astro";
import IconLaptop from "../../components/icons/IconLaptop.astro";
import IconPremium from "../../components/icons/IconPremium.astro";
import IconReceipt from "../../components/icons/IconReceipt.astro";
---

<div class="w-full  mx-auto py-6 px-[1.5rem] lg:px-[10rem] flex flex-col items-center gap-6" id="ideate">
    <div class="w-full flex flex-col gap-2">
      <div class="mb-2">
        <span class="text-[#5B3EFF] text-lg font-bold font-playfair">IDEATION 1<br/></span>
        <span class="text-[#020202] text-xl font-semibold font-playfair">Checkout quickly with discounts automatically applied</span>
      </div>
      <div class="text-[#020202] text-base font-opensans">
        <p>The features that we included in the prototype were:</p>
        <ul class="list-disc pl-5 mt-2">
          <li>Account setup and tutorial on how to use the app</li>
          <li>Discounts applied when checking out.</li>
          <li>Rewards after done shopping.</li>
          <li>Online receipt.</li>
        </ul>
        <p class="mt-4 italic font-semibold">Below is still under version 1 of the design. We improved it in the next version.</p>
      </div>
    </div>
    <div class="w-full">
      <h3 class="text-[#020202] text-xl font-semibold font-playfair mb-2">Scenario and testing V1</h3>
      <p class="text-[#020202] text-base font-opensans">Before we did the testing, we gave the user the scenario:</p>
    </div>
    
    


    <div class="flex flex-col md:flex-row items-center justify-between gap-4 mt-6 w-full">
      <div class="flex flex-col items-center gap-2  w-[236px]">
        <div class="w-12 h-12 relative">
          <IconFile />
        </div>
        <p class="text-center text-[#020202] text-base font-opensans">1. Users have to be able to sign up.</p>
      </div>
      <div class="flex flex-col items-center gap-2  w-[236px]">
        <div class="w-12 h-12 relative">
         <IconLaptop />
        </div>
        <p class="text-center text-[#020202] text-base font-opensans">Users are able to follow and replay the tutorial.</p>
      </div>
      <div class="flex flex-col items-center gap-2  w-[236px]">
        <div class="w-12 h-12 relative">
         <IconPremium />
        </div>
        <p class="text-center text-[#020202] text-base font-opensans">They can understand how the reward works.</p>
      </div>
    </div>
    <div class="flex flex-col md:flex-row items-center justify-evenly gap-4 mb-6 w-full">
      <div class="flex flex-col items-center gap-2  w-[236px]">
        <div class="w-12 h-12 relative">
         <IconReceipt />
        </div>
        <p class="text-center text-[#020202] text-base font-opensans">Users are able to check their purchase history.</p>
      </div>
      <div class="flex flex-col items-center gap-2  w-[236px]">
        <div class="w-12 h-12 relative">
          <IconLaptop />
        </div>
        <p class="text-center text-[#020202] text-base font-opensans">Users can quickly and easily have their items scanned automatically.</p>
      </div>
    </div>


    <div class="w-full">
      <p class="text-[#020202] text-base font-opensans">While users successfully navigated account setup, rewards, and the tutorial, our analysis uncovered several areas for improvement:</p>
    </div>
    <div class="w-full">
      <h3 class="text-[#020202] text-xl font-semibold font-playfair mb-2">Steps of payment method options</h3>
      <p class="text-[#020202] text-base font-opensans">Users found the process of adding a payment method too confusing due to the multiple steps involved. <br/><br/>They suggested a more intuitive approach, such as directly entering payment details instead of having to select from a dropdown menu.</p>
    </div>
    <div class="w-full">
      <h3 class="text-[#020202] text-xl font-semibold font-playfair mb-2">Find the receipt</h3>
      <p class="text-[#020202] text-base font-opensans">Users had a hard time finding the receipt. They took the time to figure out the 'History' button, which could direct them to the purchase history.</p>
    </div>
    <div class="w-full">
      <h3 class="text-[#020202] text-xl font-semibold font-playfair mb-2">Issue with the UI</h3>
      <p class="text-[#020202] text-base font-opensans">After talking to our design mentor, we realized that there was something that we lacked, which was the UI design. There was no color consistency between the logo and the button color. Also, we should pay more attention to the position of the text and the font size.</p>
    </div>
    <Image class="w-full h-auto md:w-[45rem]" src={ideation} alt="UI Design Issue" />
  </div>