<div style="width: 360px;  padding: 24px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 24px; display: inline-flex">
    <div style="align-self: stretch; height: 104px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
      <div style="width: 312px"><span style="color: #5B3EFF; font-size: 18px; font-family: Playfair Display; font-weight: 700; word-wrap: break-word">FINAL DESIGN<br/></span><span style="color: #020202; font-size: 20px; font-family: Playfair Display; font-weight: 600; word-wrap: break-word">Focus on the design looks</span></div>
      <div style="width: 312px; color: #020202; font-size: 16px; font-family: Open Sans; font-weight: 400; word-wrap: break-word">We enhanced our design with new UI elements, leading to these findings.</div>
    </div>
    <div style="align-self: stretch; height: 257px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
      <div style="width: 312px; color: #020202; font-size: 16px; font-family: Playfair Display; font-weight: 600; word-wrap: break-word">Set up an account and view simple tutorial</div>
      <div style="width: 312px; color: #020202; font-size: 16px; font-family: Open Sans; font-weight: 400; word-wrap: break-word">In this new tutorial design, we made the picture smaller balance with the font under the picture.</div>
      <div style="width: 312px; color: #020202; font-size: 16px; font-family: Open Sans; font-weight: 400; word-wrap: break-word">I included the special offers in the Terms of Use section.<br/>I highlighted the title of the tutorial to make it pop up to the users.<br/>We tried to make the picture smaller balance with the font under the picture.</div>
    </div>
  </div>
  <div style="width: 360px; height: 244px; position: relative; background: #CDE5FB">
    <div style="width: 97px; height: 195px; left: 16px; top: 24px; position: absolute">
      <div style="width: 97px; height: 46.14px; left: 0px; top: 26.14px; position: absolute">
        <div style="width: 0.68px; height: 22.73px; left: 96.32px; top: 18.64px; position: absolute; background: #121515"></div>
        <div style="width: 0.68px; height: 14.32px; left: 0px; top: 31.82px; position: absolute; background: #121515"></div>
        <div style="width: 0.68px; height: 14.32px; left: 0px; top: 13.86px; position: absolute; background: #121515"></div>
        <div style="width: 0.68px; height: 7.50px; left: 0px; top: 0px; position: absolute; background: #121515"></div>
      </div>
      <div style="width: 95.64px; height: 195px; left: 0.68px; top: 0px; position: absolute; background: #3A4245; box-shadow: 0px 0px 2px rgba(0, 21, 64, 0.14)"></div>
      <div style="width: 93.37px; height: 192.73px; left: 1.82px; top: 1.14px; position: absolute; background: #121515"></div>
      <div style="width: 3.63px; height: 3.64px; left: 57.02px; top: 5.45px; position: absolute">
        <div style="width: 3.63px; height: 3.64px; left: 0px; top: 0px; position: absolute; background: #262C2D"></div>
        <div style="width: 2.27px; height: 2.27px; left: 0.68px; top: 0.68px; position: absolute; background: #121515"></div>
        <div style="width: 0.45px; height: 0.45px; left: 1.59px; top: 1.14px; position: absolute; opacity: 0.40; background: #636F73"></div>
      </div>
      <div style="width: 11.59px; height: 1.36px; left: 42.71px; top: 6.59px; position: absolute">
        <div style="width: 11.59px; height: 1.36px; left: 0px; top: 0px; position: absolute; background: #262C2D; border-radius: 100px"></div>
      </div>
      <div style="width: 85.19px; height: 184.55px; left: 5.91px; top: 5.23px; position: absolute">
        <div style="width: 85.19px; height: 184.55px; left: 0px; top: 0px; position: absolute; background: white"></div>
        <img style="width: 85.19px; height: 184.55px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/85x185" />
      </div>
    </div>
    <div style="width: 97px; height: 195px; left: 245px; top: 25px; position: absolute">
      <div style="width: 97px; height: 46.14px; left: 0px; top: 26.14px; position: absolute">
        <div style="width: 0.68px; height: 22.73px; left: 96.32px; top: 18.64px; position: absolute; background: #121515"></div>
        <div style="width: 0.68px; height: 14.32px; left: 0px; top: 31.82px; position: absolute; background: #121515"></div>
        <div style="width: 0.68px; height: 14.32px; left: 0px; top: 13.86px; position: absolute; background: #121515"></div>
        <div style="width: 0.68px; height: 7.50px; left: 0px; top: 0px; position: absolute; background: #121515"></div>
      </div>
      <div style="width: 95.64px; height: 195px; left: 0.68px; top: 0px; position: absolute; background: #3A4245; box-shadow: 0px 0px 2px rgba(0, 21, 64, 0.14)"></div>
      <div style="width: 93.37px; height: 192.73px; left: 1.82px; top: 1.14px; position: absolute; background: #121515"></div>
      <div style="width: 3.63px; height: 3.64px; left: 57.02px; top: 5.45px; position: absolute">
        <div style="width: 3.63px; height: 3.64px; left: 0px; top: 0px; position: absolute; background: #262C2D"></div>
        <div style="width: 2.27px; height: 2.27px; left: 0.68px; top: 0.68px; position: absolute; background: #121515"></div>
        <div style="width: 0.45px; height: 0.45px; left: 1.59px; top: 1.14px; position: absolute; opacity: 0.40; background: #636F73"></div>
      </div>
      <div style="width: 11.59px; height: 1.36px; left: 42.71px; top: 6.59px; position: absolute">
        <div style="width: 11.59px; height: 1.36px; left: 0px; top: 0px; position: absolute; background: #262C2D; border-radius: 100px"></div>
      </div>
      <div style="width: 85.19px; height: 184.55px; left: 5.91px; top: 5.23px; position: absolute">
        <div style="width: 85.19px; height: 184.55px; left: 0px; top: 0px; position: absolute; background: white"></div>
        <img style="width: 85.19px; height: 184.55px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/85x185" />
      </div>
    </div>
    <div style="width: 98px; height: 195px; left: 131px; top: 25px; position: absolute">
      <div style="width: 98px; height: 46.14px; left: 0px; top: 26.14px; position: absolute">
        <div style="width: 0.69px; height: 22.73px; left: 97.31px; top: 18.64px; position: absolute; background: #121515"></div>
        <div style="width: 0.69px; height: 14.32px; left: 0px; top: 31.82px; position: absolute; background: #121515"></div>
        <div style="width: 0.69px; height: 14.32px; left: 0px; top: 13.86px; position: absolute; background: #121515"></div>
        <div style="width: 0.69px; height: 7.50px; left: 0px; top: 0px; position: absolute; background: #121515"></div>
      </div>
      <div style="width: 96.62px; height: 195px; left: 0.69px; top: 0px; position: absolute; background: #3A4245; box-shadow: 0px 0px 2px rgba(0, 21, 64, 0.14)"></div>
      <div style="width: 94.33px; height: 192.73px; left: 1.84px; top: 1.14px; position: absolute; background: #121515"></div>
      <div style="width: 3.67px; height: 3.64px; left: 57.61px; top: 5.45px; position: absolute">
        <div style="width: 3.67px; height: 3.64px; left: 0px; top: 0px; position: absolute; background: #262C2D"></div>
        <div style="width: 2.30px; height: 2.27px; left: 0.69px; top: 0.68px; position: absolute; background: #121515"></div>
        <div style="width: 0.46px; height: 0.45px; left: 1.61px; top: 1.14px; position: absolute; opacity: 0.40; background: #636F73"></div>
      </div>
      <div style="width: 11.70px; height: 1.36px; left: 43.15px; top: 6.59px; position: absolute">
        <div style="width: 11.70px; height: 1.36px; left: 0px; top: 0px; position: absolute; background: #262C2D; border-radius: 100px"></div>
      </div>
      <div style="width: 86.07px; height: 184.55px; left: 5.97px; top: 5.23px; position: absolute">
        <div style="width: 86.07px; height: 184.55px; left: 0px; top: 0px; position: absolute; background: white"></div>
        <img style="width: 86.07px; height: 184.55px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/86x185" />
      </div>
    </div>
  </div>
  <div style="width: 360px; height: 244px; position: relative; background: #CDE5FB">
    <div style="width: 97px; height: 196px; left: 67px; top: 24px; position: absolute">
      <div style="width: 97px; height: 46.37px; left: 0px; top: 26.27px; position: absolute">
        <div style="width: 0.68px; height: 22.84px; left: 96.32px; top: 18.73px; position: absolute; background: #121515"></div>
        <div style="width: 0.68px; height: 14.39px; left: 0px; top: 31.98px; position: absolute; background: #121515"></div>
        <div style="width: 0.68px; height: 14.39px; left: 0px; top: 13.93px; position: absolute; background: #121515"></div>
        <div style="width: 0.68px; height: 7.54px; left: 0px; top: 0px; position: absolute; background: #121515"></div>
      </div>
      <div style="width: 95.64px; height: 196px; left: 0.68px; top: 0px; position: absolute; background: #3A4245; box-shadow: 0px 0px 2px rgba(0, 21, 64, 0.14)"></div>
      <div style="width: 93.37px; height: 193.72px; left: 1.82px; top: 1.14px; position: absolute; background: #121515"></div>
      <div style="width: 3.63px; height: 3.66px; left: 57.02px; top: 5.48px; position: absolute">
        <div style="width: 3.63px; height: 3.66px; left: 0px; top: 0px; position: absolute; background: #262C2D"></div>
        <div style="width: 2.27px; height: 2.28px; left: 0.68px; top: 0.69px; position: absolute; background: #121515"></div>
        <div style="width: 0.45px; height: 0.46px; left: 1.59px; top: 1.14px; position: absolute; opacity: 0.40; background: #636F73"></div>
      </div>
      <div style="width: 11.59px; height: 1.37px; left: 42.71px; top: 6.62px; position: absolute">
        <div style="width: 11.59px; height: 1.37px; left: 0px; top: 0px; position: absolute; background: #262C2D; border-radius: 100px"></div>
      </div>
      <div style="width: 85.19px; height: 185.49px; left: 5.91px; top: 5.25px; position: absolute">
        <div style="width: 85.19px; height: 185.49px; left: 0px; top: 0px; position: absolute; background: white"></div>
        <img style="width: 85.19px; height: 185.49px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/85x185" />
      </div>
    </div>
    <div style="width: 97px; height: 195px; left: 196px; top: 25px; position: absolute">
      <div style="width: 97px; height: 46.14px; left: 0px; top: 26.14px; position: absolute">
        <div style="width: 0.68px; height: 22.73px; left: 96.32px; top: 18.64px; position: absolute; background: #121515"></div>
        <div style="width: 0.68px; height: 14.32px; left: 0px; top: 31.82px; position: absolute; background: #121515"></div>
        <div style="width: 0.68px; height: 14.32px; left: 0px; top: 13.86px; position: absolute; background: #121515"></div>
        <div style="width: 0.68px; height: 7.50px; left: 0px; top: 0px; position: absolute; background: #121515"></div>
      </div>
      <div style="width: 95.64px; height: 195px; left: 0.68px; top: 0px; position: absolute; background: #3A4245; box-shadow: 0px 0px 2px rgba(0, 21, 64, 0.14)"></div>
      <div style="width: 93.37px; height: 192.73px; left: 1.82px; top: 1.14px; position: absolute; background: #121515"></div>
      <div style="width: 3.63px; height: 3.64px; left: 57.02px; top: 5.45px; position: absolute">
        <div style="width: 3.63px; height: 3.64px; left: 0px; top: 0px; position: absolute; background: #262C2D"></div>
        <div style="width: 2.27px; height: 2.27px; left: 0.68px; top: 0.68px; position: absolute; background: #121515"></div>
        <div style="width: 0.45px; height: 0.45px; left: 1.59px; top: 1.14px; position: absolute; opacity: 0.40; background: #636F73"></div>
      </div>
      <div style="width: 11.59px; height: 1.36px; left: 42.71px; top: 6.59px; position: absolute">
        <div style="width: 11.59px; height: 1.36px; left: 0px; top: 0px; position: absolute; background: #262C2D; border-radius: 100px"></div>
      </div>
      <div style="width: 85.19px; height: 184.55px; left: 5.91px; top: 5.23px; position: absolute">
        <div style="width: 85.19px; height: 184.55px; left: 0px; top: 0px; position: absolute; background: white"></div>
        <img style="width: 85.19px; height: 184.55px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/85x185" />
      </div>
    </div>
  </div>
  <div style="width: 360px; height: 1498px; padding: 24px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 24px; display: inline-flex">
    <div style="align-self: stretch; height: 235px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
      <div style="width: 312px; color: #020202; font-size: 16px; font-family: Playfair Display; font-weight: 700; word-wrap: break-word">Grab the items and check out</div>
      <div style="width: 312px; color: #020202; font-size: 16px; font-family: Open Sans; font-weight: 400; word-wrap: break-word">In the checkout page, discount was automatically applied to the system. And after pressing the checkout button, users will be directed to payment method options.</div>
      <div style="width: 312px; color: #020202; font-size: 16px; font-family: Open Sans; font-weight: 400; word-wrap: break-word">The cart will be automatically updated when we put the stuff in the cart.<br/>Discount was automatically applied to the system.</div>
    </div>
    <div style="width: 308px; height: 488px; padding: 24px; background: #C4C4C4; flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: flex">
      <div style="width: 364.43px; height: 105.17px; text-align: center; color: rgba(58, 57, 57, 0.90); font-size: 40px; font-family: Roboto; font-weight: 400; word-wrap: break-word">VIDEO 2<br/>(sesuaikan)</div>
    </div>
    <div style="align-self: stretch; height: 679px; padding: 24px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 24px; display: flex">
      <div style="align-self: stretch; height: 95px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
        <div style="width: 312px; color: #020202; font-size: 16px; font-family: Playfair Display; font-weight: 700; word-wrap: break-word">Get a receipt and collect the reward</div>
        <div style="align-self: stretch; color: #020202; font-size: 16px; font-family: Open Sans; font-weight: 400; word-wrap: break-word">Receipt and reward are available right away after users pay the items.</div>
      </div>
      <div style="width: 360px; height: 244px; position: relative; background: #CDE5FB">
        <div style="width: 97px; height: 194.46px; left: 16px; top: 24px; position: absolute">
          <div style="width: 97px; height: 46.01px; left: 0px; top: 26.06px; position: absolute">
            <div style="width: 0.68px; height: 22.66px; left: 96.32px; top: 18.59px; position: absolute; background: #121515"></div>
            <div style="width: 0.68px; height: 14.28px; left: 0px; top: 31.73px; position: absolute; background: #121515"></div>
            <div style="width: 0.68px; height: 14.28px; left: 0px; top: 13.83px; position: absolute; background: #121515"></div>
            <div style="width: 0.68px; height: 7.48px; left: 0px; top: 0px; position: absolute; background: #121515"></div>
          </div>
          <div style="width: 95.64px; height: 194.46px; left: 0.68px; top: 0px; position: absolute; background: #3A4245; box-shadow: 0px 0px 2px rgba(0, 21, 64, 0.14)"></div>
          <div style="width: 93.37px; height: 192.20px; left: 1.82px; top: 1.13px; position: absolute; background: #121515"></div>
          <div style="width: 3.63px; height: 3.63px; left: 57.02px; top: 5.44px; position: absolute">
            <div style="width: 3.63px; height: 3.63px; left: 0px; top: 0px; position: absolute; background: #262C2D"></div>
            <div style="width: 2.27px; height: 2.27px; left: 0.68px; top: 0.68px; position: absolute; background: #121515"></div>
            <div style="width: 0.45px; height: 0.45px; left: 1.59px; top: 1.13px; position: absolute; opacity: 0.40; background: #636F73"></div>
          </div>
          <div style="width: 11.59px; height: 1.36px; left: 42.71px; top: 6.57px; position: absolute">
            <div style="width: 11.59px; height: 1.36px; left: 0px; top: 0px; position: absolute; background: #262C2D; border-radius: 100px"></div>
          </div>
          <div style="width: 85.19px; height: 184.04px; left: 5.91px; top: 5.21px; position: absolute">
            <div style="width: 85.19px; height: 184.04px; left: 0px; top: 0px; position: absolute; background: white"></div>
            <img style="width: 85.19px; height: 184.04px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/85x184" />
          </div>
        </div>
        <div style="width: 97px; height: 194.46px; left: 131px; top: 24px; position: absolute">
          <div style="width: 97px; height: 46.01px; left: 0px; top: 26.06px; position: absolute">
            <div style="width: 0.68px; height: 22.66px; left: 96.32px; top: 18.59px; position: absolute; background: #121515"></div>
            <div style="width: 0.68px; height: 14.28px; left: 0px; top: 31.73px; position: absolute; background: #121515"></div>
            <div style="width: 0.68px; height: 14.28px; left: 0px; top: 13.83px; position: absolute; background: #121515"></div>
            <div style="width: 0.68px; height: 7.48px; left: 0px; top: 0px; position: absolute; background: #121515"></div>
          </div>
          <div style="width: 95.64px; height: 194.46px; left: 0.68px; top: 0px; position: absolute; background: #3A4245; box-shadow: 0px 0px 2px rgba(0, 21, 64, 0.14)"></div>
          <div style="width: 93.37px; height: 192.20px; left: 1.82px; top: 1.13px; position: absolute; background: #121515"></div>
          <div style="width: 3.63px; height: 3.63px; left: 57.02px; top: 5.44px; position: absolute">
            <div style="width: 3.63px; height: 3.63px; left: 0px; top: 0px; position: absolute; background: #262C2D"></div>
            <div style="width: 2.27px; height: 2.27px; left: 0.68px; top: 0.68px; position: absolute; background: #121515"></div>
            <div style="width: 0.45px; height: 0.45px; left: 1.59px; top: 1.13px; position: absolute; opacity: 0.40; background: #636F73"></div>
          </div>
          <div style="width: 11.59px; height: 1.36px; left: 42.71px; top: 6.57px; position: absolute">
            <div style="width: 11.59px; height: 1.36px; left: 0px; top: 0px; position: absolute; background: #262C2D; border-radius: 100px"></div>
          </div>
          <div style="width: 85.19px; height: 184.04px; left: 5.91px; top: 5.21px; position: absolute">
            <div style="width: 85.19px; height: 184.04px; left: 0px; top: 0px; position: absolute; background: white"></div>
            <img style="width: 85.19px; height: 184.04px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/85x184" />
          </div>
        </div>
        <div style="width: 97px; height: 194.93px; left: 246px; top: 23px; position: absolute">
          <div style="width: 97px; height: 46.12px; left: 0px; top: 26.13px; position: absolute">
            <div style="width: 0.68px; height: 22.72px; left: 96.32px; top: 18.63px; position: absolute; background: #121515"></div>
            <div style="width: 0.68px; height: 14.31px; left: 0px; top: 31.81px; position: absolute; background: #121515"></div>
            <div style="width: 0.68px; height: 14.31px; left: 0px; top: 13.86px; position: absolute; background: #121515"></div>
            <div style="width: 0.68px; height: 7.50px; left: 0px; top: 0px; position: absolute; background: #121515"></div>
          </div>
          <div style="width: 95.64px; height: 194.93px; left: 0.68px; top: 0px; position: absolute; background: #3A4245; box-shadow: 0px 0px 2px rgba(0, 21, 64, 0.14)"></div>
          <div style="width: 93.37px; height: 192.66px; left: 1.82px; top: 1.14px; position: absolute; background: #121515"></div>
          <div style="width: 3.63px; height: 3.64px; left: 57.02px; top: 5.45px; position: absolute">
            <div style="width: 3.63px; height: 3.64px; left: 0px; top: 0px; position: absolute; background: #262C2D"></div>
            <div style="width: 2.27px; height: 2.27px; left: 0.68px; top: 0.68px; position: absolute; background: #121515"></div>
            <div style="width: 0.45px; height: 0.45px; left: 1.59px; top: 1.14px; position: absolute; opacity: 0.40; background: #636F73"></div>
          </div>
          <div style="width: 11.59px; height: 1.36px; left: 42.71px; top: 6.59px; position: absolute">
            <div style="width: 11.59px; height: 1.36px; left: 0px; top: 0px; position: absolute; background: #262C2D; border-radius: 100px"></div>
          </div>
          <div style="width: 85.19px; height: 184.48px; left: 5.91px; top: 5.23px; position: absolute">
            <div style="width: 85.19px; height: 184.48px; left: 0px; top: 0px; position: absolute; background: white"></div>
            <img style="width: 85.19px; height: 184.48px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/85x184" />
          </div>
        </div>
      </div>
      <div style="width: 360px; height: 244px; position: relative; background: #CDE5FB">
        <div style="width: 97px; height: 195.87px; left: 67px; top: 24px; position: absolute">
          <div style="width: 97px; height: 46.34px; left: 0px; top: 26.25px; position: absolute">
            <div style="width: 0.68px; height: 22.83px; left: 96.32px; top: 18.72px; position: absolute; background: #121515"></div>
            <div style="width: 0.68px; height: 14.38px; left: 0px; top: 31.96px; position: absolute; background: #121515"></div>
            <div style="width: 0.68px; height: 14.38px; left: 0px; top: 13.93px; position: absolute; background: #121515"></div>
            <div style="width: 0.68px; height: 7.53px; left: 0px; top: 0px; position: absolute; background: #121515"></div>
          </div>
          <div style="width: 95.64px; height: 195.87px; left: 0.68px; top: 0px; position: absolute; background: #3A4245; box-shadow: 0px 0px 2px rgba(0, 21, 64, 0.14)"></div>
          <div style="width: 93.37px; height: 193.58px; left: 1.82px; top: 1.14px; position: absolute; background: #121515"></div>
          <div style="width: 3.63px; height: 3.65px; left: 57.02px; top: 5.48px; position: absolute">
            <div style="width: 3.63px; height: 3.65px; left: 0px; top: 0px; position: absolute; background: #262C2D"></div>
            <div style="width: 2.27px; height: 2.28px; left: 0.68px; top: 0.68px; position: absolute; background: #121515"></div>
            <div style="width: 0.45px; height: 0.46px; left: 1.59px; top: 1.14px; position: absolute; opacity: 0.40; background: #636F73"></div>
          </div>
          <div style="width: 11.59px; height: 1.37px; left: 42.71px; top: 6.62px; position: absolute">
            <div style="width: 11.59px; height: 1.37px; left: 0px; top: 0px; position: absolute; background: #262C2D; border-radius: 100px"></div>
          </div>
          <div style="width: 85.19px; height: 185.36px; left: 5.91px; top: 5.25px; position: absolute">
            <div style="width: 85.19px; height: 185.36px; left: 0px; top: 0px; position: absolute; background: white"></div>
            <img style="width: 85.19px; height: 185.36px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/85x185" />
          </div>
        </div>
        <div style="width: 97px; height: 194.84px; left: 196px; top: 24px; position: absolute">
          <div style="width: 97px; height: 46.10px; left: 0px; top: 26.11px; position: absolute">
            <div style="width: 0.68px; height: 22.71px; left: 96.32px; top: 18.62px; position: absolute; background: #121515"></div>
            <div style="width: 0.68px; height: 14.31px; left: 0px; top: 31.79px; position: absolute; background: #121515"></div>
            <div style="width: 0.68px; height: 14.31px; left: 0px; top: 13.85px; position: absolute; background: #121515"></div>
            <div style="width: 0.68px; height: 7.49px; left: 0px; top: 0px; position: absolute; background: #121515"></div>
          </div>
          <div style="width: 95.64px; height: 194.84px; left: 0.68px; top: 0px; position: absolute; background: #3A4245; box-shadow: 0px 0px 2px rgba(0, 21, 64, 0.14)"></div>
          <div style="width: 93.37px; height: 192.57px; left: 1.82px; top: 1.14px; position: absolute; background: #121515"></div>
          <div style="width: 3.63px; height: 3.63px; left: 57.02px; top: 5.45px; position: absolute">
            <div style="width: 3.63px; height: 3.63px; left: 0px; top: 0px; position: absolute; background: #262C2D"></div>
            <div style="width: 2.27px; height: 2.27px; left: 0.68px; top: 0.68px; position: absolute; background: #121515"></div>
            <div style="width: 0.45px; height: 0.45px; left: 1.59px; top: 1.14px; position: absolute; opacity: 0.40; background: #636F73"></div>
          </div>
          <div style="width: 11.59px; height: 1.36px; left: 42.71px; top: 6.59px; position: absolute">
            <div style="width: 11.59px; height: 1.36px; left: 0px; top: 0px; position: absolute; background: #262C2D; border-radius: 100px"></div>
          </div>
          <div style="width: 85.19px; height: 184.39px; left: 5.91px; top: 5.22px; position: absolute">
            <div style="width: 85.19px; height: 184.39px; left: 0px; top: 0px; position: absolute; background: white"></div>
            <img style="width: 85.19px; height: 184.39px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/85x184" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="width: 360px; height: 88px; padding-left: 24px; padding-right: 24px; padding-top: 16px; padding-bottom: 16px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 24px; display: inline-flex">
    <div style="align-self: stretch; padding: 16px; background: #4D2EFF; box-shadow: 4px 4px 2.799999952316284px rgba(2, 2, 2, 0.25); border-radius: 15px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
      <div style="text-align: center; color: #FFF2EF; font-size: 18px; font-family: Playfair Display; font-weight: 700; word-wrap: break-word">View prototype</div>
    </div>
  </div>