---
import { Image } from "astro:assets";
import mockup1 from "../../assets/grocery-go-mockup-1.png";
import mockup2 from "../../assets/grocery-go-mockup-3.png";
import vid2 from "../../assets/vid-2.gif"

---

<div class="w-full lg:max-w-[45rem] mx-auto px-6" id="prototype">
    <div class="w-full flex flex-col gap-2">
      <div class="mb-2">
        <span style="font-family: 'Playfair Display', serif;" class="text-[#5B3EFF] text-lg font-bold font-playfair">FINAL DESIGN<br/></span>
        <span style="font-family: 'Playfair Display', serif;" class="text-[#020202] text-xl font-semibold font-playfair">Focus on the design looks</span>
      </div>
      <div class="text-[#020202] text-base xl:text-sm font-opensans">
        <p>We enhanced our design with new UI elements, leading to these findings.</p>
      </div>
    </div>
    <div class="w-full flex flex-col gap-2 pl-4">
      <h3 style="font-family: 'Playfair Display', serif;" class="text-[#020202] text-lg font-semibold font-playfair">Set up an account and view simple tutorial</h3>
      <ul class="list-disc pl-4">
      <li class="text-[#020202] text-base xl:text-sm font-opensans">I created a seamless design with a blue background.</li>
      <li class="text-[#020202] text-base xl:text-sm font-opensans"> We attempted to adjust the picture's size to balance with the font beneath it.</li>
    </ul>
    </div>
    <Image class="w-full h-auto  mx-auto mt-4" src={mockup1} alt="UI Design Issue" />
  </div>
  
  
  <div class="w-full md:w-[45rem] mx-auto py-6 px-[1.5rem]   flex flex-col items-center gap-6 bg-white">
    <div class="flex flex-col-reverse lg:flex-row gap-8">
     
      


      <Image 
      src={vid2} 
      alt="Grocery Go Demo" 
      class="w-full lg:w-1/4 h-auto " 
      onload="document.getElementById('spinner').style.display='none';"
    />

      <div class="w-full lg:w-3/4 flex flex-col gap-2 lg:mt-4">
        <h3 style="font-family: 'Playfair Display', serif;" class="text-[#020202] text-lg font-semibold font-playfair">Grab the items and check out</h3>
        <p class="text-[#020202] text-base xl:text-sm font-opensans">In the checkout page, discount was automatically applied to the system. And after pressing the checkout button, users will be directed to payment method options.</p>
        <p class="text-[#020202] text-base xl:text-sm font-opensans">The cart will be automatically updated when we put the stuff in the cart. Discount was automatically applied to the system.</p>
      </div>

    </div>


  </div>

  <div class="w-full lg:max-w-[45rem] mx-auto px-6">
  

    
    <div class="w-full flex flex-col gap-4">
      <h3 class="text-[#020202] text-lg font-semibold font-playfair">Get a receipt and collect the reward</h3>
      <p class="text-[#020202] text-base xl:text-sm font-opensans">Receipt and reward are available right away after users pay the items.</p>
    </div>
    <Image class="w-full h-auto  mx-auto mt-4" src={mockup2} alt="UI Design Issue" />
  </div>
  
  
  <div class="w-[240px] mx-auto py-4 ">
    <a href="#https://www.figma.com/proto/Yd3lTinCRmtZ8IfmfIzeBc/Shopping-Cart-2.0?page-id=0%3A1&node-id=1-2&node-type=frame&viewport=617%2C726%2C0.24&t=1PvDOhMgjIZzqxOf-1&scaling=scale-down&content-scaling=fixed"
       target="_blank"
       class="block w-full py-4 px-6 bg-[#4D2EFF] text-white text-center font-bold rounded-lg shadow-md hover:bg-[#3D1EFF] transition-colors duration-300">
      View prototype
    </a>
  </div>

