<div class="w-full lg:max-w-[45rem] mx-auto px-6" id="test">
    <div class="w-full flex flex-col gap-2">
      <div class="mb-2">
        <span style="font-family: 'Playfair Display', serif;" class="text-[#5B3EFF] text-lg font-bold font-playfair">IMPACT<br/></span>
        <span style="font-family: 'Playfair Display', serif;" class="text-[#020202] text-xl font-semibold font-playfair">The results fulfilled our expectations</span>
      </div>
      <p class="text-[#020202] text-base xl:text-sm font-opensans">We conducted the test and found all users could use the app without any help from us.</p>
    </div>
    <blockquote class="text-center text-[#020202] text-xl font-opensans italic font-semibold">"I like the discount that directly applies when I check out."</blockquote>
    <blockquote class="text-center text-[#020202] text-xl font-opensans italic font-semibold">"The tutorial is easier to follow!"</blockquote>
    <div class="flex flex-col md:flex-row gap-4 w-full mt-4 md:gap-10">
      <div class="w-full md:w-1/2 p-4 bg-[#AAE5FE] rounded-2xl">
        <h3 style="font-family: 'Playfair Display', serif;" class="text-[#020202] text-3xl font-bold font-playfair mb-2">5/5</h3>
        <p class="text-[#020202] text-base xl:text-sm font-opensans">Users were able to check the reward.</p>
      </div>
      <div class="w-full md:w-1/2 p-4 bg-[#AAE5FE] rounded-2xl">
        <h3 style="font-family: 'Playfair Display', serif;" class="text-[#020202] text-3xl font-bold font-playfair mb-2">4/5</h3>
        <p class="text-[#020202] text-base xl:text-sm font-opensans">Users admitted that receipt history helped them to track how much they spend monthly.</p>
      </div>
    </div>

  </div>