<div style="width: 360px;  padding: 24px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 24px; display: inline-flex">
    <div style="align-self: stretch; height: 153px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
      <div style="width: 312px"><span style="color: #5B3EFF; font-size: 18px; font-family: Playfair Display; font-weight: 700; word-wrap: break-word">IMPACT<br/></span><span style="color: #020202; font-size: 20px; font-family: Playfair Display; font-weight: 600; word-wrap: break-word">The results fulfilled our expectations</span></div>
      <div style="width: 312px; color: #020202; font-size: 16px; font-family: Open Sans; font-weight: 400; word-wrap: break-word">We conducted the test and found all users could use the app without any help from us.</div>
    </div>
    <div style="width: 312px; text-align: center; color: #020202; font-size: 20px; font-family: Open Sans; font-style: italic; font-weight: 600; word-wrap: break-word">"I like the discount that directly applies when I check out."</div>
    <div style="width: 312px; height: 27px; text-align: center; color: #020202; font-size: 20px; font-family: Open Sans; font-style: italic; font-weight: 600; word-wrap: break-word">"The tutorial is easier to follow!"</div>
    <div style="align-self: stretch; height: 107px; padding: 16px; background: #AAE5FE; border-radius: 15px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
      <div style="width: 41px; color: #020202; font-size: 32px; font-family: Playfair Display; font-weight: 700; word-wrap: break-word">5/5</div>
      <div style="align-self: stretch; color: #020202; font-size: 16px; font-family: Open Sans; font-weight: 400; word-wrap: break-word">Users were able to
      check the reward.
      </div>
    </div>
    <div style="align-self: stretch; height: 151px; padding: 16px; background: #AAE5FE; border-radius: 15px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
      <div style="align-self: stretch; color: #020202; font-size: 32px; font-family: Playfair Display; font-weight: 700; word-wrap: break-word">4/5</div>
      <div style="align-self: stretch; color: #020202; font-size: 16px; font-family: Open Sans; font-weight: 400; word-wrap: break-word">Users admitted that
      receipt history helped them to track how much they spend monthly. 
      </div>
    </div>
    <div style="align-self: stretch; height: 91px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 16px; display: flex">
      <div style="align-self: stretch; height: 56px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 16px; display: flex">
        <div style="align-self: stretch; padding: 16px; box-shadow: 3px 3px 2.799999952316284px rgba(2, 2, 2, 0.25); border-radius: 15px; border: 1px #4D2EFF solid; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
          <div style="text-align: center; color: #5B3EFF; font-size: 18px; font-family: Playfair Display; font-weight: 800; word-wrap: break-word">Next project</div>
          <div style="width: 24px; height: 24px; position: relative">
            <div style="width: 20px; height: 20px; left: 2px; top: 2px; position: absolute; border: 2px #5B3EFF solid"></div>
          </div>
        </div>
      </div>
      <div style="height: 19px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
        <div style="align-self: stretch; text-align: center; color: rgba(2, 2, 2, 0.80); font-size: 14px; font-family: Playfair Display; font-weight: 800; word-wrap: break-word">Back to home</div>
      </div>
    </div>
  </div>