---
import ItsMe from "../components/about/ItsMe.astro";
import MyDesign from "../components/about/MyDesign.astro";
import MySkills from "../components/about/MySkills.astro";
import MyTransition from "../components/about/MyTransition.astro";
import MyOpportunities from "../components/about/MyOpportunities.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import WhatsNext from "../components/about/WhatsNext.astro";



---



<Layout title="Hey, I'm Beatrix!">
    <Navbar />
    <main>
       <ItsMe />
       <MyTransition />
        <MySkills />
        <MyDesign />
        <!-- <MyOpportunities /> -->
         <WhatsNext />
    </main>
    <Footer />
    <div class="block w-full h-20"></div>
</Layout>