<section
  class="flex items-center px-4 sm:px-6 lg:px-20 py-6 flex-col z-[11] bg-[#FFF2EF] sm:bg-white relative"
>
  <h1
    class=" text-[40px] md:text-[80px] leading-[107px] w-full text-center max-w-[1032px] mx-auto mb-4"
    style="font-family: 'Playfair Display', serif;"
  >
    <span id="typewriter"></span><span class="text-[#5B3EFF] transition-all duration-700" id="name"></span><span id="exclamation"></span>
    <script>
      const text = "Hey, I'm ";
      const name = "Beatrix";
      let isPulsing = true;

      function pulseName() {
        if (isPulsing) {
          document.getElementById("name").style.opacity = "0.8";
          setTimeout(() => {
            document.getElementById("name").style.opacity = "1";
            setTimeout(pulseName, 1000);
          }, 1000);
        }
      }

      setTimeout(pulseName, 3000); // Start pulsing after the name is fully typed
      const exclamation = "!";
      let i = 0;
      let j = 0;
      let k = 0;

      function typeWriter() {
        if (i < text.length) {
          document.getElementById("typewriter").innerHTML += text.charAt(i);
          i++;
          setTimeout(typeWriter, 100);
        } else if (j < name.length) {
          document.getElementById("name").innerHTML += name.charAt(j);
          j++;
          setTimeout(typeWriter, 100);
        } else if (k < exclamation.length) {
          document.getElementById("exclamation").innerHTML += exclamation.charAt(k);
          k++;
          setTimeout(typeWriter, 100);
        }
      }

      window.onload = typeWriter;
    </script>
  </h1>
  <p class="w-full text-center max-w-[1032px] mx-auto text-2xl font-normal">
    A <span class="font-bold italic">UX Designer</span>  &nbsp;or <span class="font-bold italic">UX Writer</span> &nbsp;with 4+ years of experience, I am skilled at
    solving complex problems and crafting compelling narratives. My unique blend
    of mathematical, creative, and empathetic skills allows me to create
    innovative solutions that resonate deeply with users and businesses.
  </p>
</section>
