<section
  class="flex items-center px-[1.5rem]  lg:px-20 py-0 flex-col z-[11] bg-white relative"
>
  <h1
    class=" text-[2.5rem] lg:text-[5rem] leading-[5rem] w-full text-center max-w-[64rem] mx-auto mb-4"
    style="font-family: 'Playfair Display', serif;"
  >
    <!-- <span id="typewriter"></span><span class="text-[#5B3EFF] transition-all duration-700" id="name"></span><span id="exclamation"></span> -->
    Hey, I'm <span id="typewriter"></span><span id="name" class="font-medium text-[#5B3EFF]"></span><span id="exclamation"></span>
    <script>
      const text = "";
      const names = ["Beatrix", "Creator", "Writer"];
      const exclamation = "";
      let nameIndex = 0;
      let i = 0, j = 0, k = 0;
      let isTyping = false;

      function typeWriter() {
          const typewriterEl = document.getElementById("typewriter");
          const nameEl = document.getElementById("name");
          const exclamationEl = document.getElementById("exclamation");

          if (i < text.length) {
              typewriterEl.innerHTML += text.charAt(i);
              i++;
              setTimeout(typeWriter, 100);
          } else if (j < names[nameIndex].length) {
              nameEl.innerHTML += names[nameIndex].charAt(j);
              j++;
              nameEl.classList.add("pulse"); // Add pulse effect
              setTimeout(typeWriter, 100);
          } else if (k < exclamation.length) {
              exclamationEl.innerHTML += exclamation.charAt(k);
              k++;
              isTyping = false;
          }
      }

      function resetAndType() {
          if (isTyping) return;

          isTyping = true;
          i = j = k = 0;

          document.getElementById("typewriter").innerHTML = "";
          document.getElementById("name").innerHTML = "";
          document.getElementById("exclamation").innerHTML = "";

          typeWriter();
      }

      window.onload = () => {
          typeWriter();
          setInterval(() => {
              nameIndex = (nameIndex + 1) % names.length;
              resetAndType();
          }, 5000); // Change name every 10 seconds
      };
  </script>
  </h1>
  <p class="w-full text-center max-w-[45rem]  text-lg md:text-lg font-normal pb-16">
    Content Designer @ <span class="font-semibold ">Alibaba</span> with 4+ years of experience in <span class="font-semibold ">UX Design/Writing</span>. 
    I turn complex ideas into clear, engaging content that connects with users and supports business goals. My mix of logic, 
    creativity, and empathy helps me create meaningful and user-friendly solutions.
  </p>
</section>
