---
import Heading from "../Heading.astro";
---

<section class="py-6  mt-[4rem]  px-[1rem] xl:px-[6rem] flex flex-col items-center max-w-[64rem] mx-auto">
  <div class="flex justify-center w-full items-center gap-2 lg:gap-[4rem] mb-8 ">
    <svg
      width="60"
      height="61"
      viewBox="0 0 60 61"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="w-[2rem] lg:w-[5rem]"
    >
      <path
        d="M18.0187 28.7704C16.3654 28.776 14.7413 29.2136 13.3028 30.041C15.3281 24.7191 18.6871 20.0263 23.0475 16.4271C23.297 16.2185 23.5036 15.9621 23.6554 15.6725C23.8073 15.3829 23.9015 15.0657 23.9326 14.7391C23.9637 14.4125 23.9312 14.0829 23.8369 13.7691C23.7425 13.4553 23.5882 13.1634 23.3828 12.9102C23.1773 12.6569 22.9247 12.4472 22.6394 12.293C22.3541 12.1388 22.0417 12.0432 21.72 12.0116C21.3984 11.98 21.0737 12.013 20.7646 12.1088C20.4555 12.2046 20.1679 12.3612 19.9185 12.5698C10.9784 19.944 7 30.1544 7 36.4849C7.0154 38.7232 7.67245 40.9086 8.89092 42.7741C10.1094 44.6397 11.8366 46.1047 13.8615 46.9903C15.1721 47.6348 16.6072 47.9758 18.0634 47.9887C19.3451 48.0519 20.6261 47.8502 21.8287 47.3959C23.0314 46.9415 24.1306 46.2439 25.0597 45.3454C25.9888 44.4469 26.7285 43.3662 27.234 42.1688C27.7394 40.9714 28 39.6822 28 38.3795C28 37.0768 27.7394 35.7877 27.234 34.5903C26.7285 33.3929 25.9888 32.3121 25.0597 31.4136C24.1306 30.5151 23.0314 29.8175 21.8287 29.3632C20.6261 28.9088 19.3451 28.7071 18.0634 28.7704H18.0187Z"
        fill="#5B3EFF"></path>
      <path
        d="M43.0422 28.8414C41.3851 28.845 39.757 29.2821 38.3162 30.1103C40.345 24.8011 43.7024 20.1161 48.0593 16.5146C48.332 16.3157 48.5616 16.0625 48.734 15.7705C48.9063 15.4785 49.0178 15.1539 49.0615 14.8167C49.1052 14.4795 49.0803 14.1368 48.9882 13.8097C48.8961 13.4826 48.7388 13.1781 48.526 12.9148C48.3132 12.6515 48.0494 12.4351 47.7509 12.2788C47.4523 12.1225 47.1253 12.0297 46.7899 12.006C46.4546 11.9824 46.118 12.0284 45.8009 12.1413C45.4838 12.2542 45.1929 12.4315 44.946 12.6624C35.9868 20.0268 32 30.2236 32 36.5456C32.0106 38.7556 32.6499 40.9159 33.8414 42.7682C35.0329 44.6206 36.7263 46.0868 38.7194 46.9916C40.066 47.6541 41.5448 47.9952 43.0422 47.9887C44.3266 48.0518 45.6104 47.8504 46.8156 47.3967C48.0208 46.9429 49.1223 46.2463 50.0534 45.3489C50.9845 44.4516 51.7258 43.3723 52.2323 42.1765C52.7388 40.9807 53 39.6933 53 38.3924C53 37.0914 52.7388 35.804 52.2323 34.6082C51.7258 33.4124 50.9845 32.3331 50.0534 31.4358C49.1223 30.5384 48.0208 29.8418 46.8156 29.388C45.6104 28.9343 44.3266 28.7329 43.0422 28.796V28.8414Z"
        fill="#5B3EFF"></path>
    </svg>
    <div>
      <Heading text="What people say" />
    </div>
    <svg
      width="60"
      height="61"
      viewBox="0 0 60 61"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="w-[2rem] lg:w-[5rem]"
    >
      <path
        d="M41.9813 32.2296C43.6346 32.224 45.2587 31.7864 46.6972 30.959C44.6719 36.2809 41.3129 40.9737 36.9525 44.5729C36.703 44.7815 36.4964 45.0379 36.3446 45.3275C36.1927 45.6171 36.0985 45.9343 36.0674 46.2609C36.0363 46.5875 36.0688 46.9171 36.1631 47.2309C36.2575 47.5447 36.4118 47.8366 36.6172 48.0898C36.8227 48.3431 37.0753 48.5528 37.3606 48.707C37.6459 48.8612 37.9583 48.9568 38.28 48.9884C38.6016 49.02 38.9263 48.987 39.2354 48.8912C39.5445 48.7954 39.8321 48.6388 40.0815 48.4302C49.0216 41.056 53 30.8456 53 24.5151C52.9846 22.2768 52.3275 20.0914 51.1091 18.2259C49.8906 16.3603 48.1634 14.8953 46.1385 14.0097C44.8279 13.3652 43.3928 13.0242 41.9366 13.0113C40.6549 12.9481 39.3739 13.1498 38.1713 13.6041C36.9686 14.0585 35.8694 14.7561 34.9403 15.6546C34.0112 16.5531 33.2715 17.6338 32.766 18.8312C32.2606 20.0286 32 21.3178 32 22.6205C32 23.9232 32.2606 25.2123 32.766 26.4097C33.2715 27.6071 34.0112 28.6879 34.9403 29.5864C35.8694 30.4849 36.9686 31.1825 38.1713 31.6368C39.3739 32.0912 40.6549 32.2929 41.9366 32.2296H41.9813Z"
        fill="#EF6F86"></path>
      <path
        d="M16.9578 32.1586C18.6149 32.155 20.243 31.7179 21.6838 30.8897C19.655 36.1989 16.2976 40.8839 11.9407 44.4854C11.668 44.6843 11.4384 44.9375 11.266 45.2295C11.0937 45.5215 10.9822 45.8461 10.9385 46.1833C10.8948 46.5205 10.9197 46.8632 11.0118 47.1903C11.1039 47.5174 11.2612 47.8219 11.474 48.0852C11.6868 48.3485 11.9506 48.5649 12.2491 48.7212C12.5477 48.8775 12.8747 48.9703 13.2101 48.994C13.5454 49.0176 13.882 48.9716 14.1991 48.8587C14.5162 48.7458 14.8071 48.5685 15.054 48.3376C24.0132 40.9732 28 30.7764 28 24.4544C27.9894 22.2444 27.3501 20.0841 26.1586 18.2318C24.9671 16.3794 23.2737 14.9132 21.2806 14.0084C19.934 13.3459 18.4552 13.0048 16.9578 13.0113C15.6734 12.9482 14.3896 13.1496 13.1844 13.6033C11.9792 14.0571 10.8777 14.7537 9.94657 15.6511C9.01546 16.5484 8.27417 17.6277 7.76767 18.8235C7.26117 20.0193 7 21.3067 7 22.6076C7 23.9086 7.26117 25.196 7.76767 26.3918C8.27417 27.5876 9.01546 28.6669 9.94657 29.5642C10.8777 30.4616 11.9792 31.1582 13.1844 31.612C14.3896 32.0657 15.6734 32.2671 16.9578 32.204V32.1586Z"
        fill="#EF6F86"></path>
    </svg>
  </div>

  <div class="flex w-full gap-6 mb-4 bg-white">
    <div class="w-[0.25rem] bg-[#5B3EFF] my-4">&nbsp;</div>
    <p class="">
      Beatrix is a great UX designer, has a lot of ideas and can solve problems
      quickly. <br /><br />
      Beatrix demonstrated the ability to come up with innovative ideas, to work
      under pressure and to face challenges with a very positive attitude.
      <br /><br />
      She is very supportive as an individual, which makes her a perfect person to
      have on a team.
    </p>
  </div>

  <div class="flex w-full gap-6 mb-8">
    <div class="w-[0.25rem] my-4">&nbsp;</div>
    <p class="font-bold italic" style="font-family: 'Playfair Display', serif;">
      Aga Matyja - UX Designer based in London, UK
    </p>
  </div>

  <div class="flex w-full gap-6 mb-4">
    <div class="w-[0.25rem] bg-[#5B3EFF] my-4">&nbsp;</div>
    <p class="">
      I was honored to have Beatrix as a teammate as her suggestions for
      improving the design of our product not only increased the visual
      appearance of our site but she explained in great detail the reasoning
      behind her choices. <br /><br />I highly recommend Beatrix as a UX designer, her
      advanced knowledge and skills are a superpower and any team would be lucky
      to have her.
    </p>
  </div>

  <div class="flex w-full gap-6 mb-8">
    <div class="w-[0.25rem] my-4">&nbsp;</div>
    <p class="font-bold italic" style="font-family: 'Playfair Display', serif;">
        Victoria J. - Full Stack Developer
    </p>
  </div>
</section>
