---
import { Image } from "astro:assets";
import wood from "../../assets/brightwaste/brightwaste-wood.png";
---


    <!-- Emphatize -->

    <div
      class="flex flex-col justify-start items-center self-stretch flex-grow-0 flex-shrink-0 relative gap-6 p-6  lg:px-[10%]"
    >
      <div
        class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-4"
      >
        <p class="self-stretch flex-grow-0 flex-shrink-0 w-full text-left">
          <span
            class="self-stretch flex-grow-0 flex-shrink-0 font-['Playfair_Display'] w-full text-lg font-bold text-left text-[#5b3eff]"
            >IDEA VS. USER PERSPECTIVE</span
          ><br /><span
            class="self-stretch font-['Playfair_Display'] flex-grow-0 flex-shrink-0 w-full text-xl font-semibold text-left text-[#020202]"
            >Inspiration behind the project</span
          >
        </p>
        <p
          class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
        >
          I love to do DIY in my free time. So, I went to a materials store close to my area, Lacey,
          WA, US, to buy wood to build my new shelf.
        </p>
        <p
          class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
        >
          <span
            class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
            >I was disappointed with the furniture waste left in the store. At that time, I got a
            chance to interview </span
          ><span
            class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base font-semibold italic text-left text-[#020202]"
            >two people that were shoppers</span
          ><span
            class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
            >.</span
          >
        </p>
      </div>
      <div class="self-stretch flex-grow-0 flex-shrink-0 h-[168px]">
        <div
          class="flex flex-col justify-start items-start w-full gap-2.5 px-8 py-4 rounded-[15px] bg-[#dad4fe]"
        >
          <div class="self-stretch flex-grow-0 flex-shrink-0 ">
            <div
              class="flex justify-start  w-full ] top-4 gap-2.5"
            >
            <svg
              width="20"
              height="29"
              viewBox="0 0 20 29"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="w-[20px] h-[29px] "
              preserveAspectRatio="none"
            >
              <g clip-path="url(#clip0_177_2383)">
                <path
                  d="M12.1584 16.4C12.1584 15.5447 11.9679 14.805 11.5773 14.204C10.9867 13.3024 9.83413 13.1869 9.16734 13.3718C8.89109 11.4647 10.2247 9.03755 11.9488 7.99733L10.6248 5.74353C8.02426 7.24607 5.46186 10.6903 5.90004 15.0477C6.17629 17.7985 7.49082 19.6131 9.34833 19.6131C10.158 19.6131 10.8343 19.3241 11.3678 18.7462C11.9012 18.1683 12.1584 17.3824 12.1584 16.4ZM19.8265 16.4C19.8265 15.5447 19.636 14.805 19.2455 14.204C18.6454 13.3024 17.5023 13.1869 16.8355 13.3718C16.5592 11.4647 17.8928 9.03755 19.617 7.99733L18.2929 5.74353C15.6924 7.24607 13.1395 10.6903 13.5777 15.0477C13.854 17.7985 15.159 19.6131 17.0165 19.6131C17.8262 19.6131 18.5025 19.3241 19.0359 18.7462C19.5693 18.1683 19.8265 17.3824 19.8265 16.4Z"
                  fill="#5585FF"
                ></path>
              </g>
              <defs>
                <clipPath id="clip0_177_2383">
                  <rect width="19.9286" height="29" rx="9.96429" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
              <p class="flex-grow w-full text-xl italic text-left text-[#020202] font-['Playfair_Display']">
                Question: Tell me how you reuse the materials (furniture, glass bottle) at home.
              </p>
            </div>
          </div>
        </div>
      </div>
      <p
        class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
      >
        And it was shocking to listen to their answers:
      </p>
      <div
        class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-2.5 p-4 rounded-[15px] bg-[#aae5fe]"
      >
        <p class="flex-grow-0 flex-shrink-0 text-xl font-bold text-left text-[#020202] font-['Playfair_Display']">
          I didn’t do...
        </p>
        <p
          class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
        >
          <span
            class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base italic text-left text-[#020202]"
            >anything to it. I just place in the closet or storage and threw it after few
            years.</span
          ><br /><span
            class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base font-semibold text-left text-[#020202]"
            >-- Jason, 20, student</span
          >
        </p>
      </div>
      <div
        class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-2.5 p-4 rounded-[15px] bg-[#aae5fe]"
      >
        <p class="flex-grow-0 flex-shrink-0 text-xl font-bold text-left text-[#020202] font-['Playfair_Display']">
          I sold it...
        </p>
        <p
          class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
        >
          <span
            class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base italic text-left text-[#020202]"
            >in OfferUp for cheaper price or tossed it in the waste dump.”</span
          ><br /><span
            class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base font-semibold text-left text-[#020202]"
            >-- Sarah, 52, housewife</span
          >
        </p>
      </div>
      <div
        class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-2.5 p-4 rounded-[15px] border-[1.5px] border-[#00b2ff]"
      >
        <p class="flex-grow-0 flex-shrink-0 text-xl font-bold text-left text-[#020202] font-['Playfair_Display']">
          At shop, we usually..
        </p>
        <p
          class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
        >
          <span
            class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
            >sell it for cheaper price. However, we wish we could have a workshop or place where we
            can collect these woods and repurpose them.</span
          ><br /><span
            class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base font-bold text-left text-[#020202]"
            >-- Worker at Home Depot, 35</span
          >
        </p>
      </div>
      <div
        class="flex flex-col justify-start items-center flex-grow-0 flex-shrink-0 w-full relative gap-4"
      >

        <Image src={wood} alt="Brightwaste" class="w-full h-full rounded-[15px]  border-[0.5px] border-[#020202]" />
        <p class="flex-grow-0 flex-shrink-0 w-full text-base text-center text-[#020202]">
          The illustration above shows new wood that is sold in store.
        </p>
      </div>
    </div>


