<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Playfair Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,400&display=swap"
    />
  </head>
  <body>
    <div
      class="w-full relative bg-[#fff2ef] overflow-hidden flex flex-col items-end justify-start gap-[2.5rem] leading-[normal] tracking-[normal] text-left text-[1.125rem] text-[#5b3eff] font-['Playfair_Display']"
    >
      <main class="self-stretch flex flex-col items-start justify-start">
        <header
          class="self-stretch flex flex-col items-start justify-start p-[1.5rem] text-left text-[1.375rem] text-[#020202] font-['Playfair_Display']"
        >
          <div
            class="self-stretch flex flex-row items-center justify-between gap-[1.25rem]"
          >
            <a class="[text-decoration:none] relative italic text-[inherit]"
              >beatrixcdn</a
            >
            <img
              class="h-[2.125rem] w-[2.125rem] relative"
              alt=""
              src="/public/iconvariants.svg"
            />
          </div>
        </header>
        <section
          class="self-stretch flex flex-col items-center justify-start p-[1.5rem] gap-[2rem] text-center text-[2rem] text-[#020202] font-['Playfair_Display']"
        >
          <div class="self-stretch flex flex-col items-center justify-center">
            <div
              class="self-stretch flex flex-col items-center justify-start gap-[2rem]"
            >
              <div
                class="self-stretch flex flex-col items-start justify-start gap-[1rem]"
              >
                <h1
                  class="m-[0px] relative text-inherit font-medium font-[inherit]"
                >
                  BrightWaste Sustainable Web App
                </h1>
                <h3
                  class="m-[0px] self-stretch relative text-[1.5rem] font-[inherit]"
                >
                  <b>🥳 </b>
                  <span class="font-medium">Courier Hacks Winner </span>
                  <b>🥳 </b>
                </h3>
                <div class="relative text-[1rem] font-['Open_Sans']">
                  <span
                    >A Sustainable Marketplace Website that can give people
                    options either to
                  </span>
                  <i class="font-semibold"
                    >sell the used items directly to the shop</i
                  >
                  <span> or to </span>
                  <i class="font-semibold"
                    >upcycle and sell it for a better price</i
                  >
                  <span>.</span>
                </div>
              </div>
              <div
                class="w-[22.5rem] h-[13.906rem] relative [background:linear-gradient(233.87deg,_#ffdc98,_#a1ffed)] overflow-hidden shrink-0 max-w-[116%] text-[1.75rem] text-[#000] font-[Poppins]"
              >
                <div
                  class="absolute top-[49.563rem] left-[-33.937rem] w-[90.375rem] overflow-hidden flex flex-col items-end justify-center"
                >
                  <h2
                    class="m-[0px] relative text-inherit italic font-normal font-[inherit]"
                  >
                    Make a change, be creative, and grow more wealth
                  </h2>
                </div>
                <img
                  class="absolute top-[-3.687rem] left-[-5.231rem] w-[32.963rem] h-[21.063rem] overflow-hidden object-cover"
                  alt=""
                  src="/public/frame@2x.png"
                />
              </div>
            </div>
          </div>
          <div
            class="w-[18.625rem] flex flex-col items-start justify-start py-[0rem] px-[1.25rem] box-border gap-[1.5rem] text-[1.25rem]"
          >
            <div
              class="self-stretch flex flex-col items-center justify-start gap-[0.5rem]"
            >
              <img
                class="w-[2rem] h-[2rem] relative overflow-hidden shrink-0"
                loading="lazy"
                alt=""
                src="/public/antdesignteamoutlined.svg"
              />

              <div class="w-[4.375rem] relative font-medium inline-block">
                TEAM
              </div>
              <div class="relative text-[1rem] font-['Open_Sans']">
                2 developers, and myself as a UX Designer and UX Writer
              </div>
            </div>
            <div
              class="self-stretch flex flex-col items-center justify-start gap-[0.5rem]"
            >
              <img
                class="w-[2rem] h-[2rem] relative overflow-hidden shrink-0"
                loading="lazy"
                alt=""
                src="/public/bxbxtime.svg"
              />

              <div class="relative font-medium">DURATION</div>
              <div class="self-stretch relative text-[1rem] font-['Open_Sans']">
                Oct 2022 - Mar 2023
              </div>
            </div>
            <div
              class="self-stretch flex flex-col items-center justify-start gap-[0.5rem]"
            >
              <img
                class="w-[2rem] h-[2rem] relative overflow-hidden shrink-0"
                loading="lazy"
                alt=""
                src="/public/carbontoolsalt.svg"
              />

              <div class="relative font-medium">TOOLS</div>
              <div class="self-stretch relative text-[1rem] font-['Open_Sans']">
                <p class="m-[0px]">Figma, Github,</p>
                <p class="m-[0px]">Visual Studio Code</p>
              </div>
            </div>
          </div>
        </section>
        <section
          class="self-stretch flex flex-col items-center justify-start p-[1.5rem] gap-[1.5rem] text-left text-[1.25rem] text-[#020202] font-['Playfair_Display']"
        >
          <div
            class="self-stretch flex flex-col items-start justify-start gap-[1rem] text-[1.125rem] text-[#5b3eff]"
          >
            <div class="relative">
              <p class="m-[0px]">
                <b>OVERVIEW</b>
              </p>
              <p class="m-[0px] text-[1.25rem] font-semibold text-[#020202]">
                Analyze the goal of BrightWaste
              </p>
            </div>
            <div class="relative text-[1rem] font-['Open_Sans'] text-[#020202]">
              <p class="[margin-block-start:0] [margin-block-end:2px]">
                Our main goal is to encourage people to live sustainably and
                earn more money at the same time. The idea of recycling has been
                a trend since years ago. The question is, does it work?
              </p>
              <p class="[margin-block-start:0] [margin-block-end:2px]">
                &nbsp;
              </p>
              <p class="m-[0px]">Based on the research,</p>
            </div>
          </div>
          <div
            class="self-stretch rounded-[15px] bg-[#dad4fd] flex flex-col items-start justify-start py-[1rem] px-[2rem]"
          >
            <div class="self-stretch h-[8.5rem] relative">
              <div
                class="absolute top-[0.031rem] left-[3.688rem] w-[13.813rem] h-[9.469rem] overflow-hidden flex flex-col items-center justify-end"
              >
                <div
                  class="self-stretch flex flex-row items-center justify-start"
                >
                  <div class="relative leading-[168%]">
                    <i class="font-medium"
                      >About 110 million glass bottles are thrown away and only
                      one-third get recycled.
                    </i>
                    <span class="text-[1rem] font-['Open_Sans']"
                      >-- weforum.org</span
                    >
                  </div>
                </div>
              </div>
              <img
                class="absolute top-[0.031rem] left-[0rem] rounded-[15px] w-[1.244rem] h-[1.813rem] overflow-hidden"
                loading="lazy"
                alt=""
                src="/public/dashiconseditorquote.svg"
              />
            </div>
          </div>
          <div class="relative text-[1rem] font-['Open_Sans']">
            It could be easier to sell the used item for a lower price, but
            instead of doing so, 
          </div>
          <div
            class="self-stretch flex flex-col items-start justify-start gap-[1rem]"
          >
            <div class="relative font-semibold">Why don’t we...</div>
            <i class="relative text-[1rem] font-['Open_Sans']">
              <p class="m-[0px] whitespace-pre-wrap">
                get our creativity going and turn it into something more
                meaningful and can have more value to it?
              </p>
              <p class="m-[0px]">&nbsp;</p>
              <p class="m-[0px]">
                It doesn't only impact the earth; also, we can contribute to the
                economy cycle.
              </p>
            </i>
          </div>
          <div
            class="self-stretch flex flex-col items-center justify-start text-[1rem] font-['Open_Sans']"
          >
            <div class="relative">That’s why we provide...</div>
          </div>
          <div
            class="self-stretch flex flex-row items-start justify-center text-[1.5rem]"
          >
            <div
              class="flex-1 rounded-[15px] bg-[#aae5fe] flex flex-col items-start justify-start p-[1rem] gap-[0.625rem]"
            >
              <h3
                class="m-[0px] relative text-inherit font-bold font-[inherit]"
              >
                Brightwaste
              </h3>
              <div class="relative text-[1rem] font-['Open_Sans']">
                <span>...which helps people to get </span>
                <i class="font-semibold">plenty of ideas on how to recycle</i>
                <span>
                  their stuff and lets the potential seller get notified
                </span>
                <i class="font-semibold"
                  >when they can sell the products for a better price</i
                >
                <span>.</span>
              </div>
            </div>
          </div>
        </section>
        <section
          class="self-stretch flex flex-col items-center justify-start p-[1.5rem] gap-[1.5rem] text-left text-[1rem] text-[#020202] font-['Playfair_Display']"
        >
          <div
            class="self-stretch flex flex-col items-start justify-start gap-[1rem] font-['Open_Sans']"
          >
            <div
              class="relative text-[1.125rem] text-[#5b3eff] font-['Playfair_Display']"
            >
              <p class="m-[0px]">
                <b>IDEA VS. USER PERSPECTIVE</b>
              </p>
              <p class="m-[0px] text-[1.25rem] font-semibold text-[#020202]">
                Inspiration behind the project
              </p>
            </div>
            <div class="relative">
              I love to do DIY in my free time. So, I went to a materials store
              close to my area, Lacey, WA, US, to buy wood to build my new
              shelf.
            </div>
            <div class="relative">
              <span
                >I was disappointed with the furniture waste left in the store.
                At that time, I got a chance to interview
              </span>
              <i class="font-semibold">two people that were shoppers</i>
              <span>.</span>
            </div>
          </div>
          <div
            class="self-stretch rounded-[15px] bg-[#dad4fd] flex flex-col items-start justify-start py-[1rem] px-[2rem] text-[1.25rem]"
          >
            <div class="self-stretch h-[8.5rem] relative">
              <div
                class="absolute top-[0.031rem] left-[3.688rem] w-[13.813rem] h-[9.469rem] overflow-hidden flex flex-col items-center justify-end"
              >
                <div
                  class="self-stretch flex flex-row items-center justify-start"
                >
                  <i class="relative leading-[168%] font-medium"
                    >Question: Tell me how you reuse the materials (furniture,
                    glass bottle) at home.</i
                  >
                </div>
              </div>
              <img
                class="absolute top-[0.031rem] left-[0rem] rounded-[15px] w-[1.244rem] h-[1.813rem] overflow-hidden"
                loading="lazy"
                alt=""
                src="/public/dashiconseditorquote-1.svg"
              />
            </div>
          </div>
          <div class="relative font-['Open_Sans']">
            And it was shocking to listen to their answers:
          </div>
          <div
            class="self-stretch rounded-[15px] bg-[#aae5fe] flex flex-col items-start justify-start p-[1rem] gap-[0.625rem] text-[1.5rem]"
          >
            <h3 class="m-[0px] relative text-inherit font-bold font-[inherit]">
              I didn’t do...
            </h3>
            <div class="relative text-[1rem] font-['Open_Sans']">
              <p class="m-[0px]">
                <i
                  >anything to it. I just place in the closet or storage and
                  threw it after few years.</i
                >
              </p>
              <p class="m-[0px] font-semibold">-- Jason, 20, student</p>
            </div>
          </div>
          <div
            class="self-stretch rounded-[15px] bg-[#aae5fe] flex flex-col items-start justify-start p-[1rem] gap-[0.625rem] text-[1.5rem]"
          >
            <h3 class="m-[0px] relative text-inherit font-bold font-[inherit]">
              I sold it...
            </h3>
            <div class="relative text-[1rem] font-['Open_Sans']">
              <p class="m-[0px]">
                <i
                  >in OfferUp for cheaper price or tossed it in the waste
                  dump.”</i
                >
              </p>
              <p class="m-[0px] font-semibold">-- Sarah, 52, housewife</p>
            </div>
          </div>
          <div
            class="self-stretch rounded-[15px] border-[#00b3ff] border-[1.5px] border-solid flex flex-col items-start justify-start p-[0.875rem] gap-[0.625rem] text-[1.5rem]"
          >
            <h3 class="m-[0px] relative text-inherit font-bold font-[inherit]">
              At shop, we usually..
            </h3>
            <div class="relative text-[1rem] font-['Open_Sans']">
              <p class="m-[0px]">
                sell it for cheaper price. However, we wish we could have a
                workshop or place where we can collect these woods and repurpose
                them.
              </p>
              <p class="m-[0px]">
                <b>-- Worker at Home Depot, 35</b>
              </p>
            </div>
          </div>
          <div
            class="self-stretch flex flex-col items-center justify-start gap-[1rem] text-center font-['Open_Sans']"
          >
            <img
              class="self-stretch relative rounded-[15px] max-w-full overflow-hidden max-h-full object-cover"
              loading="lazy"
              alt=""
              src="/public/image-30@2x.png"
            />

            <div class="relative">
              The illustration above shows new wood that is sold in store.
            </div>
          </div>
        </section>
        <section
          class="self-stretch flex flex-col items-center justify-start p-[1.5rem] gap-[1.5rem] text-left text-[1rem] text-[#020202] font-['Open_Sans']"
        >
          <div
            class="self-stretch flex flex-col items-start justify-start gap-[1rem] text-[1.125rem] text-[#5b3eff] font-['Playfair_Display']"
          >
            <div class="relative">
              <p class="m-[0px]">
                <b>MORE RESEARCH</b>
              </p>
              <p class="m-[0px] text-[1.25rem] font-semibold text-[#020202]">
                Are there any competitive analysis we should worry about?
              </p>
            </div>
            <div
              class="self-stretch flex flex-col items-start justify-start gap-[1rem] text-[1.5rem] text-[#020202] font-['Open_Sans']"
            >
              <h3
                class="m-[0px] relative text-inherit font-semibold font-[inherit]"
              >
                ➡️ OfferUp and Facebook Marketplace
              </h3>
              <div
                class="self-stretch flex flex-row items-start justify-center font-['Playfair_Display']"
              >
                <div
                  class="flex-1 rounded-[15px] border-[#00b3ff] border-[1.5px] border-solid flex flex-col items-start justify-start p-[0.875rem] gap-[0.625rem]"
                >
                  <h3
                    class="m-[0px] relative text-inherit font-bold font-[inherit]"
                  >
                    Pros:
                  </h3>
                  <div class="relative text-[1rem] font-['Open_Sans']">
                    <ul
                      class="m-[0px] font-[inherit] text-inherit pl-[1.312rem]"
                    >
                      <li class="my-[undefined] mx-[undefined]">
                        Cheaper price.
                      </li>
                      <li>
                        Browse items in just a few minutes from your phone.
                      </li>
                    </ul>
                  </div>
                  <h3
                    class="m-[0px] relative text-inherit font-bold font-[inherit]"
                  >
                    Cons:
                  </h3>
                  <div class="relative text-[1rem] font-['Open_Sans']">
                    Meeting in a public location can have safety issues due to
                    the risk of meeting strangers. You might also encounter
                    unreliable buyers or sellers.
                  </div>
                </div>
              </div>
            </div>
            <img
              class="self-stretch relative max-w-full overflow-hidden max-h-full object-cover"
              loading="lazy"
              alt=""
              src="/public/image--offerup@2x.png"
            />
          </div>
          <div class="h-[5.5rem] relative tracking-[-0.03px] inline-block">
            <span
              >In our search for the best upcycling apps, we explored some
              alternatives like
            </span>
            <span class="font-semibold">Depop</span>
            <span> and </span>
            <span class="font-semibold">Refinery</span>
            <span>. Here's what we discovered:</span>
          </div>
          <div
            class="self-stretch flex flex-col items-start justify-start gap-[1rem] text-[1.5rem]"
          >
            <h3
              class="m-[0px] relative text-inherit font-semibold font-[inherit]"
            >
              ➡️ Depop and Refinery
            </h3>
            <div
              class="self-stretch flex flex-row items-start justify-center font-['Playfair_Display']"
            >
              <div
                class="h-[12rem] flex-1 rounded-[15px] border-[#00b3ff] border-[1.5px] border-solid box-border flex flex-col items-start justify-start p-[0.875rem] gap-[0.625rem]"
              >
                <h3
                  class="m-[0px] relative text-inherit font-bold font-[inherit]"
                >
                  Pros:
                </h3>
                <div class="relative text-[1rem] font-['Open_Sans']">
                  <ul class="m-[0px] font-[inherit] text-inherit pl-[1.312rem]">
                    <li class="my-[undefined] mx-[undefined]">
                      The website is straightforward.
                    </li>
                    <li>Can negotiate the price.</li>
                  </ul>
                </div>
                <h3
                  class="m-[0px] relative text-inherit font-bold font-[inherit]"
                >
                  Cons:
                </h3>
                <div class="relative text-[1rem] font-['Open_Sans']">
                  <ul class="m-[0px] font-[inherit] text-inherit pl-[1.312rem]">
                    <li>Shipping cost issue.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div
            class="self-stretch flex flex-col items-start justify-start gap-[1rem]"
          >
            <div class="relative">
              <span>Due to the l</span>
              <i class="font-semibold">imited amount of time</i>
              <span
                >, we didn’t develop app-based platform. Instead, we focused on
              </span>
              <i class="font-semibold">creating a desktop </i>
              <span>view, as it simplifies the listing process.</span>
            </div>
            <div class="relative">
              Regarding the item condition issue, we wanted the shop to provide
              an estimated fair price. However, the final price may be subject
              to change upon inspection of the item at the shop.
            </div>
          </div>
        </section>
        <section
          class="self-stretch flex flex-col items-center justify-start p-[1.5rem] gap-[1.5rem] text-left text-[1rem] text-[#020202] font-['Open_Sans']"
        >
          <div
            class="self-stretch flex flex-col items-start justify-start gap-[1rem]"
          >
            <div
              class="relative text-[1.25rem] font-semibold font-['Playfair_Display']"
            >
              Customer journey
            </div>
            <div class="relative">
              Based on the research, I have curated the results into two types
              of customer journeys: specific and general.
            </div>
            <div class="relative">
              This allows us to understand what to expect for the features to be
              developed from both a broad and targeted perspective.
            </div>
          </div>
          <img
            class="self-stretch relative max-w-full overflow-hidden max-h-full object-cover"
            loading="lazy"
            alt=""
            src="/public/image--customer-journey-1@2x.png"
          />

          <div
            class="self-stretch flex flex-col items-start justify-start gap-[1rem] text-[1.25rem] font-['Playfair_Display']"
          >
            <div class="relative font-medium">Our expectations were:</div>
            <div class="relative text-[1rem] font-['Open_Sans']">
              <ul class="m-[0px] text-inherit pl-[1.312rem]">
                <li class="my-[undefined] mx-[undefined]">
                  <span class="font-['Open_Sans']"
                    >That by using our website,
                  </span>
                  <span class="font-semibold font-['Open_Sans']">Sasha</span>
                  <span class="font-['Open_Sans']"> and </span>
                  <span class="font-semibold font-['Open_Sans']"
                    >other users</span
                  >
                  <span> could easily get rid of unwanted items.</span>
                </li>
                <li class="my-[undefined] mx-[undefined]">
                  <span
                    >To connect sellers with buyers (ideally in stores close to
                    the seller's location) and obtain good offers for used or
                    upcycled items.</span
                  >
                </li>
                <li>
                  <span>To make the transaction process easier and safer.</span>
                </li>
              </ul>
            </div>
          </div>
          <img
            class="self-stretch relative max-w-full overflow-hidden max-h-full object-cover"
            loading="lazy"
            alt=""
            src="/public/image--customer-journey-2@2x.png"
          />
        </section>
        <section
          class="self-stretch flex flex-col items-center justify-start p-[1.5rem] text-left text-[1rem] text-[#020202] font-['Open_Sans']"
        >
          <div
            class="self-stretch flex flex-col items-start justify-start gap-[1rem]"
          >
            <div
              class="relative text-[1.125rem] text-[#5b3eff] font-['Playfair_Display']"
            >
              <p class="m-[0px]">
                <b>BRAINSTORMING</b>
              </p>
              <p class="m-[0px] text-[1.25rem] font-semibold text-[#020202]">
                Flowchart of BrightWaste
              </p>
            </div>
            <div class="relative">
              I created a flowchart to help all the team members clearly
              communicate, understood our goal and how we achieved it.
            </div>
            <div class="relative">
              <span>We used </span>
              <i class="font-semibold">Firebase</i>
              <span>
                to connect to the database when a user signs up. We used
              </span>
              <i class="font-semibold">Courier API</i>
              <span> to notify users through email.</span>
            </div>
            <img
              class="self-stretch relative max-w-full overflow-hidden max-h-full object-cover"
              loading="lazy"
              alt=""
              src="/public/image--flowchart@2x.png"
            />
          </div>
        </section>
        <section
          class="self-stretch flex flex-col items-center justify-start p-[1.5rem] gap-[1.5rem] text-left text-[1.125rem] text-[#5b3eff] font-['Playfair_Display']"
        >
          <div
            class="self-stretch flex flex-col items-start justify-start gap-[1rem]"
          >
            <div class="relative">
              <p class="m-[0px]">
                <b>IDEATION</b>
              </p>
              <p class="m-[0px] text-[1.25rem] font-semibold text-[#020202]">
                The features
              </p>
            </div>
            <div
              class="self-stretch relative text-[1rem] font-['Open_Sans'] text-[#020202]"
            >
              Our features included:
            </div>
          </div>
          <div
            class="self-stretch flex flex-col items-start justify-start gap-[2rem] text-[1.25rem] text-[#020202] font-['Open_Sans']"
          >
            <div
              class="self-stretch flex flex-col items-start justify-start gap-[1rem]"
            >
              <div class="relative font-semibold">➡️ Safe transaction</div>
              <div class="relative text-[1rem]">
                Transactions will no longer be allowed outside the store or in
                hidden areas to prevent scams and ensure safety.
              </div>
            </div>
            <div
              class="self-stretch flex flex-col items-start justify-start gap-[1rem]"
            >
              <div class="relative font-semibold">
                ➡️ Sharpen your creativity plus earn $$!
              </div>
              <div class="relative text-[1rem]">
                Improving a product can be a great way to earn money and learn
                new skills. If you can enhance its value, you can often sell it
                for a higher price.
              </div>
            </div>
            <div class="self-stretch flex flex-col items-start justify-start">
              <div class="relative font-semibold">
                ➡️ And more... check below
              </div>
            </div>
          </div>
          <img
            class="self-stretch relative max-w-full overflow-hidden max-h-full object-cover"
            loading="lazy"
            alt=""
            src="/public/image--our-features-1@2x.png"
          />
        </section>
        <section
          class="self-stretch flex flex-col items-center justify-start p-[1.5rem] gap-[1.5rem] text-left text-[1.125rem] text-[#5b3eff] font-['Playfair_Display']"
        >
          <div class="self-stretch flex flex-col items-start justify-start">
            <div class="relative">
              <p class="m-[0px]">
                <b>UI FOCUS</b>
              </p>
              <p class="m-[0px] text-[1.25rem] font-semibold text-[#020202]">
                The design system
              </p>
            </div>
          </div>
          <div
            class="self-stretch flex flex-col items-start justify-start gap-[2rem] text-[1.25rem] text-[#020202] font-['Open_Sans']"
          >
            <div
              class="self-stretch flex flex-col items-start justify-start gap-[1rem]"
            >
              <div class="relative font-semibold">Color choices:</div>
              <div class="relative text-[1rem]">
                <ul class="m-[0px] text-inherit pl-[1.312rem]">
                  <li class="my-[undefined] mx-[undefined]">
                    <span class="font-semibold font-['Open_Sans']"
                      >Blue and green:</span
                    >
                    <span>
                      These colors reflect our logo and represent earth in
                      general.</span
                    >
                  </li>
                  <li>
                    <span class="font-semibold font-['Open_Sans']"
                      >Black (#323232):</span
                    >
                    <span class="font-['Open_Sans']">
                      This is used exclusively for text elements, ensuring
                      optimal readability.</span
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div
              class="self-stretch flex flex-col items-start justify-start gap-[1rem]"
            >
              <div class="relative font-semibold">
                The button comes in different variations to make it easier to
                distinguish between different functionalities.
              </div>
              <div class="relative text-[1rem]">
                <ul class="m-[0px] text-inherit pl-[1.312rem]">
                  <li class="my-[undefined] mx-[undefined]">
                    <span class="font-semibold font-['Open_Sans']"
                      >Regular Shape</span
                    >
                    <span>
                      (Join Us, Find Out): This is the primary button style,
                      used for navigation bars and landing pages. It serves as a
                      clear Call to Action (CTA).</span
                    >
                  </li>
                  <li class="my-[undefined] mx-[undefined]">
                    <span class="font-semibold font-['Open_Sans']"
                      >Curved Shape</span
                    >
                    <span class="font-['Open_Sans']">
                      (Sign Up): Used exclusively for the signup experience,
                      prioritizing aesthetics.</span
                    >
                  </li>
                  <li>
                    <span class="font-semibold font-['Open_Sans']"
                      >Gradient Button:</span
                    >
                    <span class="font-['Open_Sans']">
                      This button offers a choice between logging in or
                      registering.</span
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <img
            class="self-stretch relative max-w-full overflow-hidden max-h-full object-cover"
            loading="lazy"
            alt=""
            src="/public/image--color-choices-1@2x.png"
          />
        </section>
        <section
          class="self-stretch flex flex-col items-center justify-start p-[1.5rem] gap-[1.5rem] text-left text-[1.25rem] text-[#020202] font-['Open_Sans']"
        >
          <div
            class="self-stretch flex flex-col items-start justify-start gap-[1rem] text-[1.125rem] text-[#5b3eff] font-['Playfair_Display']"
          >
            <div class="self-stretch flex flex-col items-start justify-start">
              <div class="relative">
                <p class="m-[0px]">
                  <b>UI AND CONTENT FOCUS</b>
                </p>
                <p class="m-[0px] text-[1.25rem] font-semibold text-[#020202]">
                  Focusing to add value to landing page is a key
                </p>
              </div>
            </div>
            <div
              class="self-stretch flex flex-col items-start justify-start text-[1rem] text-[#020202] font-['Open_Sans']"
            >
              <div class="self-stretch flex flex-col items-start justify-start">
                <div class="relative">
                  The landing page should serve as a way to engage the audience
                  with BrightWaste's mission. I wanted the design to be fresh,
                  and on the first page, users should have the option to view
                  available products in their area.
                </div>
              </div>
            </div>
          </div>
          <div
            class="self-stretch flex flex-col items-start justify-start gap-[1rem]"
          >
            <div class="self-stretch flex flex-col items-start justify-start">
              <div class="relative font-semibold">Rough draft (2 options):</div>
            </div>
            <div
              class="self-stretch flex flex-col items-start justify-start text-[1rem]"
            >
              <div class="self-stretch flex flex-col items-start justify-start">
                <div class="relative">
                  <ul class="m-[0px] font-[inherit] text-inherit pl-[1.312rem]">
                    <li class="my-[undefined] mx-[undefined]">
                      Get higher value for your used materials and help earth to
                      reduce the waste and people to contribute to economy grow.
                    </li>
                    <li>
                      Get higher value for your used materials and help earth to
                      reduce the waste and help society to contribute to economy
                      grow.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div
            class="self-stretch flex flex-col items-start justify-start gap-[1rem]"
          >
            <div class="self-stretch flex flex-col items-start justify-start">
              <div class="relative font-semibold">
                Final draft for home page text:
              </div>
            </div>
            <div
              class="self-stretch rounded-[15px] bg-[#aae5fe] flex flex-col items-start justify-start p-[1rem] gap-[0.625rem] text-[1.5rem] font-['Playfair_Display']"
            >
              <h3
                class="m-[0px] relative text-inherit font-bold font-[inherit]"
              >
                Get higher value...
              </h3>
              <i class="relative text-[1rem] font-['Open_Sans']"
                >for your used materials and help earth to reduce the waste and
                lead society to a brighter future.</i
              >
            </div>
          </div>
          <div
            class="self-stretch flex flex-col items-start justify-start gap-[1rem]"
          >
            <div class="self-stretch flex flex-col items-start justify-start">
              <div class="relative font-semibold">The navbar explanations:</div>
            </div>
            <div
              class="self-stretch flex flex-col items-start justify-start text-[1rem]"
            >
              <div class="self-stretch flex flex-col items-start justify-start">
                <div class="h-[17rem] relative tracking-[-0.02px] inline-block">
                  <ul class="m-[0px] text-inherit pl-[1.312rem]">
                    <li class="my-[undefined] mx-[undefined]">
                      <span class="font-semibold font-['Open_Sans']"
                        >How It Works:</span
                      >
                      <span>
                        This section explains the process step-by-step.</span
                      >
                    </li>
                  </ul>
                  <p class="[margin-block-start:0] [margin-block-end:2px]">
                    &nbsp;
                  </p>
                  <ul class="m-[0px] text-inherit pl-[1.312rem]">
                    <li class="my-[undefined] mx-[undefined]">
                      <span class="font-semibold font-['Open_Sans']"
                        >All Items (upcoming feature):</span
                      >
                      <span>
                        Discover a curated selection of popular items available
                        in various locations. Enable your location to view items
                        near you.</span
                      >
                    </li>
                  </ul>
                  <p class="[margin-block-start:0] [margin-block-end:2px]">
                    &nbsp;
                  </p>
                  <ul class="m-[0px] text-inherit pl-[1.312rem]">
                    <li>
                      <span class="font-semibold font-['Open_Sans']"
                        >DIY Blog:</span
                      >
                      <span>
                        Join our community and explore sustainable articles and
                        stories.</span
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <img
              class="self-stretch relative max-w-full overflow-hidden max-h-full object-cover"
              loading="lazy"
              alt=""
              src="/public/image--ui-1-1@2x.png"
            />
          </div>
        </section>
        <section
          class="self-stretch flex flex-col items-center justify-start p-[1.5rem] gap-[1.5rem] text-left text-[1.25rem] text-[#020202] font-['Playfair_Display']"
        >
          <div
            class="self-stretch flex flex-col items-start justify-start gap-[1rem]"
          >
            <div class="self-stretch flex flex-col items-start justify-start">
              <div class="relative font-semibold">Explain the steps</div>
            </div>
            <div
              class="self-stretch flex flex-col items-start justify-start text-[1rem] font-['Open_Sans']"
            >
              <div class="self-stretch flex flex-col items-start justify-start">
                <div class="relative">
                  We want the users to know how to utilize our website to earn
                  income and, at the same time, contribute to earth.
                </div>
              </div>
            </div>
          </div>
          <div
            class="self-stretch flex flex-col items-start justify-start font-['Open_Sans']"
          >
            <div class="self-stretch flex flex-col items-start justify-start">
              <i class="relative font-semibold"
                >I want to create a flow that looks like a marketplace so users
                or audiences can easily pick up the idea or how the sales work.
                The additional icons represent the step they need to take to get
                started on BrightWaste.</i
              >
            </div>
          </div>
          <img
            class="self-stretch relative max-w-full overflow-hidden max-h-full object-cover"
            loading="lazy"
            alt=""
            src="/public/image--ui-2-1@2x.png"
          />
        </section>
        <section
          class="self-stretch flex flex-col items-center justify-start p-[1.5rem] gap-[1.5rem] text-left text-[1.25rem] text-[#020202] font-['Playfair_Display']"
        >
          <div
            class="self-stretch flex flex-col items-start justify-start gap-[1rem]"
          >
            <div class="self-stretch flex flex-col items-start justify-start">
              <div class="relative font-semibold">
                Quick video of the landing page
              </div>
            </div>
            <div
              class="self-stretch flex flex-col items-start justify-start text-[1rem] font-['Open_Sans']"
            >
              <div class="self-stretch flex flex-col items-start justify-start">
                <div class="relative">
                  Due to time constraints, I designed the product in a
                  simplified manner. However, I ensured that it includes all the
                  essential features users would expect in the initial version.
                </div>
              </div>
            </div>
          </div>
          <div class="self-stretch h-[8.988rem] relative bg-[#c4c4c4]"></div>
        </section>
        <section
          class="self-stretch flex flex-col items-center justify-start p-[1.5rem] gap-[1.5rem] text-left text-[1.25rem] text-[#020202] font-['Playfair_Display']"
        >
          <div
            class="self-stretch flex flex-col items-start justify-start gap-[1rem]"
          >
            <div class="self-stretch flex flex-col items-start justify-start">
              <div class="relative font-semibold">
                Make offer in few steps...
              </div>
            </div>
            <div
              class="self-stretch flex flex-col items-start justify-start text-[1rem] font-['Open_Sans']"
            >
              <div class="self-stretch flex flex-col items-start justify-start">
                <div
                  class="h-[8.25rem] relative tracking-[-0.02px] inline-block"
                >
                  For the video prototype, we utilized Google accounts
                  (connected to Firebase) to create offers. In the future, we
                  plan to expand our capabilities to include other social media
                  platforms, such as Facebook.
                </div>
              </div>
            </div>
          </div>
          <div class="self-stretch h-[8.988rem] relative bg-[#c4c4c4]"></div>
        </section>
        <section
          class="self-stretch flex flex-col items-center justify-start p-[1.5rem] gap-[1.5rem] text-left text-[1.25rem] text-[#020202] font-['Playfair_Display']"
        >
          <div
            class="self-stretch flex flex-col items-start justify-start gap-[1rem]"
          >
            <div
              class="self-stretch flex flex-col items-start justify-start gap-[1rem]"
            >
              <div class="relative font-semibold">
                E-commerce style in our website
              </div>
              <b class="relative text-[#5b3eff]">Iteration 1</b>
            </div>
            <div
              class="self-stretch flex flex-col items-start justify-start text-[1rem] font-['Open_Sans']"
            >
              <div
                class="self-stretch flex flex-col items-start justify-start gap-[1rem]"
              >
                <div class="relative">
                  For users who wish to upload their products, I positioned the
                  categories on the left side.
                </div>
                <div class="relative">
                  Users can directly complete the product upload form. When a
                  user hovers over a product type, they will see the
                  corresponding category name.
                </div>
              </div>
            </div>
          </div>
          <img
            class="self-stretch relative max-w-full overflow-hidden max-h-full object-cover"
            loading="lazy"
            alt=""
            src="/public/image--product-upload-form-v1-1@2x.png"
          />
        </section>
        <section
          class="self-stretch flex flex-col items-center justify-start p-[1.5rem] gap-[1.5rem] text-left text-[1.25rem] text-[#020202] font-['Open_Sans']"
        >
          <div
            class="self-stretch flex flex-col items-start justify-start gap-[1rem] font-['Playfair_Display']"
          >
            <div
              class="self-stretch flex flex-col items-start justify-start gap-[1rem]"
            >
              <div class="relative font-semibold">
                However, concern happened...
              </div>
              <b class="relative text-[#5b3eff]">Iteration 2</b>
            </div>
            <div
              class="self-stretch flex flex-col items-start justify-start text-[1rem] font-['Open_Sans']"
            >
              <div
                class="self-stretch flex flex-col items-start justify-start gap-[1rem]"
              >
                <div class="relative">
                  After consulting with our developers, they indicated that it
                  would not be feasible to develop the first iteration within
                  the current timeframe due to skill limitations.
                </div>
                <div class="relative">
                  I also had the opportunity to discuss the first iteration with
                  three users. However, they expressed confusion regarding the
                  placement. As a result, I decided to revise the concept.
                </div>
              </div>
            </div>
          </div>
          <div
            class="self-stretch flex flex-col items-start justify-start gap-[1rem]"
          >
            <div class="relative font-semibold">
              ➡️ I implemented a tracker button to monitor user page activity.
            </div>
            <div class="relative text-[1rem]">
              The trackers offer two options: 'Describe,' a general upload form
              for item descriptions, and 'Get Choices,' which provides options
              for selling directly to the store or upcycling and selling later.
            </div>
            <img
              class="self-stretch relative max-w-full overflow-hidden max-h-full object-cover"
              loading="lazy"
              alt=""
              src="/public/image--product-upload-form-v2-1@2x.png"
            />
          </div>
          <div
            class="self-stretch flex flex-col items-start justify-start gap-[1rem]"
          >
            <div class="relative font-semibold">
              ➡️ Next: Select your preferred stores.
            </div>
            <div class="relative text-[1rem]">
              Once users complete the form, the system will utilize the Google
              Maps API to determine the nearest store to their location.
            </div>
            <div class="self-stretch h-[8.988rem] relative bg-[#c4c4c4]"></div>
          </div>
          <div
            class="self-stretch flex flex-col items-start justify-start gap-[1rem]"
          >
            <div class="relative font-semibold">➡️ To conclude...</div>
            <div class="relative text-[1rem]">
              Users need to follow two pathways to submit an offer to the store.
            </div>
            <div
              class="self-stretch flex flex-row items-start justify-center font-['Playfair_Display']"
            >
              <div
                class="h-[11.5rem] flex-1 rounded-[15px] border-[#4d2eff] border-[1.5px] border-solid box-border flex flex-col items-start justify-start p-[0.875rem] gap-[0.625rem]"
              >
                <b class="relative"
                  >First option: Describe the item as details as possible</b
                >
                <div class="relative text-[1rem] font-['Open_Sans']">
                  Similar to Amazon or Alibaba, we implemented an e-commerce
                  feature that allows users to describe the items they wish to
                  sell.
                </div>
              </div>
            </div>
            <div
              class="self-stretch flex flex-row items-start justify-center text-[1rem]"
            >
              <div
                class="flex-1 rounded-[15px] border-[#4d2eff] border-[1.5px] border-solid flex flex-col items-start justify-start p-[0.875rem] gap-[0.625rem]"
              >
                <b class="relative text-[1.25rem] font-['Playfair_Display']"
                  >Second, get two choices...</b
                >
                <b class="relative text-[1.25rem] font-['Playfair_Display']">
                  <ul class="m-[0px] font-[inherit] text-inherit pl-[1.35rem]">
                    <li>First option:</li>
                  </ul>
                </b>
                <div class="relative">
                  Users can skip the upcycling process by clicking here.
                  However, this will result in a lower offer price.
                </div>
                <b class="relative text-[1.25rem] font-['Playfair_Display']">
                  <ul class="m-[0px] font-[inherit] text-inherit pl-[1.35rem]">
                    <li>Second option:</li>
                  </ul>
                </b>
                <div class="relative">
                  <p class="m-[0px] font-semibold">Ready to sell?</p>
                  <p class="m-[0px]">
                    Click "Submit Offer" to finalize your offer after upcycling.
                  </p>
                </div>
                <div class="relative">
                  <p class="m-[0px] font-semibold">Need more time?</p>
                  <p class="m-[0px]">
                    Click "Save" to store user’s transaction details. We'll
                    include DIY upcycling steps and estimated selling prices for
                    user’s reference.
                  </p>
                </div>
                <div class="relative">
                  Once user has finished upcycling, user can easily return and
                  submit their offer.
                </div>
              </div>
            </div>
          </div>
          <img
            class="self-stretch relative max-w-full overflow-hidden max-h-full object-cover"
            loading="lazy"
            alt=""
            src="/public/image--product-upload-form-v2-1-1@2x.png"
          />
        </section>
      </main>
      <div class="self-stretch h-[15.206rem] relative bg-[#7ac4b6]">
        <img
          class="absolute top-[1.125rem] left-[1rem] rounded-[10px] w-[6.25rem] h-[12.938rem] object-cover"
          loading="lazy"
          alt=""
          src="/public/image--homepage-1@2x.png"
        />

        <img
          class="absolute top-[1.125rem] left-[8.063rem] rounded-[10px] w-[5.938rem] h-[12.875rem] object-cover"
          loading="lazy"
          alt=""
          src="/public/get-offer--describe@2x.png"
        />

        <div
          class="absolute top-[3rem] left-[53.313rem] rounded-[15px] w-[23.125rem] h-[17.125rem]"
        ></div>
        <img
          class="absolute top-[1.188rem] left-[14.813rem] rounded-[10px] w-[6.625rem] h-[7.188rem] object-cover"
          loading="lazy"
          alt=""
          src="/public/get-offer--get-choices-1@2x.png"
        />

        <img
          class="absolute top-[9rem] left-[14.813rem] rounded-[10px] w-[6.625rem] h-[3.75rem] object-cover"
          loading="lazy"
          alt=""
          src="/public/buyer--all-items-1@2x.png"
        />
      </div>
      <div
        class="self-stretch flex flex-col items-center justify-start p-[1.5rem]"
      >
        <div
          class="self-stretch flex flex-col items-start justify-start gap-[1rem]"
        >
          <div class="self-stretch flex flex-col items-start justify-start">
            <div class="h-[4.938rem] relative tracking-[-0.11px] inline-block">
              <p class="m-[0px]">
                <b>MULTITASKING</b>
              </p>
              <p class="m-[0px] text-[1.25rem] font-semibold text-[#020202]">
                Learn as a designer and developer!
              </p>
            </div>
          </div>
          <div
            class="self-stretch flex flex-col items-start justify-start text-[1rem] text-[#020202] font-['Open_Sans']"
          >
            <div class="self-stretch flex flex-col items-start justify-start">
              <div class="relative">
                Due to time constraints, I took on the role of front-end
                developer (minor task only). Please feel free to review the
                prototype and development progress on GitHub.
              </div>
            </div>
          </div>
          <button
            class="cursor-pointer [border:none] p-[1rem] bg-[#4d2eff] self-stretch shadow-[4px_4px_2.8px_rgba(2,_2,_2,_0.25)] rounded-[15px] flex flex-row items-center justify-center"
          >
            <b
              class="relative text-[1.125rem] font-['Playfair_Display'] text-[#fff2ef] text-center"
              >View prototype</b
            >
          </button>
          <button
            class="cursor-pointer [border:none] p-[1rem] bg-[#e83b5b] self-stretch shadow-[4px_4px_2.8px_rgba(2,_2,_2,_0.25)] rounded-[15px] flex flex-row items-center justify-center"
          >
            <b
              class="relative text-[1.125rem] font-['Playfair_Display'] text-[#fff2ef] text-center"
              >View development</b
            >
          </button>
        </div>
      </div>
      <div
        class="self-stretch flex flex-col items-center justify-start p-[1.5rem] gap-[1.5rem] text-[1.5rem] text-[#020202]"
      >
        <div
          class="self-stretch flex flex-col items-start justify-start gap-[1rem] text-[1.125rem] text-[#5b3eff]"
        >
          <div class="self-stretch flex flex-col items-start justify-start">
            <div class="relative">
              <p class="m-[0px]">
                <b>IMPACT</b>
              </p>
              <p class="m-[0px] text-[1.25rem] font-semibold text-[#020202]">
                Reviews about the website (in general) and campaign video
              </p>
            </div>
          </div>
          <div
            class="self-stretch flex flex-col items-start justify-start text-[1rem] text-[#020202] font-['Open_Sans']"
          >
            <div class="self-stretch flex flex-col items-start justify-start">
              <div class="h-[8.25rem] relative tracking-[-0.05px] inline-block">
                While we were unable to conduct a formal usability test, we
                gathered feedback from those around us regarding our progress. I
                also got a chance to create a campaign video that you can check
                below.
              </div>
            </div>
          </div>
        </div>
        <div
          class="self-stretch flex flex-col items-start justify-start gap-[1rem]"
        >
          <h3
            class="m-[0px] w-[13.35rem] relative text-inherit font-bold font-[inherit] inline-block"
          >
            So stunning!
          </h3>
          <div class="relative text-[1rem] font-['Open_Sans']">
            <p class="m-[0px]">
              <i
                >“The website idea with the animation on campaign video make it
                look stunning! Keep it up!”
              </i>
            </p>
            <p class="m-[0px] font-semibold">— Sara L., 28</p>
          </div>
        </div>
        <div
          class="self-stretch flex flex-col items-start justify-start gap-[1rem]"
        >
          <h3
            class="m-[0px] w-[13.35rem] relative text-inherit font-bold font-[inherit] inline-block"
          >
            So thorough!
          </h3>
          <div class="relative text-[1rem] font-['Open_Sans']">
            <p class="m-[0px]">
              <i
                >“The writeup is so thorough! I really like the challenges that
                you mentioned, especially building a scenario for this project.”
              </i>
            </p>
            <p class="m-[0px] font-semibold">
              — Shreya, 24, Developer Advocate @Courier
            </p>
          </div>
        </div>
        <div
          class="self-stretch flex flex-col items-start justify-start gap-[1rem]"
        >
          <h3
            class="m-[0px] w-[13.35rem] relative text-inherit font-bold font-[inherit] inline-block"
          >
            Simple design!
          </h3>
          <div class="relative text-[1rem] font-['Open_Sans']">
            <p class="m-[0px]">
              <i
                >“I appreciate how the design and idea remind me that even the
                smallest actions can contribute to caring for the Earth.”
              </i>
            </p>
            <p class="m-[0px] font-semibold">— Sara L., 28</p>
          </div>
        </div>
      </div>
      <div
        class="self-stretch flex flex-col items-center justify-start p-[1.5rem] gap-[1.5rem]"
      >
        <div
          class="self-stretch flex flex-col items-start justify-start gap-[1rem]"
        >
          <div class="self-stretch flex flex-col items-start justify-start">
            <div class="relative">
              <p class="m-[0px]">
                <b>THE END?</b>
              </p>
              <p class="m-[0px] text-[1.25rem] font-semibold text-[#020202]">
                We earned best results but...
              </p>
            </div>
          </div>
          <div
            class="self-stretch flex flex-col items-start justify-start text-[1rem] text-[#020202] font-['Open_Sans']"
          >
            <div
              class="self-stretch flex flex-col items-start justify-start gap-[1rem]"
            >
              <div class="relative">There’s still a long way to go!</div>
              <div class="relative">
                <span>We are excited to share that we won </span>
                <i class="font-semibold">first place</i>
                <span> and </span>
                <i class="font-semibold">public favorite</i>
                <span>
                  in the hackathon based on the design, ideas, and campaign
                  video we made!</span
                >
              </div>
            </div>
          </div>
        </div>
        <img
          class="self-stretch relative max-w-full overflow-hidden max-h-full object-cover"
          loading="lazy"
          alt=""
          src="/public/image--flowchart-1@2x.png"
        />

        <textarea
          class="[border:none] bg-[#c4c4c4] h-[15.656rem] w-auto [outline:none] self-stretch relative"
          rows="{13}"
          cols="{16}"
        >
        </textarea>
      </div>
      <div
        class="self-stretch flex flex-col items-center justify-start p-[1.5rem] text-[1.25rem] text-[#020202]"
      >
        <div
          class="self-stretch flex flex-col items-start justify-start gap-[1rem]"
        >
          <div
            class="self-stretch flex flex-col items-start justify-start text-[1.125rem] text-[#5b3eff]"
          >
            <div class="relative">
              <p class="m-[0px]">
                <b>WHAT WE LEARNED</b>
              </p>
              <p class="m-[0px] text-[1.25rem] font-semibold text-[#020202]">
                We learned...
              </p>
            </div>
          </div>
          <div class="self-stretch flex flex-row items-start justify-center">
            <div
              class="flex-1 rounded-[15px] border-[#4d2eff] border-[1.5px] border-solid flex flex-col items-start justify-start py-[0.875rem] px-[1rem] gap-[0.625rem]"
            >
              <b class="relative">Intervention is important</b>
              <div
                class="relative text-[1rem] tracking-[-0.06px] font-['Open_Sans']"
              >
                I believe that when a developer builds the product, there may be
                issues with spacing and alignment. In such cases, I would
                request to be added as a collaborator so that I can directly add
                comments or fix the issues
              </div>
            </div>
          </div>
          <div class="self-stretch flex flex-row items-start justify-center">
            <div
              class="h-[8.438rem] flex-1 rounded-[15px] border-[#4d2eff] border-[1.5px] border-solid box-border flex flex-col items-start justify-start p-[0.875rem] gap-[0.625rem]"
            >
              <b class="relative">Finding idea is hard but…</b>
              <div class="relative text-[1rem] font-['Open_Sans']">
                When an idea proves successful, I always aim to maximize its
                benefits for a wider audience.
              </div>
            </div>
          </div>
          <div class="self-stretch flex flex-row items-start justify-center">
            <div
              class="flex-1 rounded-[15px] border-[#4d2eff] border-[1.5px] border-solid flex flex-col items-start justify-start p-[0.875rem] gap-[0.625rem]"
            >
              <b class="relative"
                >It's impossible to solve all problems within short amount of
                time</b
              >
              <div class="relative text-[1rem] font-['Open_Sans']">
                While our idea is well-developed, we still need to address the
                crucial issue of shipping costs. Due to time constraints, we
                haven't been able to delve into this aspect in detail yet.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="self-stretch flex flex-col items-center justify-start p-[1.5rem] gap-[1.5rem]"
      >
        <div
          class="self-stretch flex flex-col items-start justify-start gap-[1rem]"
        >
          <div class="self-stretch flex flex-col items-start justify-start">
            <div class="relative">
              <p class="m-[0px]">
                <b>FUTURE SAYS...</b>
              </p>
              <p class="m-[0px] text-[1.25rem] font-semibold text-[#020202]">
                What’s next?
              </p>
            </div>
          </div>
          <div
            class="self-stretch flex flex-col items-start justify-start text-[1rem] text-[#020202] font-['Open_Sans']"
          >
            <div
              class="self-stretch flex flex-col items-start justify-start gap-[1rem]"
            >
              <div class="relative">
                <ul class="m-[0px] font-[inherit] text-inherit pl-[1.312rem]">
                  <li>
                    Contact potential partners or investors that want to work
                    with us to develop this.
                  </li>
                </ul>
              </div>
              <div class="relative">
                <ul class="m-[0px] font-[inherit] text-inherit pl-[1.312rem]">
                  <li>
                    Keep iterating the design concept and add important
                    features, such as, shipping cost and store admin pages.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
       
      </div>
      
    </div>
  </body>
</html>
