---
import { Image } from "astro:assets";
import brightwaste from "../../assets/brightwaste/brightwaste.png";

---

<div class="w-full  flex-col justify-start items-center gap-14 inline-flex">

  <div class="self-stretch  flex-col justify-start items-center flex ">

    <div class="flex flex-col items-start gap-4 relative px-[6%] my-[20px]">
      <div class="relative self-stretch mt-[-1.00px] [font-family:'Playfair_Display',Helvetica] font-medium text-[#020202] text-[32px] text-center tracking-[0] leading-[normal]">
        BrightWaste Sustainable Web App
      </div>
      <p class="relative self-stretch [font-family:'Playfair_Display-Bold',Helvetica] font-normal text-[#020202] text-2xl text-center tracking-[0] leading-[normal]">
        <span class="font-bold">🥳 </span>
        <span class="[font-family:'Playfair_Display',Helvetica] font-medium">Courier Hacks Winner </span>
        <span class="font-bold">🥳 </span>
      </p>
      <p class="relative self-stretch [font-family:'Open_Sans-Regular',Helvetica] font-normal text-[#020202] text-base text-center tracking-[0] leading-[normal]">
        <span class="[font-family:'Open_Sans-Regular',Helvetica] font-normal text-[#020202] text-base tracking-[0]">
          A Sustainable Marketplace Website that can give people options either to{" "}
        </span>
        <span class="[font-family:'Open_Sans-SemiBoldItalic',Helvetica] font-semibold italic">
          sell the used items directly to the shop
        </span>
        <span class="[font-family:'Open_Sans-Regular',Helvetica] font-normal text-[#020202] text-base tracking-[0]">
          {" "}
          or to{" "}
        </span>
        <span class="[font-family:'Open_Sans-SemiBoldItalic',Helvetica] font-semibold italic">
          upcycle and sell it for a better price
        </span>
        <span class="[font-family:'Open_Sans-Regular',Helvetica] font-normal text-[#020202] text-base tracking-[0]">
          .
        </span>
      </p>
    </div>
  

    <div class="w-full relative bg-gradient-to-bl from-[#ffdb97] to-[#a1ffec]">
        <Image src={brightwaste} alt="Brightwaste" class="w-full h-full"/>
    </div>
  </div>

  <div class="flex-col sm:flex-row justify-start items-center sm:items-start gap-6 flex w-full px-[6%]">
    <div class="flex-col justify-start items-center gap-2 flex sm:w-1/3">
      <div class="w-8 h-8 p-[3.50px] justify-center items-center inline-flex">
        <svg
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M25.7563 21.8719C24.9741 21.0891 24.0602 20.4501 23.0563 19.9844C24.472 18.8375 25.3751 17.0875 25.3751 15.125C25.3751 11.6625 22.4876 8.82187 19.0251 8.875C15.6157 8.92812 12.8688 11.7062 12.8688 15.125C12.8688 17.0875 13.7751 18.8375 15.1876 19.9844C14.1835 20.4498 13.2695 21.0887 12.4876 21.8719C10.7813 23.5812 9.81258 25.8375 9.75008 28.2437C9.74924 28.2771 9.75509 28.3103 9.76728 28.3413C9.77947 28.3724 9.79776 28.4007 9.82105 28.4246C9.84435 28.4485 9.8722 28.4674 9.90294 28.4804C9.93369 28.4933 9.96671 28.5 10.0001 28.5H11.7501C11.8845 28.5 11.997 28.3937 12.0001 28.2594C12.0595 26.4469 12.7938 24.75 14.0845 23.4625C14.7449 22.7985 15.5305 22.2722 16.3957 21.9139C17.2609 21.5555 18.1886 21.3724 19.1251 21.375C21.0282 21.375 22.8188 22.1156 24.1657 23.4625C25.4532 24.75 26.1876 26.4469 26.2501 28.2594C26.2532 28.3937 26.3657 28.5 26.5001 28.5H28.2501C28.2834 28.5 28.3165 28.4933 28.3472 28.4804C28.378 28.4674 28.4058 28.4485 28.4291 28.4246C28.4524 28.4007 28.4707 28.3724 28.4829 28.3413C28.4951 28.3103 28.5009 28.2771 28.5001 28.2437C28.4376 25.8375 27.4688 23.5812 25.7563 21.8719ZM19.1251 19.125C18.0563 19.125 17.0501 18.7094 16.297 17.9531C15.919 17.5781 15.6204 17.1309 15.4191 16.638C15.2178 16.1451 15.1178 15.6167 15.1251 15.0844C15.1345 14.0594 15.5438 13.0687 16.2595 12.3344C17.0095 11.5656 18.0126 11.1375 19.0845 11.125C20.1438 11.1156 21.172 11.5281 21.9282 12.2687C22.7032 13.0281 23.1282 14.0437 23.1282 15.125C23.1282 16.1937 22.7126 17.1969 21.9563 17.9531C21.5853 18.3259 21.144 18.6214 20.6581 18.8226C20.1721 19.0237 19.651 19.1265 19.1251 19.125ZM11.297 15.95C11.2688 15.6781 11.2532 15.4031 11.2532 15.125C11.2532 14.6281 11.3001 14.1437 11.3876 13.6719C11.4095 13.5594 11.3501 13.4437 11.247 13.3969C10.822 13.2062 10.4313 12.9437 10.0938 12.6125C9.69614 12.2269 9.3832 11.7626 9.17497 11.2493C8.96674 10.736 8.8678 10.1849 8.88445 9.63125C8.91258 8.62813 9.3157 7.675 10.0188 6.95625C10.7907 6.16563 11.8282 5.73438 12.9313 5.74688C13.9282 5.75625 14.8907 6.14063 15.6188 6.82188C15.8657 7.05312 16.0782 7.30938 16.2563 7.58437C16.3188 7.68125 16.4407 7.72187 16.547 7.68437C17.097 7.49375 17.6782 7.35937 18.2751 7.29687C18.4501 7.27812 18.5501 7.09062 18.472 6.93437C17.4563 4.925 15.3813 3.5375 12.9813 3.5C9.5157 3.44688 6.6282 6.2875 6.6282 9.74687C6.6282 11.7094 7.53133 13.4594 8.94695 14.6062C7.9532 15.0656 7.03758 15.7 6.24383 16.4937C4.53133 18.2031 3.56258 20.4594 3.50008 22.8687C3.49924 22.9021 3.50509 22.9353 3.51728 22.9663C3.52947 22.9974 3.54776 23.0257 3.57105 23.0496C3.59435 23.0735 3.6222 23.0924 3.65294 23.1054C3.68369 23.1183 3.71672 23.125 3.75008 23.125H5.5032C5.63758 23.125 5.75008 23.0187 5.7532 22.8844C5.81258 21.0719 6.54695 19.375 7.83758 18.0875C8.75633 17.1687 9.88133 16.5312 11.1095 16.2219C11.2313 16.1906 11.3126 16.075 11.297 15.95Z"
            fill="#020202"></path>
        </svg>
      </div>
      <div
        class="w-full text-center text-[#020202] text-xl font-medium !font-playfair"
      >
        TEAM
      </div>
      <div
        class="w-full text-center text-[#020202] text-base font-normal font-['Open Sans']"
      >
        UX Designers, Project Manager, and myself as a Designer/Content Lead
      </div>
    </div>
    <div class="flex-col justify-start items-center gap-2 flex  sm:w-1/3">
      <div class="w-8 h-8 relative">
        <svg
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M16.0001 2.66663C8.64808 2.66663 2.66675 8.64796 2.66675 16C2.66675 23.352 8.64808 29.3333 16.0001 29.3333C23.3521 29.3333 29.3334 23.352 29.3334 16C29.3334 8.64796 23.3521 2.66663 16.0001 2.66663ZM16.0001 26.6666C10.1187 26.6666 5.33341 21.8813 5.33341 16C5.33341 10.1186 10.1187 5.33329 16.0001 5.33329C21.8814 5.33329 26.6667 10.1186 26.6667 16C26.6667 21.8813 21.8814 26.6666 16.0001 26.6666Z"
            fill="#020202"></path>
          <path
            d="M17.3334 9.33337H14.6667V17.3334H22.6667V14.6667H17.3334V9.33337Z"
            fill="#020202"></path>
        </svg>
      </div>
      <div class="text-center text-[#020202] text-xl font-medium !font-playfair">
        DURATION
      </div>
      <div
        class="w-full text-center text-[#020202] text-base font-normal font-['Open Sans']"
      >
        8 weeks <br />(Jan - Feb 2020)
      </div>
    </div>
    <div class="flex-col justify-start items-center gap-2 flex  sm:w-1/3">
      <div class="w-8 h-8 p-0.5 justify-center items-center inline-flex">
        <svg
          width="28"
          height="28"
          viewBox="0 0 28 28"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M27.4149 19.666L21.0799 13.331L27.4139 6.99696C27.5998 6.8113 27.7473 6.59084 27.8479 6.34817C27.9486 6.1055 28.0004 5.84538 28.0005 5.58267C28.0006 5.31996 27.9489 5.0598 27.8485 4.81706C27.748 4.57432 27.6007 4.35376 27.4149 4.16796L27.4139 4.16596L23.8339 0.585963C23.6483 0.400094 23.4278 0.252625 23.1851 0.151979C22.9425 0.0513331 22.6823 -0.000517363 22.4196 -0.000610227C22.1569 -0.00070309 21.8968 0.0509635 21.654 0.151438C21.4113 0.251912 21.1907 0.399225 21.0049 0.584963L21.0039 0.585963L14.6699 6.91996L8.33493 0.584963C7.95935 0.210997 7.45093 0.00104023 6.92093 0.00104023C6.39092 0.00104023 5.8825 0.210997 5.50693 0.584963L0.584926 5.50596C0.209923 5.88119 -0.000732422 6.38997 -0.000732422 6.92046C-0.000732422 7.45095 0.209923 7.95974 0.584926 8.33496L6.91893 14.669L-7.36713e-05 21.59V28H6.40993L13.3299 21.08L19.6649 27.417C20.0411 27.7906 20.5498 28.0002 21.0799 28.0002C21.6101 28.0002 22.1188 27.7906 22.4949 27.417L27.4149 22.495C27.7899 22.1197 28.0006 21.611 28.0006 21.0805C28.0006 20.55 27.7899 20.0412 27.4149 19.666ZM22.4129 1.99596L26.0029 5.58596L19.6699 11.92L16.0799 8.32996L22.4129 1.99596ZM5.99993 26H1.99993V22.409L8.32993 16.08L12.0059 19.758L5.99993 26ZM21.0799 26.004L1.99993 6.91996L6.92193 1.99996L10.7099 5.78696L8.45793 8.03996L9.87293 9.45396L12.1239 7.20196L16.2539 11.332L13.9999 13.582L15.4159 14.996L17.6679 12.744L21.7979 16.874L19.5459 19.125L20.9599 20.54L23.2119 18.289L26.0019 21.08L21.0799 26.004Z"
            fill="#020202"></path>
        </svg>
      </div>
      <div class="text-center text-[#020202] text-xl font-medium !font-playfair">
        TOOLS
      </div>
      <div
        class="w-full text-center text-[#020202] text-base font-normal font-['Open Sans']"
      >
        Figma, Illustrator
      </div>
    </div>
  </div>
  
      <div class="flex flex-col items-center gap-6 p-6 relative">
        <div class="flex flex-col items-start gap-4 relative self-stretch w-full flex-[0_0_auto]">
          <p class="relative self-stretch mt-[-1.00px] [font-family:'Playfair_Display',Helvetica] font-normal text-transparent text-lg tracking-[0] leading-[normal]">
            <span class="font-bold text-[#5a3dff]">
              OVERVIEW
              <br />
            </span>
            <span class="[font-family:'Playfair_Display',Helvetica] font-semibold text-[#020202] text-xl">
              Analyze the goal of BrightWaste
            </span>
          </p>
          <div class="flex flex-col items-start gap-0.5">
            <p class="relative self-stretch [font-family:'Open_Sans-Regular',Helvetica] font-normal text-[#020202] text-base tracking-[0] leading-[normal]">
              <span class="[font-family:'Open_Sans-Regular',Helvetica] font-normal text-[#020202] text-base tracking-[0]">
                Our main goal was to encourage people to live sustainably and earn more money at the same time. The idea
                of recycling has been a trend since years ago. The question is, does it work?
                <br />
              </span>
            </p>
            <p class="relative self-stretch [font-family:'Open_Sans-Regular',Helvetica] font-normal text-[#020202] text-base tracking-[0] leading-[normal]">
              <span class="[font-family:'Open_Sans-Regular',Helvetica] font-normal text-[#020202] text-base tracking-[0]">
                <br />
              </span>
            </p>
            <p class="relative self-stretch [font-family:'Open_Sans-Regular',Helvetica] font-normal text-[#020202] text-base tracking-[0] leading-[normal]">
              <span class="[font-family:'Open_Sans-Regular',Helvetica] font-normal text-[#020202] text-base tracking-[0]">
                Based on the research,
              </span>
            </p>
          </div>
        </div>
        <div class="flex items-start justify-center gap-[140px] relative self-stretch w-full flex-[0_0_auto] ">
          <div class="flex px-[5%] items-start  gap-2.5 py-4 relative flex-1 grow bg-[#DAD4FE] rounded-[15px]">
            <svg class=" w-6 md:w-[70px]" viewBox="0 0 72 70" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M43.373 39.355C43.373 37.32 42.6934 35.56 41.3002 34.13C39.1934 31.985 35.0817 31.71 32.703 32.15C31.7176 27.6125 36.4749 21.8375 42.6254 19.3625L37.9021 14C28.6253 17.575 19.4845 25.77 21.0476 36.1375C22.0331 42.6825 26.7224 47 33.3487 47C36.237 47 38.6497 46.3125 40.5526 44.9375C42.4555 43.5625 43.373 41.6925 43.373 39.355ZM70.7275 39.355C70.7275 37.32 70.0479 35.56 68.6547 34.13C66.5139 31.985 62.4362 31.71 60.0575 32.15C59.0721 27.6125 63.8294 21.8375 69.9799 19.3625L65.2566 14C55.9799 17.575 46.873 25.77 48.4361 36.1375C49.4216 42.6825 54.0769 47 60.7032 47C63.5915 47 66.0042 46.3125 67.9071 44.9375C69.81 43.5625 70.7275 41.6925 70.7275 39.355Z" fill="#5585FF"/>
              </svg>
              
            <p class="relative flex-1 mt-[-1.00px] [font-family:'Playfair_Display',Helvetica] font-normal text-[#020202] text-xl tracking-[0] leading-[40.3px]">
              <span class="[font-family:'Playfair_Display',Helvetica] font-medium italic">
                About 110 million glass bottles are thrown away and only one-third get recycled.{" "}
              </span>
              <span class="[font-family:'Open_Sans-Regular',Helvetica]">-- weforum.org</span>
            </p>
          </div>
        </div>
        <p class="relative self-stretch [font-family:'Open_Sans-Regular',Helvetica] font-normal text-[#020202] text-base tracking-[0] leading-[normal]">
          It could be easier to sell the used item for a lower price, but instead of doing so,
        </p>
        <div class="flex flex-col items-start gap-4 relative self-stretch w-full flex-[0_0_auto]">
          <div class="relative self-stretch mt-[-1.00px] [font-family:'Playfair_Display',Helvetica] font-semibold text-[#020202] text-xl tracking-[0] leading-[normal]">
            Why don’t we...
          </div>
          <p class="relative self-stretch [font-family:'Open_Sans-Italic',Helvetica] font-normal italic text-[#020202] text-base tracking-[0] leading-[normal]">
            get our creativity going and turn it into something more meaningful and can have more value to it?&nbsp;&nbsp;
            <br />
            <br />
            It doesn&#39;t only impact the earth; also, we can contribute to the economy cycle.
          </p>
        </div>
        <div class="flex flex-col items-center gap-6 relative self-stretch w-full flex-[0_0_auto]">
          <div class="relative self-stretch mt-[-1.00px] [font-family:'Open_Sans-Regular',Helvetica] font-normal text-[#020202] text-base tracking-[0] leading-[normal]">
            That’s why we provided...
          </div>
        </div>
        <div class="flex items-start justify-center gap-[140px] relative self-stretch w-full flex-[0_0_auto]">
          <div class="flex flex-col items-start gap-2.5 p-4 relative flex-1 grow bg-[#aae5fe] rounded-[15px]">
            <div class="relative w-fit mt-[-1.00px] [font-family:'Playfair_Display',Helvetica] font-bold text-[#020202] text-2xl tracking-[0] leading-[normal]">
              Brightwaste
            </div>
            <p class="relative self-stretch [font-family:'Open_Sans-Regular',Helvetica] font-normal text-[#020202] text-base tracking-[0] leading-[normal]">
              <span class="[font-family:'Open_Sans-Regular',Helvetica] font-normal text-[#020202] text-base tracking-[0]">
                ...which helps people to get{" "}
              </span>
              <span class="[font-family:'Open_Sans-SemiBoldItalic',Helvetica] font-semibold italic">
                plenty of ideas on how to recycle
              </span>
              <span class="[font-family:'Open_Sans-Regular',Helvetica] font-normal text-[#020202] text-base tracking-[0]">
                {" "}
                their stuff and lets the potential seller get notified{" "}
              </span>
              <span class="[font-family:'Open_Sans-SemiBoldItalic',Helvetica] font-semibold italic">
                when they can sell the products for a better price
              </span>
              <span class="[font-family:'Open_Sans-Regular',Helvetica] font-normal text-[#020202] text-base tracking-[0]">
                .
              </span>
            </p>
          </div>
        </div>
      </div>
  


