<div class="w-full bg-white flex-col justify-start items-center gap-14 inline-flex">
  <div class="self-stretch h-[1461.33px] flex-col justify-start items-center flex">
 
    <div class="self-stretch h-[1294.33px] px-[140px] py-6 flex-col justify-start items-start gap-2.5 flex">
      <div class="self-stretch h-[1246.33px] flex-col justify-center items-center gap-10 flex">
        <div class="self-stretch h-[1046px] flex-col justify-start items-center gap-10 flex">
          <div class="self-stretch h-[215px] flex-col justify-start items-center gap-4 flex">
            <div class="flex-col justify-start items-center gap-4 flex">
              <div class="text-[#020202] text-5xl font-medium font-['Playfair Display']">BrightWaste Sustainable Web App</div>
              <div><span style="text-[#020202] text-[40px] font-bold font-['Playfair Display']">🥳 </span><span style="text-[#020202] text-[40px] font-medium font-['Playfair Display']">Courier Hacks Winner </span><span style="text-[#020202] text-[40px] font-bold font-['Playfair Display']">🥳 </span></div>
            </div>
            <div class="self-stretch text-center"><span style="text-[#020202] text-2xl font-normal font-['Open Sans']">A Sustainable Marketplace Website that can give people options either to </span><span style="text-[#020202] text-2xl font-semibold font-['Open Sans']">sell the used items directly to the shop</span><span style="text-[#020202] text-2xl font-normal font-['Open Sans']"> or to </span><span style="text-[#020202] text-2xl font-semibold font-['Open Sans']">upcycle and sell it for a better price</span><span style="text-[#020202] text-2xl font-normal font-['Open Sans']">.</span></div>
          </div>
          <div class="w-[1280px] h-[791px] relative bg-gradient-to-bl from-[#ffdb97] to-[#a1ffec]">
            <div class="left-[178px] top-[793px] absolute text-center text-black text-[28px] font-normal font-['Poppins']">Make a change, be creative, and grow more wealth</div>
            <img class="w-[319px] h-[319px] left-[992px] top-[609px] absolute" src="https://via.placeholder.com/319x319" />
            <img class="w-[319px] h-[319px] left-[268.48px] top-[-60.67px] absolute origin-top-left rotate-[102.74deg]" src="https://via.placeholder.com/319x319" />
            <div class="w-[878px] h-[505px] left-[102px] top-[89px] absolute">
              <div class="w-[711.22px] h-[487.56px] left-[83.39px] top-0 absolute">
                <div class="w-[704.23px] h-[13.08px] left-[3.49px] top-[460.95px] absolute bg-[#262c2d]"></div>
                <div class="w-[674.55px] h-[421.27px] left-[18.34px] top-[28.78px] absolute">
                  <div class="w-[674.55px] h-[421.27px] left-0 top-0 absolute bg-white"></div>
                  <img class="w-[674.55px] h-[421.27px] left-0 top-0 absolute" src="https://via.placeholder.com/675x421" />
                </div>
                <div class="w-[4.80px] h-[4.80px] left-[353.21px] top-[14.83px] absolute"></div>
              </div>
              <div class="w-[878px] h-[25.73px] left-0 top-[474.04px] absolute">
                <div class="w-[877.78px] h-[13.52px] left-0 top-0 absolute">
                </div>
                <img class="w-[878px] h-[12.21px] left-0 top-[13.52px] absolute" src="https://via.placeholder.com/878x12" />
              </div>
            </div>
            <div class="w-[304px] h-[437px] left-[874px] top-[201px] absolute">
              <div class="w-[19.94px] h-[19.91px] left-[142.03px] top-[410.29px] absolute">
                <img class="w-[19.94px] h-[19.91px] left-0 top-0 absolute" src="https://via.placeholder.com/20x20" />
              </div>
              <div class="w-[4.38px] h-[4.37px] left-[149.81px] top-[14.08px] absolute"></div>
              <div class="w-[279.68px] h-[372.42px] left-[12.16px] top-[32.05px] absolute">
                <div class="w-[279.68px] h-[372.42px] left-0 top-0 absolute bg-white"></div>
                <img class="w-[279.68px] h-[372.42px] left-0 top-0 absolute" src="https://via.placeholder.com/280x372" />
              </div>
            </div>
            <div class="w-[153px] h-[309.26px] left-[-13px] top-[530px] absolute">
              <div class="w-[100.92px] h-[18.45px] left-[21.70px] top-[189.89px] absolute bg-[#dd9260] rounded-full border-2 border-[#5dddfb]"></div>
              <div class="w-[10.61px] h-[10.61px] left-[42.08px] top-[36.38px] absolute origin-top-left rotate-[-62.36deg] bg-[#fadbac] rounded-full"></div>
              <div class="w-[10.61px] h-[10.61px] left-[77.65px] top-[27.27px] absolute origin-top-left rotate-[-30.30deg] bg-[#fadbac] rounded-full"></div>
            </div>
            <div class="left-[427px] top-[632px] absolute justify-start items-center gap-[19px] inline-flex">
              <div class="w-[122.26px] h-[122.26px] relative">
                <div class="w-[122.26px] h-[122.26px] left-0 top-0 absolute bg-[#93d1ff] rounded-full"></div>
                <div class="w-[7.64px] h-[4.58px] left-[93.99px] top-[88.64px] absolute bg-[#5ea96a] rounded-full"></div>
              </div>
              <div class="w-[285px] h-[73px] relative">
                <div class="left-0 top-0 absolute"><span style="text-[#1b148d] text-5xl font-normal font-['Jokerman']">Bright</span><span style="text-[#014d3e] text-5xl font-normal font-['JejuMyeongjo']">Waste</span></div>
              </div>
            </div>
            <div class="w-[269px] h-[269px] left-[1038px] top-[-50px] absolute"></div>
          </div>
        </div>
        <div class="w-[950px] h-[160.33px] relative">
          <div class="w-[258px] h-40 left-0 top-0 absolute">
            <div class="w-[258px] h-[47px] left-0 top-[113px] absolute text-center text-[#020202] text-base font-normal font-['Open Sans']">2 developers, and myself as a UX Designer and UX Writer</div>
            <div class="w-[70px] h-[33px] left-[94px] top-[72px] absolute text-center text-[#020202] text-2xl font-medium font-['Playfair Display']">TEAM</div>
            <div class="w-16 h-16 left-[97px] top-0 absolute"></div>
          </div>
          <div class="w-[258px] h-[160.33px] left-[346px] top-0 absolute">
            <div class="w-[258px] h-[47.33px] left-0 top-[113px] absolute text-center text-[#020202] text-base font-normal font-['Open Sans']">Oct 2022 - Mar 2023</div>
            <div class="w-[134px] h-[33px] left-[62px] top-[72px] absolute text-center text-[#020202] text-2xl font-medium font-['Playfair Display']">DURATION</div>
            <div class="w-16 h-16 left-[97px] top-0 absolute"></div>
          </div>
          <div class="w-[258px] h-[160.33px] left-[692px] top-0 absolute">
            <div class="w-[258px] h-[47.33px] left-0 top-[113px] absolute text-center text-[#020202] text-base font-normal font-['Open Sans']">Figma, Github, <br/>Visual Studio Code</div>
            <div class="w-[134px] h-[33px] left-[62px] top-[72px] absolute text-center text-[#020202] text-2xl font-medium font-['Playfair Display']">TOOLS</div>
            <div class="w-16 h-16 left-[97px] top-0 absolute"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="self-stretch h-[860px] px-[140px] py-6 flex-col justify-start items-start gap-2.5 flex">
    <div class="self-stretch h-[812px] flex-col justify-start items-center gap-10 flex">
      <div class="self-stretch h-[191px] flex-col justify-start items-start gap-4 flex">
        <div class="w-[1000px] h-[71px]"><span style="text-[#5a3dff] text-xl font-bold font-['Playfair Display']">OVERVIEW<br/></span><span style="text-[#020202] text-2xl font-semibold font-['Playfair Display']">Analyze the goal of BrightWaste</span></div>
        <div class="w-[1000px] text-[#020202] text-lg font-normal font-['Open Sans']">Our main goal was to encourage people to live sustainably and earn more money at the same time. The idea of recycling has been a trend since years ago. The question is, does it work?<br/><br/>Based on the research,</div>
      </div>
      <div class="h-[129px] px-11 py-6 bg-[#dad4fd] rounded-[15px] flex-col justify-start items-start gap-2.5 flex">
        <div class="self-stretch h-[81px] relative">
          <div class="w-[812.63px] h-[81px] left-[99.37px] top-0 absolute justify-start items-center gap-2.5 inline-flex">
            <div class="grow shrink basis-0"><span style="text-[#020202] text-2xl font-medium font-['Playfair Display'] leading-10">About 110 million glass bottles are thrown away and only one-third get recycled. </span><span style="text-[#020202] text-2xl font-normal font-['Open Sans'] leading-10">-- weforum.org</span></div>
          </div>
          <div class="w-[74.35px] h-[69px] left-0 top-[0.33px] absolute rounded-[15px]"></div>
        </div>
      </div>
      <div class="self-stretch text-[#020202] text-lg font-normal font-['Open Sans']">It could be easier to sell the used item for a lower price, but instead of doing so, </div>
      <div class="self-stretch h-[123px] flex-col justify-start items-start gap-4 flex">
        <div class="self-stretch text-[#020202] text-2xl font-semibold font-['Playfair Display']">Why don’t we...</div>
        <div class="self-stretch text-[#020202] text-lg font-normal font-['Open Sans']">get our creativity going and turn it into something more meaningful and can have more value to it?  <br/><br/>It doesn't only impact the earth; also, we can contribute to the economy cycle.</div>
      </div>
      <div class="self-stretch h-[184px] flex-col justify-start items-center gap-6 flex">
        <div class="self-stretch text-[#020202] text-lg font-normal font-['Open Sans']">That’s why we provided...</div>
        <div class="self-stretch justify-center items-start gap-[140px] inline-flex">
          <div class="grow shrink basis-0 p-4 bg-[#aae5fe] rounded-[15px] flex-col justify-start items-start gap-2.5 inline-flex">
            <div class="text-[#020202] text-[32px] font-bold font-['Playfair Display']">Brightwaste</div>
            <div class="self-stretch"><span style="text-[#020202] text-lg font-normal font-['Open Sans']">...which helps people to get </span><span style="text-[#020202] text-lg font-semibold font-['Open Sans']">plenty of ideas on how to recycle</span><span style="text-[#020202] text-lg font-normal font-['Open Sans']"> their stuff and lets the potential seller get notified </span><span style="text-[#020202] text-lg font-semibold font-['Open Sans']">when they can sell the products for a better price</span><span style="text-[#020202] text-lg font-normal font-['Open Sans']">.</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="self-stretch h-[1664.33px] px-[140px] py-6 flex-col justify-start items-start gap-2.5 flex">
    <div class="self-stretch h-[1616.33px] flex-col justify-start items-center gap-10 flex">
      <div class="self-stretch h-[162px] flex-col justify-start items-start gap-4 flex">
        <div class="w-[1000px] h-[71px]"><span style="text-[#5a3dff] text-xl font-bold font-['Playfair Display']">IDEA VS. USER PERSPECTIVE<br/></span><span style="text-[#020202] text-2xl font-semibold font-['Playfair Display']">Inspiration behind the project</span></div>
        <div class="w-[1000px]"><span style="text-[#020202] text-lg font-normal font-['Open Sans']">I love to do DIY in my free time. So, I went to a materials store close to my area, Lacey, WA, US, to buy wood to build my new shelf. I was disappointed with the furniture waste left in the store. At that time, I got a chance to interview </span><span style="text-[#020202] text-lg font-semibold font-['Open Sans']">two people that were shoppers</span><span style="text-[#020202] text-lg font-normal font-['Open Sans']">.</span></div>
      </div>
      <div class="h-[127.67px] px-11 py-6 bg-[#dad4fd] rounded-[15px] flex-col justify-start items-start gap-2.5 flex">
        <div class="w-[861px] h-[79.67px] relative">
          <div class="w-[784px] h-[79px] left-[77px] top-[0.67px] absolute"><span style="text-[#020202] text-2xl font-normal font-['Playfair Display'] leading-10">Question:</span><span style="text-[#020202] text-2xl font-semibold font-['Playfair Display'] leading-10"> Tell me how you reuse the materials (furniture, glass bottle)</span><span style="text-[#020202] text-2xl font-normal font-['Playfair Display'] leading-10"> </span><span style="text-[#020202] text-2xl font-semibold font-['Playfair Display'] leading-10">at home.</span></div>
          <div class="w-[58px] h-[53px] left-0 top-0 absolute rounded-[15px]"></div>
        </div>
      </div>
      <div class="self-stretch text-[#020202] text-lg font-normal font-['Open Sans']">And it was shocking to listen to their answers:</div>
      <div class="self-stretch justify-center items-start gap-[140px] inline-flex">
        <div class="w-[382px] p-4 bg-[#aae5fe] rounded-[15px] flex-col justify-start items-start gap-2.5 inline-flex">
          <div class="text-[#020202] text-[38px] font-bold font-['Playfair Display']">I didn’t do...</div>
          <div class="self-stretch"><span style="text-[#020202] text-lg font-normal font-['Open Sans']">anything to it. I just place in the closet or storage and threw it after few years.<br/></span><span style="text-[#020202] text-lg font-semibold font-['Open Sans']">-- Jason, 20, student</span></div>
        </div>
        <div class="p-4 bg-[#aae5fe] rounded-[15px] flex-col justify-start items-start gap-2.5 inline-flex">
          <div class="text-[#020202] text-[38px] font-bold font-['Playfair Display']">I sold it...</div>
          <div class="w-[315px]"><span style="text-[#020202] text-lg font-normal font-['Open Sans']">in OfferUp for cheaper price or tossed it in the waste dump.”<br/></span><span style="text-[#020202] text-lg font-semibold font-['Open Sans']">-- Sasha, 52, housewife</span></div>
        </div>
      </div>
      <div class="self-stretch justify-center items-start gap-[140px] inline-flex">
        <div class="w-[488px] p-4 rounded-[15px] border border-[#00b2ff] flex-col justify-start items-start gap-2.5 inline-flex">
          <div class="text-[#020202] text-[38px] font-bold font-['Playfair Display']">At shop, we usually..</div>
          <div class="self-stretch"><span style="text-[#020202] text-lg font-normal font-['Open Sans']">sell it for cheaper price. However, we wish we could have a workshop or place where we can collect these woods and repurpose them.<br/></span><span style="text-[#020202] text-lg font-bold font-['Open Sans']">-- Worker at Home Depot, 35</span></div>
        </div>
      </div>
      <div class="self-stretch h-[740.62px] flex-col justify-start items-center gap-4 flex">
        <img class="self-stretch h-[699.62px] rounded-[15px] border border-[#020202]" src="https://via.placeholder.com/1000x700" />
        <div class="self-stretch text-center text-[#020202] text-lg font-normal font-['Open Sans']">The illustration above shows new wood that is sold in store.</div>
      </div>
    </div>
  </div>
  <div class="self-stretch h-[1499.33px] px-[140px] py-6 flex-col justify-start items-start gap-2.5 flex">
    <div class="self-stretch h-[1451.33px] flex-col justify-start items-center gap-10 flex">
      <div class="self-stretch h-[939.33px] flex-col justify-start items-start gap-4 flex">
        <div class="w-[1000px] h-[71px]"><span style="text-[#5a3dff] text-xl font-bold font-['Playfair Display']">MORE RESEARCH<br/></span><span style="text-[#020202] text-2xl font-semibold font-['Playfair Display']">Were there any competitive analysis we should worry about?</span></div>
        <div class="w-[1000px] text-[#020202] text-2xl font-semibold font-['Open Sans']">➡️ OfferUp and Facebook Marketplace</div>
        <div class="self-stretch justify-center items-start gap-[140px] inline-flex">
          <div class="grow shrink basis-0 p-4 rounded-[15px] border border-[#00b2ff] flex-col justify-start items-start gap-2.5 inline-flex">
            <div class="text-[#020202] text-2xl font-bold font-['Playfair Display']">Pros:</div>
            <div class="self-stretch text-[#020202] text-lg font-normal font-['Open Sans']">Cheaper price.<br/>Browse items in just a few minutes from your phone. </div>
            <div class="text-[#020202] text-2xl font-bold font-['Playfair Display']">Cons:</div>
            <div class="self-stretch text-[#020202] text-lg font-normal font-['Open Sans']">Meeting in a public location can have safety issues due to the risk of meeting strangers. You might also encounter unreliable buyers or sellers.</div>
          </div>
        </div>
        <img class="self-stretch h-[561.33px]" src="https://via.placeholder.com/1000x561" />
      </div>
      <div class="self-stretch h-[316px] flex-col justify-start items-start gap-4 flex">
        <div class="self-stretch"><span style="text-[#020202] text-lg font-normal font-['Open Sans']">In our search for the best upcycling apps, we explored some alternatives like </span><span style="text-[#020202] text-lg font-semibold font-['Open Sans']">Depop</span><span style="text-[#020202] text-lg font-normal font-['Open Sans']"> and </span><span style="text-[#020202] text-lg font-semibold font-['Open Sans']">Refinery</span><span style="text-[#020202] text-lg font-normal font-['Open Sans']">. Here's what we discovered:</span></div>
        <div class="w-[1000px] text-[#020202] text-2xl font-semibold font-['Open Sans']">➡️ Depop and Refinery</div>
        <div class="self-stretch justify-center items-start gap-[140px] inline-flex">
          <div class="grow shrink basis-0 p-4 rounded-[15px] border border-[#00b2ff] flex-col justify-start items-start gap-2.5 inline-flex">
            <div class="text-[#020202] text-2xl font-bold font-['Playfair Display']">Pros:</div>
            <div class="self-stretch text-[#020202] text-lg font-normal font-['Open Sans']">The website is straightforward.<br/>Can negotiate the price.</div>
            <div class="text-[#020202] text-2xl font-bold font-['Playfair Display']">Cons:</div>
            <div class="self-stretch text-[#020202] text-lg font-normal font-['Open Sans']">Shipping cost issue.</div>
          </div>
        </div>
      </div>
      <div class="self-stretch h-[116px] flex-col justify-start items-start gap-4 flex">
        <div class="self-stretch"><span style="text-[#020202] text-lg font-normal font-['Open Sans']">Due to the </span><span style="text-[#020202] text-lg font-semibold font-['Open Sans']">limited amount of time</span><span style="text-[#020202] text-lg font-normal font-['Open Sans']">, we didn’t develop app-based platform. Instead, we focused on </span><span style="text-[#020202] text-lg font-semibold font-['Open Sans']">creating a desktop </span><span style="text-[#020202] text-lg font-normal font-['Open Sans']">view, as it simplifies the listing process.</span></div>
        <div class="self-stretch text-[#020202] text-lg font-normal font-['Open Sans']">Regarding the item condition issue, we wanted the shop to provide an estimated fair price. However, the final price may be subject to change upon inspection of the item at the shop.</div>
      </div>
    </div>
  </div>
  <div class="self-stretch h-[2159.33px] px-[140px] py-6 flex-col justify-start items-start gap-2.5 flex">
    <div class="self-stretch h-[2111.33px] flex-col justify-start items-center gap-10 flex">
      <div class="self-stretch h-[380px] flex-col justify-start items-start gap-4 flex">
        <div class="self-stretch h-[380px] flex-col justify-start items-start gap-4 flex">
          <div class="self-stretch text-[#020202] text-2xl font-semibold font-['Playfair Display']">Second interview sparked more ideas</div>
          <div class="self-stretch text-[#020202] text-lg font-normal font-['Open Sans']">We ended up interviewing two people from the last interview in the material store, despite time constraints. <br/>These were the follow-up questions we asked them:</div>
          <div class="self-stretch justify-center items-start gap-[140px] inline-flex">
            <div class="grow shrink basis-0 p-4 rounded-[15px] border border-[#00b2ff] flex-col justify-start items-start gap-2.5 inline-flex">
              <div class="text-[#020202] text-2xl font-bold font-['Playfair Display']">How is/was your experience getting rid of the unwanted items?</div>
              <div class="self-stretch text-[#020202] text-lg font-normal font-['Open Sans']">Answers can vary from selling the item, giving it away for free, or holding a garage sale. These answers were just my assumption.</div>
            </div>
          </div>
          <div class="self-stretch justify-center items-start gap-[140px] inline-flex">
            <div class="grow shrink basis-0 p-4 rounded-[15px] border border-[#00b2ff] flex-col justify-start items-start gap-2.5 inline-flex">
              <div class="text-[#020202] text-2xl font-bold font-['Playfair Display']">Are you planning to move anytime soon?</div>
              <div class="self-stretch text-[#020202] text-lg font-normal font-['Open Sans']">Luckily, we found the perfect users who were planning to move out soon and wanted to get rid of their unwanted items.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="self-stretch h-[779.33px] flex-col justify-start items-start gap-4 flex">
        <div class="self-stretch text-[#020202] text-2xl font-semibold font-['Open Sans']">➡️ First user: Jason, 20, student</div>
        <div class="self-stretch"><span style="text-[#020202] text-lg font-normal font-['Open Sans']">Jason planned to move back to his hometown of Texas after attending college at the University of Washington Tacoma. He was creative and had experience with DIY projects, often refurbishing used products for his personal use. His expectations were:<br/></span><span style="text-[#020202] text-lg font-normal font-['Open Sans']">To earn more money from selling his used table and sofa.<br/>To clear out the items he wouldn’t be taking with him, as he had up to a month to move out.</span></div>
        <img class="self-stretch h-[587.33px]" src="https://via.placeholder.com/1000x587" />
      </div>
      <div class="self-stretch h-[872px] flex-col justify-start items-start gap-4 flex">
        <div class="self-stretch text-[#020202] text-2xl font-semibold font-['Open Sans']">➡️ Second user: Sasha, 52, housewife</div>
        <div class="self-stretch"><span style="text-[#020202] text-lg font-normal font-['Open Sans']">She wasn’t as creative as Jason, but her son was. She mentioned that she was moving to a new apartment in another state and needed to get rid of a lot of furniture and kitchen appliances. She always had trouble disposing of unwanted items, especially broken or used ones. Her expectations were:<br/></span><span style="text-[#020202] text-lg font-normal font-['Open Sans']">Easily dispose of unwanted items using our website.<br/>Connect with buyers (preferably in nearby stores) and receive good offers for used or upcycled items.<br/>Simplify and secure the transaction process.</span></div>
        <img class="self-stretch h-[655px]" src="https://via.placeholder.com/1000x655" />
      </div>
    </div>
  </div>
  <div class="self-stretch h-[1220px] px-[140px] py-6 flex-col justify-start items-start gap-2.5 flex">
    <div class="self-stretch h-[1172px] flex-col justify-start items-center gap-10 flex">
      <div class="self-stretch h-[1172px] flex-col justify-start items-start gap-4 flex">
        <div class="w-[1000px] text-[#020202] text-2xl font-semibold font-['Playfair Display']">Customer journey</div>
        <div class="self-stretch text-[#020202] text-lg font-normal font-['Open Sans']">Based on the research, I have curated the results into two types of customer journeys: specific and general. This allows us to understand what to expect for the features to be developed from both a broad and targeted perspective.</div>
        <img class="self-stretch h-[1058px]" src="https://via.placeholder.com/1000x1058" />
      </div>
    </div>
  </div>
  <div class="self-stretch h-[2227px] px-[140px] py-6 flex-col justify-start items-start gap-2.5 flex">
    <div class="self-stretch h-[2179px] flex-col justify-start items-center gap-10 flex">
      <div class="self-stretch h-[2179px] flex-col justify-start items-start gap-4 flex">
        <div class="w-[1000px]"><span style="text-[#5a3dff] text-xl font-bold font-['Playfair Display']">BRAINSTORMING<br/></span><span style="text-[#020202] text-2xl font-semibold font-['Playfair Display']">Flowchart of BrightWaste</span></div>
        <div class="w-[1000px]"><span style="text-[#020202] text-lg font-normal font-['Open Sans']">I created a flowchart to help all the team members clearly communicate, understood our goal and how we achieved it. We used </span><span style="text-[#020202] text-lg font-semibold font-['Open Sans']">Firebase</span><span style="text-[#020202] text-lg font-normal font-['Open Sans']"> to connect to the database when a user signs up. We used </span><span style="text-[#020202] text-lg font-semibold font-['Open Sans']">Courier API</span><span style="text-[#020202] text-lg font-normal font-['Open Sans']"> to notify users through email.</span></div>
        <div class="self-stretch justify-center items-start gap-[140px] inline-flex">
          <div class="grow shrink basis-0 p-4 rounded-[15px] border border-[#00b2ff] flex-col justify-start items-start gap-2.5 inline-flex">
            <div class="text-[#020202] text-2xl font-bold font-['Playfair Display']">Register an account</div>
            <div class="self-stretch text-[#020202] text-lg font-normal font-['Open Sans']">Users can register their accounts as usual, but due to time constraints and for easier development, we initially focused on building the Gmail sign-up version.</div>
          </div>
        </div>
        <div class="self-stretch justify-center items-start gap-[140px] inline-flex">
          <div class="grow shrink basis-0 p-4 rounded-[15px] border border-[#00b2ff] flex-col justify-start items-start gap-2.5 inline-flex">
            <div class="text-[#020202] text-2xl font-bold font-['Playfair Display']">Landing page</div>
            <div class="self-stretch text-[#020202] text-lg font-normal font-['Open Sans']">After registration, users will be directed to the landing page, where they can learn about what BrightWaste offers.</div>
          </div>
        </div>
        <div class="self-stretch justify-center items-start gap-[140px] inline-flex">
          <div class="grow shrink basis-0 p-4 rounded-[15px] border border-[#00b2ff] flex-col justify-start items-start gap-2.5 inline-flex">
            <div class="text-[#020202] text-2xl font-bold font-['Playfair Display']">Deal starts</div>
            <div class="self-stretch text-[#020202] text-lg font-normal font-['Open Sans']">Users can initiate a deal or start a transaction by completing the upload form. The store location will be detected based on proximity to the user's location</div>
          </div>
        </div>
        <div class="self-stretch justify-center items-start gap-[140px] inline-flex">
          <div class="grow shrink basis-0 p-4 rounded-[15px] border border-[#00b2ff] flex-col justify-start items-start gap-2.5 inline-flex">
            <div class="text-[#020202] text-2xl font-bold font-['Playfair Display']">Few options to start an offer</div>
            <div class="self-stretch text-[#020202] text-lg font-normal font-['Open Sans']">The user has a few options: they can either sell the item directly, wait to upcycle it into a better product, or save the offer for later if they choose.</div>
          </div>
        </div>
        <div class="self-stretch justify-center items-start gap-[140px] inline-flex">
          <div class="grow shrink basis-0 p-4 rounded-[15px] border border-[#00b2ff] flex-col justify-start items-start gap-2.5 inline-flex">
            <div class="text-[#020202] text-2xl font-bold font-['Playfair Display']">Two cases here</div>
            <div class="self-stretch text-[#020202] text-lg font-normal font-['Open Sans']">If the user chooses to upcycle, they can retrieve the saved offer, resubmit it, and the system will notify the store about the offer.</div>
            <div class="self-stretch text-[#020202] text-lg font-normal font-['Open Sans']">Alternatively, the user can sell it directly without needing to upcycle, and the store will contact them within a few days to proceed with the transaction process.</div>
          </div>
        </div>
        <div class="self-stretch justify-center items-start gap-[140px] inline-flex">
          <div class="grow shrink basis-0 p-4 rounded-[15px] border border-[#00b2ff] flex-col justify-start items-start gap-2.5 inline-flex">
            <div class="text-[#020202] text-2xl font-bold font-['Playfair Display']">Store decides</div>
            <div class="self-stretch text-[#020202] text-lg font-normal font-['Open Sans']">The store can then decide whether to accept the offer or not.</div>
          </div>
        </div>
        <div class="self-stretch justify-center items-start gap-[140px] inline-flex">
          <div class="grow shrink basis-0 p-4 rounded-[15px] border border-[#00b2ff] flex-col justify-start items-start gap-2.5 inline-flex">
            <div class="text-[#020202] text-2xl font-bold font-['Playfair Display']">Resubmit or done?</div>
            <div class="self-stretch text-[#020202] text-lg font-normal font-['Open Sans']">If the store doesn't accept the offer, the user can resubmit it to another store. If the store accepts, they can proceed to the next transaction. We haven't finalized the shipping fee yet, as it depends on how the store wants to handle it. For now, it's just a concept.</div>
          </div>
        </div>
        <div class="self-stretch text-[#020202] text-lg font-semibold font-['Open Sans']">***<br/>After the transaction, the confirmation waiting time varies depending on the store, typically taking around 3 days. In the future, our system will be able to notify the store if they respond too slowly or fail to respond within the 3-day period. We should also account for public holidays when the store may be closed.</div>
        <img class="self-stretch h-[879px]" src="https://via.placeholder.com/1000x879" />
      </div>
    </div>
  </div>
  <div class="self-stretch h-[1006px] px-[140px] py-6 flex-col justify-start items-start gap-2.5 flex">
    <div class="self-stretch h-[958px] flex-col justify-start items-center gap-10 flex">
      <div class="self-stretch h-[958px] flex-col justify-start items-start gap-4 flex">
        <div class="w-[1000px]"><span style="text-[#5a3dff] text-xl font-bold font-['Playfair Display']">IDEATION<br/></span><span style="text-[#020202] text-2xl font-semibold font-['Playfair Display']">The features</span></div>
        <div class="w-[1000px] text-[#020202] text-lg font-normal font-['Open Sans']">Our features included:</div>
        <div class="flex-col justify-start items-start gap-8 flex">
          <div class="flex-col justify-start items-start gap-4 flex">
            <div class="w-[1000px] text-[#020202] text-2xl font-semibold font-['Open Sans']">➡️ Safe transaction</div>
            <div class="w-[1000px] text-[#020202] text-lg font-normal font-['Open Sans']">Transactions will no longer be allowed outside the store or in hidden areas to prevent scams and ensure safety.</div>
          </div>
          <div class="flex-col justify-start items-start gap-4 flex">
            <div class="w-[1000px] text-[#020202] text-2xl font-semibold font-['Open Sans']">➡️ Sharpen your creativity plus earn $$!</div>
            <div class="w-[1000px] text-[#020202] text-lg font-normal font-['Open Sans']">Improving a product can be a great way to earn money and learn new skills. If you can enhance its value, you can often sell it for a higher price.</div>
          </div>
          <div class="flex-col justify-start items-start gap-4 flex">
            <div class="w-[1000px] text-[#020202] text-2xl font-semibold font-['Open Sans']">➡️ And more... check below</div>
          </div>
        </div>
        <img class="self-stretch h-[555px]" src="https://via.placeholder.com/1000x555" />
      </div>
    </div>
  </div>
  <div class="self-stretch h-[1148px] px-[140px] py-6 flex-col justify-start items-start gap-2.5 flex">
    <div class="self-stretch h-[1100px] flex-col justify-start items-center gap-10 flex">
      <div class="self-stretch h-[389px] flex-col justify-start items-start gap-4 flex">
        <div class="w-[1000px]"><span style="text-[#5a3dff] text-xl font-bold font-['Playfair Display']">UI FOCUS<br/></span><span style="text-[#020202] text-2xl font-semibold font-['Playfair Display']">The design system</span></div>
        <div class="flex-col justify-start items-start gap-8 flex">
          <div class="flex-col justify-start items-start gap-4 flex">
            <div class="w-[1000px] text-[#020202] text-2xl font-semibold font-['Open Sans']">Color choices:</div>
            <div class="w-[1000px]"><span style="text-[#020202] text-lg font-semibold font-['Open Sans']">Blue and green:</span><span style="text-[#020202] text-lg font-normal font-['Open Sans']"> These colors reflect our logo and represent earth in general.<br/></span><span style="text-[#020202] text-lg font-semibold font-['Open Sans']">Black (#323232):</span><span style="text-[#020202] text-lg font-normal font-['Open Sans']"> This is used exclusively for text elements, ensuring optimal readability.</span></div>
          </div>
          <div class="flex-col justify-start items-start gap-4 flex">
            <div class="w-[1000px] text-[#020202] text-2xl font-semibold font-['Open Sans']">The button comes in different variations to make it easier to distinguish between different functionalities.</div>
            <div class="w-[1000px]"><span style="text-[#020202] text-lg font-semibold font-['Open Sans']">Regular Shape</span><span style="text-[#020202] text-lg font-normal font-['Open Sans']"> (Join Us, Find Out): This is the primary button style, used for navigation bars and landing pages. It serves as a clear Call to Action (CTA).<br/></span><span style="text-[#020202] text-lg font-semibold font-['Open Sans']">Curved Shape</span><span style="text-[#020202] text-lg font-normal font-['Open Sans']"> (Sign Up): Used exclusively for the signup experience, prioritizing aesthetics.<br/></span><span style="text-[#020202] text-lg font-semibold font-['Open Sans']">Gradient Button:</span><span style="text-[#020202] text-lg font-normal font-['Open Sans']"> This button offers a choice between logging in or registering.</span></div>
          </div>
        </div>
      </div>
      <img class="self-stretch h-[671px]" src="https://via.placeholder.com/1000x671" />
    </div>
  </div>
  <div class="self-stretch h-[1396px] px-[140px] py-6 flex-col justify-start items-start gap-2.5 flex">
    <div class="self-stretch h-[1348px] flex-col justify-start items-center gap-10 flex">
      <div class="self-stretch h-[745px] flex-col justify-start items-start gap-4 flex">
        <div class="w-[1000px]"><span style="text-[#5a3dff] text-xl font-bold font-['Playfair Display']">UI AND CONTENT FOCUS<br/></span><span style="text-[#020202] text-2xl font-semibold font-['Playfair Display']">Focusing to add value to landing page is a key</span></div>
        <div class="flex-col justify-start items-start gap-8 flex">
          <div class="flex-col justify-start items-start gap-4 flex">
            <div class="w-[1000px] text-[#020202] text-lg font-normal font-['Open Sans']">The landing page should serve as a way to engage the audience with BrightWaste's mission. I wanted the design to be fresh, and on the first page, users should have the option to view available products in their area.</div>
          </div>
          <div class="flex-col justify-start items-start gap-4 flex">
            <div class="w-[1000px] text-[#020202] text-2xl font-semibold font-['Open Sans']">Rough draft (2 options):</div>
            <div class="w-[1000px] text-[#020202] text-lg font-normal font-['Open Sans']">Get higher value for your used materials and help earth to reduce the waste and people to contribute to economy grow.<br/>Get higher value for your used materials and help earth to reduce the waste and help society to contribute to economy grow.</div>
          </div>
          <div class="flex-col justify-start items-start gap-4 flex">
            <div class="w-[1000px] text-[#020202] text-2xl font-semibold font-['Open Sans']">Final draft for home page text:</div>
            <div class="self-stretch justify-center items-start gap-[140px] inline-flex">
              <div class="grow shrink basis-0 p-4 bg-[#aae5fe] rounded-[15px] flex-col justify-start items-start gap-2.5 inline-flex">
                <div class="text-[#020202] text-[38px] font-bold font-['Playfair Display']">Get higher value...</div>
                <div class="self-stretch text-[#020202] text-lg font-normal font-['Open Sans']">for your used materials and help earth to reduce the waste and lead society to a brighter future.</div>
              </div>
            </div>
          </div>
          <div class="flex-col justify-start items-start gap-4 flex">
            <div class="w-[1000px] text-[#020202] text-2xl font-semibold font-['Open Sans']">The navbar explanations:</div>
            <div class="w-[1000px]"><span style="text-[#020202] text-lg font-semibold font-['Open Sans']">How It Works:</span><span style="text-[#020202] text-lg font-normal font-['Open Sans']"> This section explains the process step-by-step.<br/></span><span style="text-[#020202] text-lg font-normal font-['Open Sans']"><br/></span><span style="text-[#020202] text-lg font-semibold font-['Open Sans']">All Items (upcoming feature):</span><span style="text-[#020202] text-lg font-normal font-['Open Sans']"> Discover a curated selection of popular items available in various locations. Enable your location to view items near you.<br/></span><span style="text-[#020202] text-lg font-normal font-['Open Sans']"><br/></span><span style="text-[#020202] text-lg font-semibold font-['Open Sans']">DIY Blog:</span><span style="text-[#020202] text-lg font-normal font-['Open Sans']"> Join our community and explore sustainable articles and stories.</span></div>
          </div>
        </div>
      </div>
      <img class="w-[1000px] h-[563px]" src="https://via.placeholder.com/1000x563" />
    </div>
  </div>
  <div class="self-stretch h-[753px] px-[140px] py-6 flex-col justify-start items-start gap-2.5 flex">
    <div class="self-stretch h-[705px] flex-col justify-start items-center gap-10 flex">
      <div class="self-stretch h-[204px] flex-col justify-start items-start gap-4 flex">
        <div class="w-[1000px] text-[#020202] text-2xl font-semibold font-['Playfair Display']">Explain the steps</div>
        <div class="flex-col justify-start items-start gap-8 flex">
          <div class="flex-col justify-start items-start gap-4 flex">
            <div class="w-[1000px] text-[#020202] text-lg font-normal font-['Open Sans']">We want the users to know how to utilize our website to earn income and, at the same time, contribute to earth.</div>
          </div>
          <div class="flex-col justify-start items-start gap-4 flex">
            <div class="w-[1000px] text-[#020202] text-2xl font-semibold font-['Open Sans']">I want to create a flow that looks like a marketplace so users or audiences can easily pick up the idea or how the sales work. The additional icons represent the step they need to take to get started on BrightWaste.</div>
          </div>
        </div>
      </div>
      <img class="self-stretch h-[461px]" src="https://via.placeholder.com/1000x461" />
    </div>
  </div>
  <div class="self-stretch h-[647px] px-[140px] py-6 flex-col justify-start items-start gap-2.5 flex">
    <div class="self-stretch h-[599px] flex-col justify-start items-center gap-10 flex">
      <div class="self-stretch h-[98px] flex-col justify-start items-start gap-4 flex">
        <div class="w-[1000px] text-[#020202] text-2xl font-semibold font-['Playfair Display']">Quick video of the landing page</div>
        <div class="flex-col justify-start items-start gap-8 flex">
          <div class="flex-col justify-start items-start gap-4 flex">
            <div class="w-[1000px] text-[#020202] text-lg font-normal font-['Open Sans']">Due to time constraints, I designed the product in a simplified manner. However, I ensured that it includes all the essential features users would expect in the initial version. </div>
          </div>
        </div>
      </div>
      <div class="self-stretch h-[461px] bg-[#c4c4c4]"></div>
    </div>
  </div>
  <div class="self-stretch h-[647px] px-[140px] py-6 flex-col justify-start items-start gap-2.5 flex">
    <div class="self-stretch h-[599px] flex-col justify-start items-center gap-10 flex">
      <div class="self-stretch h-[98px] flex-col justify-start items-start gap-4 flex">
        <div class="w-[1000px] text-[#020202] text-2xl font-semibold font-['Playfair Display']">Make offer in few steps...</div>
        <div class="flex-col justify-start items-start gap-8 flex">
          <div class="flex-col justify-start items-start gap-4 flex">
            <div class="w-[1000px] text-[#020202] text-lg font-normal font-['Open Sans']">For the video prototype, we utilized Google accounts (connected to Firebase) to create offers. In the future, we plan to expand our capabilities to include other social media platforms, such as Facebook.</div>
          </div>
        </div>
      </div>
      <div class="self-stretch h-[461px] bg-[#c4c4c4]"></div>
    </div>
  </div>
  <div class="self-stretch h-[892px] px-[140px] py-6 flex-col justify-start items-start gap-2.5 flex">
    <div class="self-stretch h-[844px] flex-col justify-start items-center gap-10 flex">
      <div class="self-stretch h-[146px] flex-col justify-start items-start gap-4 flex">
        <div class="w-[1000px] text-[#020202] text-2xl font-semibold font-['Playfair Display']">E-commerce style in our website</div>
        <div class="w-[1000px] text-[#5a3dff] text-2xl font-bold font-['Playfair Display']">Iteration 1</div>
        <div class="flex-col justify-start items-start gap-8 flex">
          <div class="flex-col justify-start items-start gap-4 flex">
            <div class="w-[1000px] text-[#020202] text-lg font-normal font-['Open Sans']">For users who wish to upload their products, I positioned the categories on the left side. Users can directly complete the product upload form. When a user hovers over a product type, they will see the corresponding category name.</div>
          </div>
        </div>
      </div>
      <img class="self-stretch h-[658px]" src="https://via.placeholder.com/1000x658" />
    </div>
  </div>
  <div class="self-stretch h-[3054px] px-[140px] py-6 flex-col justify-start items-start gap-8 flex">
    <div class="self-stretch h-[1041px] flex-col justify-start items-center gap-10 flex">
      <div class="self-stretch h-[343px] flex-col justify-start items-start gap-4 flex">
        <div class="w-[1000px] text-[#020202] text-2xl font-semibold font-['Playfair Display']">However, concern happened...</div>
        <div class="w-[1000px] text-[#5a3dff] text-2xl font-bold font-['Playfair Display']">Iteration 2</div>
        <div class="flex-col justify-start items-start gap-8 flex">
          <div class="flex-col justify-start items-start gap-4 flex">
            <div class="w-[1000px] text-[#020202] text-lg font-normal font-['Open Sans']">After consulting with our developers, they indicated that it would not be feasible to develop the first iteration within the current timeframe due to skill limitations.</div>
            <div class="w-[1000px] text-[#020202] text-lg font-normal font-['Open Sans']">I also had the opportunity to discuss the first iteration with three users. However, they expressed confusion regarding the placement. As a result, I decided to revise the concept.</div>
          </div>
          <div class="flex-col justify-start items-start gap-4 flex">
            <div class="w-[1000px] text-[#020202] text-2xl font-semibold font-['Open Sans']">➡️ I implemented a tracker button to monitor user page activity. </div>
            <div class="w-[1000px] text-[#020202] text-lg font-normal font-['Open Sans']">The trackers offer two options: 'Describe,' a general upload form for item descriptions, and 'Get Choices,' which provides options for selling directly to the store or upcycling and selling later.</div>
          </div>
        </div>
      </div>
      <img class="w-[1000px] h-[658px]" src="https://via.placeholder.com/1000x658" />
    </div>
    <div class="flex-col justify-start items-start gap-8 flex">
      <div class="flex-col justify-start items-start gap-4 flex">
        <div class="w-[1000px] text-[#020202] text-2xl font-semibold font-['Open Sans']">➡️ Next: Select your preferred stores.</div>
        <div class="w-[1000px] text-[#020202] text-lg font-normal font-['Open Sans']">Once users complete the form, the system will utilize the Google Maps API to determine the nearest store to their location.</div>
      </div>
      <div class="self-stretch h-[461px] bg-[#c4c4c4]"></div>
    </div>
    <div class="self-stretch h-[1309px] flex-col justify-start items-start gap-8 flex">
      <div class="flex-col justify-start items-start gap-8 flex">
        <div class="flex-col justify-start items-start gap-4 flex">
          <div class="w-[1000px] text-[#020202] text-2xl font-bold font-['Playfair Display']">➡️  To conclude...</div>
          <div class="w-[1000px] text-[#020202] text-lg font-normal font-['Open Sans']">Users need to follow two pathways to submit an offer to the store.</div>
        </div>
      </div>
      <div class="self-stretch justify-center items-start gap-[140px] inline-flex">
        <div class="grow shrink basis-0 p-4 rounded-[15px] border border-[#4c2dff] flex-col justify-start items-start gap-6 inline-flex">
          <div class="self-stretch h-[92px] flex-col justify-start items-start gap-2.5 flex">
            <div class="text-[#020202] text-2xl font-bold font-['Playfair Display']">First option: Describe the item as details as possible</div>
            <div class="self-stretch text-[#020202] text-lg font-normal font-['Open Sans']">Similar to Amazon or Alibaba, we implemented an e-commerce feature that allows users to describe the items they wish to sell.</div>
          </div>
        </div>
      </div>
      <div class="self-stretch justify-center items-start gap-[140px] inline-flex">
        <div class="grow shrink basis-0 p-4 rounded-[15px] border border-[#4c2dff] flex-col justify-start items-start gap-6 inline-flex">
          <div class="self-stretch h-[326px] flex-col justify-start items-start gap-4 flex">
            <div class="text-[#020202] text-2xl font-bold font-['Playfair Display']">Second, get two choices...</div>
            <div class="text-[#020202] text-2xl font-bold font-['Playfair Display']">First option:</div>
            <div class="self-stretch text-[#020202] text-lg font-normal font-['Open Sans']">Users can skip the upcycling process by clicking here. However, this will result in a lower offer price.</div>
            <div class="text-[#020202] text-2xl font-bold font-['Playfair Display']">Second option:</div>
            <div class="self-stretch"><span style="text-[#020202] text-lg font-semibold font-['Open Sans']">Ready to sell?            </span><span style="text-[#020202] text-lg font-normal font-['Open Sans']">Click "Submit Offer" to finalize your offer after upcycling.</span></div>
            <div class="self-stretch"><span style="text-[#020202] text-lg font-semibold font-['Open Sans']">Need more time?            </span><span style="text-[#020202] text-lg font-normal font-['Open Sans']">Click "Save" to store user’s transaction details. We'll include DIY upcycling steps and estimated selling prices for user’s reference. Once user has finished upcycling, user can easily return and submit their offer.</span></div>
          </div>
        </div>
      </div>
      <img class="w-[1000px] h-[658px]" src="https://via.placeholder.com/1000x658" />
    </div>
  </div>
  <div class="w-[1280px] h-[865px] relative bg-[#7ac4b5]">
    <img class="w-[373px] h-[769px] left-[33px] top-[48px] absolute rounded-[10px]" src="https://via.placeholder.com/373x769" />
    <img class="w-[351px] h-[766px] left-[454px] top-[48px] absolute rounded-[10px]" src="https://via.placeholder.com/351x766" />
    <div class="w-[370px] h-[274px] left-[853px] top-[48px] absolute rounded-[15px]"></div>
    <img class="w-[395px] h-[428px] left-[853px] top-[52px] absolute rounded-[10px]" src="https://via.placeholder.com/395x428" />
    <img class="w-[395px] h-[223px] left-[853px] top-[517px] absolute rounded-[10px]" src="https://via.placeholder.com/395x223" />
  </div>
  <div class="self-stretch h-[294px] px-[140px] py-6 flex-col justify-start items-start gap-2.5 flex">
    <div class="self-stretch h-[246px] flex-col justify-start items-center gap-10 flex">
      <div class="self-stretch h-[126px] flex-col justify-start items-start gap-4 flex">
        <div class="w-[1000px]"><span style="text-[#5a3dff] text-xl font-bold font-['Playfair Display']">MULTITASKING<br/></span><span style="text-[#020202] text-2xl font-semibold font-['Playfair Display']">Learn as a designer and developer!</span></div>
        <div class="w-[1000px] text-[#020202] text-lg font-normal font-['Open Sans']">Due to time constraints, I took on the role of front-end developer (minor task only). Please feel free to review the prototype and development progress on GitHub.</div>
      </div>
      <div class="justify-start items-center gap-[88px] inline-flex">
        <div class="w-[221px] h-20 px-4 py-5 bg-[#4c2dff] rounded-[15px] shadow justify-center items-center gap-2.5 flex">
          <div class="text-center text-[#fff1ee] text-2xl font-bold font-['Playfair Display']">View prototype</div>
        </div>
        <div class="px-4 py-5 bg-[#e83b5a] rounded-[15px] shadow justify-center items-center gap-2.5 flex">
          <div class="text-center text-[#fff1ee] text-2xl font-bold font-['Playfair Display']">View development</div>
        </div>
      </div>
    </div>
  </div>
  <div class="self-stretch h-[563px] px-[140px] py-6 flex-col justify-start items-start gap-2.5 flex">
    <div class="self-stretch h-[515px] flex-col justify-start items-center gap-10 flex">
      <div class="self-stretch h-[126px] flex-col justify-start items-start gap-4 flex">
        <div class="w-[1000px]"><span style="text-[#5a3dff] text-xl font-bold font-['Playfair Display']">IMPACT<br/></span><span style="text-[#020202] text-2xl font-semibold font-['Playfair Display']">Reviews about the website (in general) and campaign video</span></div>
        <div class="w-[1000px] text-[#020202] text-lg font-normal font-['Open Sans']">While we were unable to conduct a formal usability test, we gathered feedback from those around us regarding our progress. I also got a chance to create a campaign video that you can check below.</div>
      </div>
      <div class="w-[852px] h-[167px] relative">
        <div class="w-[382px] h-[167px] left-[470px] top-0 absolute">
          <div class="w-[382px] h-[100px] left-0 top-[67px] absolute"><span style="text-[#020202] text-lg font-normal font-['Open Sans']">“The writeup is so thorough! I really like the challenges that you mentioned, especially building a scenario for this project.”           </span><span style="text-[#020202] text-lg font-semibold font-['Open Sans']">— Shreya, 24, Developer Advocate @Courier</span></div>
          <div class="w-[264px] left-[0.98px] top-0 absolute text-[#020202] text-[38px] font-bold font-['Playfair Display']">So thorough!</div>
        </div>
        <div class="w-[382px] h-[167px] left-[-0px] top-[-0px] absolute">
          <div class="w-[382px] h-[100px] left-0 top-[67px] absolute"><span style="text-[#020202] text-lg font-normal font-['Open Sans']">“The website idea with the animation on campaign video make it look stunning! Keep it up!”           </span><span style="text-[#020202] text-lg font-semibold font-['Open Sans']">— Sara L., 28</span></div>
          <div class="w-[261.84px] left-0 top-0 absolute text-[#020202] text-[38px] font-bold font-['Playfair Display']">So stunning!</div>
        </div>
      </div>
      <div class="w-[482px] h-[142px] relative">
        <div class="w-[482px] h-[75px] left-0 top-[67px] absolute"><span style="text-[#020202] text-lg font-normal font-['Open Sans']">“I appreciate how the design and idea remind me that even the smallest actions can contribute to caring for the Earth.”         </span><span style="text-[#020202] text-lg font-semibold font-['Open Sans']">— Sara L., 28</span></div>
        <div class="w-[330.38px] left-0 top-0 absolute text-[#020202] text-[38px] font-bold font-['Playfair Display']">Simple design!</div>
      </div>
    </div>
  </div>
  <div class="self-stretch h-[1839px] px-[140px] py-6 flex-col justify-start items-start gap-2.5 flex">
    <div class="self-stretch h-[1791px] flex-col justify-start items-center gap-10 flex">
      <div class="self-stretch h-[1791px] flex-col justify-start items-start gap-4 flex">
        <div class="w-[1000px]"><span style="text-[#5a3dff] text-xl font-bold font-['Playfair Display']">THE END?<br/></span><span style="text-[#020202] text-2xl font-semibold font-['Playfair Display']">We earned best results but...</span></div>
        <div class="w-[1000px]"><span style="text-[#020202] text-lg font-normal font-['Open Sans']">There’s still a long way to go!<br/>We are excited to share that we won </span><span style="text-[#020202] text-lg font-semibold font-['Open Sans']">first place</span><span style="text-[#020202] text-lg font-normal font-['Open Sans']"> and </span><span style="text-[#020202] text-lg font-semibold font-['Open Sans']">public favorite</span><span style="text-[#020202] text-lg font-normal font-['Open Sans']"> in the hackathon based on the design, ideas, and campaign video we made!</span></div>
        <img class="self-stretch h-[803px]" src="https://via.placeholder.com/1000x803" />
        <div class="self-stretch h-[803px] bg-[#c4c4c4]"></div>
      </div>
    </div>
  </div>
  <div class="self-stretch h-[510px] px-[140px] py-6 flex-col justify-start items-start gap-2.5 flex">
    <div class="self-stretch h-[60px] flex-col justify-start items-center gap-10 flex">
      <div class="self-stretch h-[60px] flex-col justify-start items-start gap-4 flex">
        <div class="w-[1000px]"><span style="text-[#5a3dff] text-xl font-bold font-['Playfair Display']">WHAT WE LEARNED<br/></span><span style="text-[#020202] text-2xl font-semibold font-['Playfair Display']">We learned...</span></div>
      </div>
    </div>
    <div class="self-stretch justify-center items-start gap-[140px] inline-flex">
      <div class="grow shrink basis-0 p-4 rounded-[15px] border border-[#4c2dff] flex-col justify-start items-start gap-6 inline-flex">
        <div class="self-stretch h-[117px] flex-col justify-start items-start gap-2.5 flex">
          <div class="text-[#020202] text-2xl font-bold font-['Playfair Display']">Intervention is important</div>
          <div class="self-stretch text-[#020202] text-lg font-normal font-['Open Sans']">I believe that when a developer builds a product, there may be issues with spacing and alignment. In such cases, I would request to be added as a collaborator so I can directly add comments or fix the issues. This intervention only arises during hackathons due to time constraints.</div>
        </div>
      </div>
    </div>
    <div class="self-stretch justify-center items-start gap-[140px] inline-flex">
      <div class="grow shrink basis-0 p-4 rounded-[15px] border border-[#4c2dff] flex-col justify-start items-start gap-6 inline-flex">
        <div class="self-stretch h-[67px] flex-col justify-start items-start gap-2.5 flex">
          <div class="text-[#020202] text-2xl font-bold font-['Playfair Display']">Finding idea is hard but…</div>
          <div class="self-stretch text-[#020202] text-lg font-normal font-['Open Sans']">When an idea proves successful, I always aim to maximize its benefits for a wider audience.</div>
        </div>
      </div>
    </div>
    <div class="self-stretch justify-center items-start gap-[140px] inline-flex">
      <div class="grow shrink basis-0 p-4 rounded-[15px] border border-[#4c2dff] flex-col justify-start items-start gap-6 inline-flex">
        <div class="self-stretch h-[92px] flex-col justify-start items-start gap-2.5 flex">
          <div class="text-[#020202] text-2xl font-bold font-['Playfair Display']">It's impossible to solve all problems within short amount of time</div>
          <div class="self-stretch text-[#020202] text-lg font-normal font-['Open Sans']">While our idea is well-developed, we still need to address the crucial issue of shipping costs. Due to time constraints, we haven't been able to delve into this aspect in detail yet.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="self-stretch h-[338px] px-[140px] py-6 flex-col justify-start items-start gap-2.5 flex">
    <div class="self-stretch h-[290px] flex-col justify-start items-center gap-10 flex">
      <div class="self-stretch h-[290px] flex-col justify-start items-start gap-4 flex">
        <div class="w-[1000px]"><span style="text-[#5a3dff] text-xl font-bold font-['Playfair Display']">FUTURE SAYS...<br/></span><span style="text-[#020202] text-2xl font-semibold font-['Playfair Display']">What’s next?</span></div>
        <div class="w-[1000px] text-[#020202] text-lg font-normal font-['Open Sans']">Contact potential partners, shops, or investors that want to work with us to develop this.</div>
        <div class="w-[1000px] text-[#020202] text-lg font-normal font-['Open Sans']">Keep iterating the design concept and add important features, such as, shipping cost and store admin pages.</div>
        <div class="w-[1000px] text-[#020202] text-lg font-normal font-['Open Sans']">We may continue the project early next year, after securing additional funding and recruiting more developers.</div>
        <div class="w-[1000px] text-[#020202] text-lg font-normal font-['Open Sans']">Expand the platform to include features that help users discover local workshops providing innovative approaches to reducing household waste.</div>
        <div class="w-[1000px] text-[#020202] text-lg font-normal font-['Open Sans']">Resolve the problem with shipping costs.</div>
      </div>
    </div>
  </div>
  <div class="self-stretch h-[619px] px-[140px] py-6 flex-col justify-start items-start gap-10 flex">
    <div class="self-stretch h-[571px] flex-col justify-start items-start gap-4 flex">
      <div class="text-[#020202] text-[32px] font-semibold font-['Playfair Display']">🎉 More fun projects! 🎉</div>
      <div class="self-stretch justify-start items-start gap-20 inline-flex">
        <div class="w-[440px] flex-col justify-start items-start inline-flex">
          <div class="h-80 relative bg-[#4423ff]">
            <img class="w-[219px] h-[327px] left-[115px] top-[36.59px] absolute rounded-[15px]" src="https://via.placeholder.com/219x327" />
            <img class="w-[83px] h-[436px] left-[58px] top-[125.59px] absolute rounded-[15px]" src="https://via.placeholder.com/83x436" />
            <div class="w-[98px] h-[98px] left-[-20px] top-[-48px] absolute bg-[#ef6e86] rounded-full"></div>
            <div class="w-[131px] h-[131px] left-[289px] top-[219px] absolute bg-[#ef6e86] rounded-full"></div>
            <img class="w-[193px] h-[165px] left-[189px] top-[178.59px] absolute rounded-[15px]" src="https://via.placeholder.com/193x165" />
          </div>
          <div class="self-stretch h-48 p-6 flex-col justify-start items-start gap-2.5 flex">
            <div class="self-stretch h-36 flex-col justify-start items-start gap-2 flex">
              <div class="self-stretch text-[#5a3dff] text-sm font-medium font-['Playfair Display']">Web | Mobile | UX Design | UX Writing</div>
              <div class="text-[#020202] text-[32px] font-bold font-['Playfair Display']">Savicore</div>
              <div class="self-stretch text-[#020202] text-base font-normal font-['Open Sans']">Optimize the checkout, dashboard, and group coaching registration process to target 50 subscribers per month.</div>
            </div>
          </div>
        </div>
        <div class="w-[440px] flex-col justify-start items-start inline-flex">
          <div class="h-80 relative bg-[#dfe7e2]">
            <div class="w-[101px] h-[101px] left-[-31px] top-[-19px] absolute bg-[#469d8c] rounded-full"></div>
            <div class="w-[94px] h-[94px] left-[302px] top-[238px] absolute bg-[#469d8c] rounded-full"></div>
            <div class="w-[366.74px] h-[221.11px] left-[31px] top-[31.59px] absolute">
              <div class="w-[366.74px] h-[15.13px] left-0 top-[205.98px] absolute">
                <div class="w-6 h-0.5 left-[322.78px] top-[13.17px] absolute">
                  <img class="w-[22.13px] h-px left-[0.92px] top-[0.98px] absolute" src="https://via.placeholder.com/22x1" />
                </div>
                <div class="w-6 h-0.5 left-[20.12px] top-[13.17px] absolute">
                  <img class="w-[22.13px] h-px left-[0.92px] top-[0.98px] absolute" src="https://via.placeholder.com/22x1" />
                </div>
                <div class="w-[366.74px] h-[13.17px] left-0 top-0 absolute">
                  <div class="w-11 h-[13.17px] left-[322.76px] top-[-0px] absolute bg-gradient-to-l from-[#a9aaac] via-[#858688] to-[#858688]"></div>
                  <div class="w-11 h-[13.17px] left-[43.98px] top-[-0px] absolute origin-top-left rotate-180 bg-gradient-to-l from-[#a9aaac] via-[#858688] to-[#858688]"></div>
                </div>
              </div>
              <div class="w-[301.89px] h-[205.99px] left-[32.55px] top-0 absolute">
                <div class="w-[301.89px] h-[205.99px] left-0 top-0 absolute">
                  <div class="w-[301.89px] h-[205.98px] left-0 top-0 absolute">
                  </div>
                </div>
                <div class="w-[291.70px] h-[188.84px] left-[4.97px] top-[5.52px] absolute">
                </div>
                <div class="w-[34.79px] h-[4.97px] left-[133.43px] top-[5.46px] absolute">
                  <div class="w-[2.48px] h-[2.48px] left-[16.15px] top-0 absolute">
                    <div class="w-[2.48px] h-[2.48px] left-0 top-0 absolute bg-[#131315] rounded-full blur-[1.57px]"></div>
                    <div class="w-[0.50px] h-[0.50px] left-[0.99px] top-[0.99px] absolute bg-[#1c4682] rounded-full blur-[0.79px]"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-[256.83px] h-[154.85px] left-[152.12px] top-[143.74px] absolute">
              <div class="w-[256.83px] h-[10.60px] left-0 top-[144.25px] absolute">
                <div class="w-[16.79px] h-[1.37px] left-[226.04px] top-[9.23px] absolute">
                  <img class="w-[15.50px] h-[0.69px] left-[0.64px] top-[0.69px] absolute" src="https://via.placeholder.com/15x1" />
                </div>
                <div class="w-[16.79px] h-[1.37px] left-[14.09px] top-[9.23px] absolute">
                  <img class="w-[15.50px] h-[0.69px] left-[0.64px] top-[0.69px] absolute" src="https://via.placeholder.com/15x1" />
                </div>
                <div class="w-[256.83px] h-[9.22px] left-0 top-0 absolute">
                  <div class="w-[30.80px] h-[9.22px] left-[226.03px] top-0 absolute bg-gradient-to-l from-[#a9aaac] via-[#858688] to-[#858688]"></div>
                  <div class="w-[30.80px] h-[9.22px] left-[30.80px] top-0 absolute origin-top-left rotate-180 bg-gradient-to-l from-[#a9aaac] via-[#858688] to-[#858688]"></div>
                </div>
              </div>
              <div class="w-[211.41px] h-[144.26px] left-[22.79px] top-0 absolute">
                <div class="w-[211.41px] h-[144.26px] left-0 top-0 absolute">
                  <div class="w-[211.41px] h-[144.25px] left-0 top-0 absolute">
                  </div>
                </div>
                <div class="w-[204.28px] h-[132.24px] left-[3.48px] top-[3.87px] absolute">
                </div>
                <div class="w-[24.36px] h-[3.48px] left-[93.44px] top-[3.83px] absolute">
                  <div class="w-[1.74px] h-[1.74px] left-[11.31px] top-0 absolute">
                    <div class="w-[1.74px] h-[1.74px] left-0 top-0 absolute bg-[#131315] rounded-full blur-[1.57px]"></div>
                    <div class="w-[0.35px] h-[0.35px] left-[0.69px] top-[0.70px] absolute bg-[#1c4682] rounded-full blur-[0.79px]"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="self-stretch h-[170px] p-6 flex-col justify-start items-start gap-2.5 flex">
            <div class="self-stretch h-[122px] flex-col justify-start items-start gap-2 flex">
              <div class="self-stretch text-[#5a3dff] text-sm font-medium font-['Playfair Display']">Web | UX Design | UX Writing</div>
              <div class="text-[#020202] text-[32px] font-bold font-['Playfair Display']">BrightWaste</div>
              <div class="self-stretch text-[#020202] text-base font-normal font-['Open Sans']">A sustainable marketplace website that offers users the option to either sell used items or upcycle them.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="h-[258.41px] px-[124px] py-6 flex-col justify-start items-start gap-2.5 flex">
    <div class="self-stretch py-4 justify-end items-center gap-4 inline-flex">
      <div class="w-[273.61px] h-[178.41px] relative">
        <div class="w-[3.59px] h-[4.15px] left-[28.45px] top-[29.90px] absolute bg-black/70 rounded-full"></div>
        <div class="w-[3.59px] h-[4.15px] left-[50.90px] top-[29.90px] absolute bg-black/70 rounded-full"></div>
        <div class="w-[14.08px] h-0.5 left-[62.84px] top-[45.16px] absolute origin-top-left rotate-[-86.51deg] bg-[#9187ca] rounded-[5px]"></div>
        <div class="w-[21.19px] h-[1.87px] left-[270.91px] top-[150.55px] absolute origin-top-left rotate-[84.52deg] bg-[#9187ca] rounded-[5px]"></div>
      </div>
      <div class="grow shrink basis-0 flex-col justify-start items-end gap-4 inline-flex">
        <div class="self-stretch text-right text-[#020202]/90 text-sm font-normal font-['Playfair Display']">Talk about design or just want to say hello? <br/>Feel free to reach out!</div>
        <div class="justify-center items-center gap-4 inline-flex">
          <div class="w-10 h-10 p-[5px] rounded-[20px] border border-[#5a3dff] justify-start items-center gap-2.5 flex">
            <div class="w-[29px] h-[29px] relative"></div>
          </div>
          <div class="w-10 h-10 p-[5px] rounded-[20px] border border-[#5a3dff] justify-start items-center gap-2.5 flex">
            <div class="w-[29px] h-[29px] relative">
              <div class="w-6 h-6 left-[2px] top-[0.50px] absolute"></div>
            </div>
          </div>
          <div class="w-10 h-10 p-1.5 rounded-[20px] border border-[#5a3dff] justify-start items-center gap-2.5 flex">
            <div class="w-[27px] h-[27px] relative"></div>
          </div>
          <div class="w-10 h-10 p-1.5 rounded-[20px] border border-[#5a3dff] justify-start items-center gap-2.5 flex">
            <div class="w-[29px] h-[29px] relative">
              <div class="w-[25.78px] h-[25.78px] left-[2.15px] top-[1.61px] absolute"></div>
            </div>
          </div>
          <div class="w-10 h-10 p-1.5 rounded-[20px] border border-[#5a3dff] justify-start items-center gap-2.5 flex">
            <div class="w-[27px] h-[27px] relative">
              <div class="w-[26px] h-[26px] left-[0.50px] top-0 absolute"></div>
            </div>
          </div>
        </div>
        <div class="self-stretch text-right text-[#020202]/90 text-sm font-normal font-['Playfair Display']">ⓒ 2024. Made with ❤ and choco milk️.</div>
      </div>
    </div>
  </div>
</div>