---
import { Image } from "astro:assets";

import mockup from "../../assets/brightwaste/brightwaste-mockup.png";

---



<!-- PROTOTYPE -->


  <Image
  src={mockup}
  alt="Our Feature"
  class="self-stretch flex-grow-0 flex-shrink-0 "
  id="prototype"
/>

<div
  class="flex flex-col justify-start items-center self-stretch flex-grow-0 flex-shrink-0 gap-6 p-6 lg:px-[10%]"
>
  <div
    class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-4"
  >
    <div
      class="flex flex-col  justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-4"
    >
      <p class="self-stretch flex-grow-0 flex-shrink-0 w-full text-left">
        <span
          class="self-stretch flex-grow-0 flex-shrink-0 w-full text-lg font-bold  font-['Playfair_Display'] text-left text-[#5b3eff]"
          >MULTITASKING</span
        ><br /><span
          class="self-stretch flex-grow-0 flex-shrink-0 w-full text-xl  font-['Playfair_Display'] font-semibold text-left text-[#020202]"
          >Learn as a designer and developer!</span
        >
      </p>
    </div>
    <div
      class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-8"
    >
      <div
        class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-4"
      >
        <p
          class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
        >
          Due to time constraints, I took on the role of front-end developer (minor task only).
          Please feel free to review the prototype and development progress on GitHub.
        </p>
      </div>
    </div>
    <div class="flex flex-col lg:flex-row w-full gap-6 lg:gap-[10%] justify-center lg:px-[10%]">


      <div
        class="flex justify-center items-center self-stretch flex-grow-0 flex-shrink-0 relative gap-2.5 p-4 rounded-[15px] bg-[#4d2eff]"
        style="box-shadow: 4px 4px 2.799999952316284px 0 rgba(2,2,2,0.25);"
      >
        <p class="flex-grow-0 flex-shrink-0 text-lg font-bold  font-['Playfair_Display'] text-center text-[#fff2ef]">
          View prototype
        </p>
      </div>
      <div
        class="flex justify-center items-center self-stretch flex-grow-0 flex-shrink-0 relative gap-2.5 p-4 rounded-[15px] bg-[#e83b5b]"
        style="box-shadow: 4px 4px 2.799999952316284px 0 rgba(2,2,2,0.25);"
      >
        <p class="flex-grow-0 flex-shrink-0 text-lg font-bold  font-['Playfair_Display'] text-center text-[#fff2ef]">
          View development
        </p>
      </div>
    </div>
  </div>
</div>