

<!-- TEST -->


<div
class="flex flex-col justify-start items-center self-stretch flex-grow-0 flex-shrink-0 gap-6 p-6"
>
<div
  class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-4"
>
  <div
    class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-4"
  >
    <p class="self-stretch flex-grow-0 flex-shrink-0 w-full text-left">
      <span
        class="self-stretch flex-grow-0 flex-shrink-0 w-full text-lg font-bold text-left text-[#5b3eff]"
        >IMPACT</span
      ><br /><span
        class="self-stretch flex-grow-0 flex-shrink-0 w-full text-xl font-semibold text-left text-[#020202]"
        >Reviews about the website (in general) and campaign video</span
      >
    </p>
  </div>
  <div
    class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-8"
  >
    <div
      class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-4"
    >
      <p
        class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
      >
        While we were unable to conduct a formal usability test, we gathered feedback from those
        around us regarding our progress. I also got a chance to create a campaign video that
        you can check below.
      </p>
    </div>
  </div>
</div>
<div
  class="flex flex-col justify-start items-start flex-grow-0 flex-shrink-0 w-full relative gap-4"
>
  <p class="flex-grow-0 flex-shrink-0 w-full text-2xl font-bold text-left text-[#020202]">
    So stunning!
  </p>
  <p class="flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]">
    <span
      class="flex-grow-0 flex-shrink-0 w-full text-base italic text-left text-[#020202]"
      >“The website idea with the animation on campaign video make it look stunning! Keep it
      up!” </span
    ><br /><span
      class="flex-grow-0 flex-shrink-0 w-full text-base font-semibold text-left text-[#020202]"
      >— Sara L., 28</span
    >
  </p>
</div>
<div
  class="flex flex-col justify-start items-start flex-grow-0 flex-shrink-0 w-full relative gap-4"
>
  <p class="flex-grow-0 flex-shrink-0 w-full text-2xl font-bold text-left text-[#020202]">
    So thorough!
  </p>
  <p class="flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]">
    <span
      class="flex-grow-0 flex-shrink-0 w-full text-base italic text-left text-[#020202]"
      >“The writeup is so thorough! I really like the challenges that you mentioned, especially
      building a scenario for this project.” </span
    ><br /><span
      class="flex-grow-0 flex-shrink-0 w-full text-base font-semibold text-left text-[#020202]"
      >— Shreya, 24, Developer Advocate @Courier</span
    >
  </p>
</div>
<div
  class="flex flex-col justify-start items-start flex-grow-0 flex-shrink-0 w-full relative gap-4"
>
  <p class="flex-grow-0 flex-shrink-0 w-full text-2xl font-bold text-left text-[#020202]">
    Simple design!
  </p>
  <p class="flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]">
    <span
      class="flex-grow-0 flex-shrink-0 w-full text-base italic text-left text-[#020202]"
      >“I appreciate how the design and idea remind me that even the smallest actions can
      contribute to caring for the Earth.” </span
    ><br /><span
      class="flex-grow-0 flex-shrink-0 w-full text-base font-semibold text-left text-[#020202]"
      >— Sara L., 28</span
    >
  </p>
</div>
</div>
<div
class="flex flex-col justify-start items-center self-stretch flex-grow-0 flex-shrink-0 relative gap-6 p-6"
>
<div
  class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-4"
>
  <div
    class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-4"
  >
    <p class="self-stretch flex-grow-0 flex-shrink-0 w-full text-left">
      <span
        class="self-stretch flex-grow-0 flex-shrink-0 w-full text-lg font-bold text-left text-[#5b3eff]"
        >THE END?</span
      ><br /><span
        class="self-stretch flex-grow-0 flex-shrink-0 w-full text-xl font-semibold text-left text-[#020202]"
        >We earned best results but...</span
      >
    </p>
  </div>
  <div
    class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-8"
  >
    <div
      class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-4"
    >
      <p
        class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
      >
        There’s still a long way to go!
      </p>
      <p
        class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
      >
        <span
          class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
          >We are excited to share that we won </span
        ><span
          class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base font-semibold italic text-left text-[#020202]"
          >first place</span
        ><span
          class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
        >
          and </span
        ><span
          class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base font-semibold italic text-left text-[#020202]"
          >public favorite</span
        ><span
          class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
        >
          in the hackathon based on the design, ideas, and campaign video we made!</span
        >
      </p>
    </div>
  </div>
</div>
<img
  src="image---flowchart.png"
  class="flex-grow-0 flex-shrink-0 w-full h-[250.54px] object-none"
/>
<div class="flex-grow-0 flex-shrink-0 w-full h-[250.54px] bg-[#c4c4c4]"></div>
</div>


<!-- WHAT WE LEARNED -->
<div
class="flex flex-col justify-start items-center self-stretch flex-grow-0 flex-shrink-0 gap-6 p-6"
>
<div
  class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-4"
>
  <div
    class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-4"
  >
    <p class="self-stretch flex-grow-0 flex-shrink-0 w-full text-left">
      <span
        class="self-stretch flex-grow-0 flex-shrink-0 w-full text-lg font-bold text-left text-[#5b3eff]"
        >WHAT WE LEARNED</span
      ><br /><span
        class="self-stretch flex-grow-0 flex-shrink-0 w-full text-xl font-semibold text-left text-[#020202]"
        >We learned...</span
      >
    </p>
  </div>
  <div
    class="flex justify-center items-start self-stretch flex-grow-0 flex-shrink-0 gap-[140px]"
  >
    <div
      class="flex flex-col justify-start items-start flex-grow relative gap-2.5 p-4 rounded-[15px] border-[1.5px] border-[#4d2eff]"
    >
      <p
        class="self-stretch flex-grow-0 flex-shrink-0 w-full text-xl font-bold text-left text-[#020202]"
      >
        Intervention is important
      </p>
      <p
        class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
      >
        I believe that when a developer builds a product, there may be issues with spacing and
        alignment. In such cases, I would request to be added as a collaborator so I can
        directly add comments or fix the issues. This intervention only arises during hackathons
        due to time constraints.
      </p>
    </div>
  </div>
  <div
    class="flex justify-center items-start self-stretch flex-grow-0 flex-shrink-0 gap-[140px]"
  >
    <div
      class="flex flex-col justify-start items-start flex-grow relative gap-2.5 p-4 rounded-[15px] border-[1.5px] border-[#4d2eff]"
    >
      <p
        class="self-stretch flex-grow-0 flex-shrink-0 w-full text-xl font-bold text-left text-[#020202]"
      >
        Finding idea is hard but…
      </p>
      <p
        class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
      >
        When an idea proves successful, I always aim to maximize its benefits for a wider
        audience.
      </p>
    </div>
  </div>
  <div
    class="flex justify-center items-start self-stretch flex-grow-0 flex-shrink-0 gap-[140px]"
  >
    <div
      class="flex flex-col justify-start items-start flex-grow relative gap-2.5 p-4 rounded-[15px] border-[1.5px] border-[#4d2eff]"
    >
      <p
        class="self-stretch flex-grow-0 flex-shrink-0 w-full text-xl font-bold text-left text-[#020202]"
      >
        It's impossible to solve all problems within short amount of time
      </p>
      <p
        class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
      >
        While our idea is well-developed, we still need to address the crucial issue of shipping
        costs. Due to time constraints, we haven't been able to delve into this aspect in detail
        yet.
      </p>
    </div>
  </div>
</div>
</div>
<div
class="flex flex-col justify-start items-center self-stretch flex-grow-0 flex-shrink-0 gap-6 p-6"
>
<div
  class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-4"
>
  <div
    class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-4"
  >
    <p class="self-stretch flex-grow-0 flex-shrink-0 w-full text-left">
      <span
        class="self-stretch flex-grow-0 flex-shrink-0 w-full text-lg font-bold text-left text-[#5b3eff]"
        >FUTURE SAYS...</span
      ><br /><span
        class="self-stretch flex-grow-0 flex-shrink-0 w-full text-xl font-semibold text-left text-[#020202]"
        >What’s next?</span
      >
    </p>
  </div>
  <div
    class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 gap-8"
  >
    <div
      class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-4"
    >
      <p
        class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
      >
        Contact potential partners or investors that want to work with us to develop this.
      </p>
      <p
        class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
      >
        Keep iterating the design concept and add important features, such as, shipping cost and
        store admin pages.
      </p>
      <p
        class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
      >
        We may continue the project early next year, after securing additional funding and
        recruiting more developers.
      </p>
      <p
        class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
      >
        Expand the platform to include features that help users discover local workshops
        providing innovative approaches to reducing household waste.
      </p>
      <p
        class="self-stretch flex-grow-0 flex-shrink-0 w-full text-base text-left text-[#020202]"
      >
        Resolve the problem with shipping costs.
      </p>
    </div>
  </div>
</div>

</div>
