---
import { Image } from "astro:assets";
import meImage from "../assets/illustration of me.png";
import Linkedin from "../components/icons/IconFooterLn.astro";
import Gmail from "../components/icons/IconFooterMail.astro";
import Github from "../components/icons/iconFooterGithub.astro";
import Twitch from "../components/icons/iconFooterTwitch.astro";
import Youtube from "../components/icons/iconFooterYoutube.astro";
const currentYear = new Date().getFullYear();
---

<footer class="bg-white flex items-center px-4 sm:px-6 lg:px-[124px] py-6  justify-between">
  <div class="relative bg-white overflow-hidden z-10 h-[190px]  ">
    <Image
      src={meImage}
      alt="Savicore image"
      class="h-full w-full object-cover"
    />
  </div>

  <div class="flex flex-col items-end gap-4 " style="font-family: 'Playfair Display', serif;">
    <p class="text-right">Talk about design or just want to say hello?<br />Feel free to reach out!</p>
    <div class="flex gap-4">
      <a href="https://www.linkedin.com/in/beatrixcendana/" class="hover:-translate-y-1 transition-all ease-out duration-300 cursor-pointer">
        <Linkedin />
      </a>

      <a href="mailto:beatrixcdn@gmail.com?subject=Hello%20there"  class="hover:-translate-y-1 transition-all ease-out duration-300 cursor-pointer">
        <Gmail />
      </a>

      <a href="https://github.com/beatrixcendana"  class="hover:-translate-y-1 transition-all ease-out duration-300 cursor-pointer">
        <Github />
      </a>

      <a href="https://www.twitch.tv/rurinagamer"  class="hover:-translate-y-1 transition-all ease-out duration-300 cursor-pointer">
        <Twitch />
      </a>

      <a href="https://www.youtube.com/@RurinaDiary"  class="hover:-translate-y-1 transition-all ease-out duration-300 cursor-pointer">
        <Youtube />
      </a>
    </div>
    <p>ⓒ 2024. Made with ❤ and choco milk️.</p>
  </div>
</footer>

<!-- Social media:
 LinkedIn: https://www.linkedin.com/in/beatrixcendana/
 Gmail: mailto:beatrixcdn@gmail.com?subject=Hello%20there
 Github: https://github.com/beatrixcendana
 Instagram: https://www.twitch.tv/rurinagamer
 Youtube: https://www.youtube.com/@RurinaDiary -->
