---
export interface Props {
  text: string;
  class?: string;
}

const { text, class: className } = Astro.props;
---

<h2 class={`text-center w-full text-[2rem] xl:text-[4rem] font-bold xl:leading-[5rem] text-[#0A0614] ${className}` } style="font-family: 'Playfair Display', serif;">
    {text}
</h2>