<!-- EMPHATIZE -->
<div id="emphatize" class="flex flex-col p-6 w-full">
    <div class="flex flex-col w-full">
        <h2 class="text-2xl font-bold text-neutral-600">
            <span class="text-lg text-indigo-600">OVERVIEW</span>
            <br />
            <span class="text-xl font-semibold text-black">Esports is growing, and so is the learning platform</span>
        </h2>
        <p class="mt-4 text-base text-black">
            Parabled has a vision of becoming the next biggest esports coaching platform, not only offering one game (the current game being League of Legends) but also branching out to more games, such as Valorant, Mobile Legends, and others.
        </p>
    </div>
    <aside class="flex flex-col p-4 mt-6 w-full text-black bg-cyan-200 rounded-2xl">
        <h3 class="text-2xl font-bold">Our goals were...</h3>
        <p class="mt-2.5 text-base">
            to understand: The current issues with the existing Parabled and other learning platforms, Evaluate how the new Parabled website provides a better structure and user experience, and
            <br /><br />
            Identify the critical features to prioritize for the next iteration of the product.
        </p>
    </aside>
    <div class="flex flex-col mt-6 w-full text-base text-black">
        <h3 class="text-xl font-semibold">Analyze the issues of existing Parabled website</h3>
        <p class="mt-4">
            Analyzing and reviewing the previous Parabled website was the best approach before conducting user research and revamping the entire website directly.
        </p>
        <p class="mt-4">These were our analysis of the website:</p>
    </div>
    <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/884c0081e7b92e7301cba2960a9236214d896771c344cd4a052a95962bb19937?placeholderIfAbsent=true&apiKey=36a6ec44b2c9485d99179a8191a89170" alt="Analysis of existing Parabled website" class="object-contain mt-6 w-full aspect-[1.99]" />
    <div class="flex flex-col mt-6 w-full text-black">
        <h3 class="text-xl font-semibold">➡️ The font was in all caps</h3>
        <p class="mt-4 text-base">
            The font gave the impression of 'shouting' rather than inviting people to join the platform.
        </p>
    </div>
    <div class="flex flex-col mt-6 w-full text-base text-black">
        <h3 class="text-xl font-semibold">➡️ The alignment was a bit off</h3>
        <p class="mt-4">
            The alignment of the website seemed off <em class="font-semibold">due to the limitations of the website builder.</em> Customization options for alignment were limited.
        </p>
        <p class="mt-4">
            For instance, the "<em class="font-semibold">Log In</em>" button was not aligned with the navigation bar.
        </p>
    </div>
    <div class="flex flex-col mt-6 w-full text-black">
        <h3 class="text-xl font-semibold">➡️ No clear CTA</h3>
        <p class="mt-4 text-base">
            There were no call-to-action elements on the website, aside from directing users to Discord. But what's the point of joining Discord if our primary goal was to sell the service?
        </p>
    </div>
</div>
<div class="flex flex-col p-6 w-full text-xl font-semibold text-black ">
    <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/848cc69f19e70ea03756a5fe593e76c743e3a520af9a46b2af3ebcf7cee6170c?placeholderIfAbsent=true&apiKey=36a6ec44b2c9485d99179a8191a89170" alt="Additional analysis of Parabled website" class="object-contain w-full aspect-[1.99]" />
    <div class="flex flex-col mt-6 w-full">
        <h3>➡️ The website contained too much text</h3>
        <h3 class="mt-4">➡️ The cards looked like clickable</h3>
    </div>
</div>
<div class="flex flex-col p-6 w-full text-black">
    <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/8312da6c49ca174ade982d5fb524ff902caffa4b0302760bc77fa27b336c3384?placeholderIfAbsent=true&apiKey=36a6ec44b2c9485d99179a8191a89170" alt="Subscription plan analysis" class="object-contain w-full aspect-[2.05]" />
    <div class="flex flex-col mt-6 w-full">
        <h3 class="text-xl font-semibold">➡️ Each package was not complete</h3>
        <p class="mt-4 text-base">
            The subscription plan page was confusing. Each package began with the statement, "5 weekly live classrooms." The question was:
        </p>
    </div>
    <aside class="p-4 mt-6 w-full text-xl font-medium bg-cyan-200 rounded-2xl">
        <p>How many hours should a student dedicate to each class?</p>
    </aside>
    <div class="flex flex-col mt-6 w-full">
        <h3 class="text-xl font-semibold">➡️ It didn't show the difference</h3>
        <p class="mt-4 text-base">
            The package didn't clearly show the differences between the three options. We needed to spend a few minutes reading to understand the distinctions.
        </p>
    </div>
    <div class="flex flex-col mt-6 w-full text-base">
        <h3 class="text-xl font-semibold">➡️ The 'best value' text was too small</h3>
        <p class="mt-4">
            I understand this can be viewed from both a marketing and UX design perspective. However, to sell the item, we need to make the UI and content more visually appealing and engaging to attract users to click.
        </p>
        <p class="mt-4">
            Perhaps we could try making the button ('Best value') bigger or changing the card color to differentiate it from the other packages?
        </p>
    </div>
</div>
<div class="w-full px-6">

    <div class="w-full flex gap-2  bg-[#DAD4FE] p-6 rounded-xl font-['Playfair_Display']">
        <div class="w-5 h-5" >

            <svg width="20" height="30" viewBox="0 0 20 30" fill="none" xmlns="http://www.w3.org/2000/svg" >
                <g clip-path="url(#clip0_1_384)">
                    <path d="M12.1586 16.9314C12.1586 16.0761 11.968 15.3364 11.5775 14.7353C10.9869 13.8338 9.8343 13.7182 9.1675 13.9032C8.89126 11.9961 10.2249 9.56892 11.949 8.52871L10.6249 6.2749C8.02442 7.77744 5.46202 11.2217 5.9002 15.5791C6.17645 18.3299 7.49099 20.1445 9.34849 20.1445C10.1582 20.1445 10.8345 19.8555 11.3679 19.2776C11.9014 18.6997 12.1586 17.9138 12.1586 16.9314ZM19.8267 16.9314C19.8267 16.0761 19.6362 15.3364 19.2456 14.7353C18.6455 13.8338 17.5025 13.7182 16.8357 13.9032C16.5594 11.9961 17.893 9.56892 19.6171 8.52871L18.2931 6.2749C15.6926 7.77744 13.1397 11.2217 13.5779 15.5791C13.8541 18.3299 15.1591 20.1445 17.0166 20.1445C17.8263 20.1445 18.5026 19.8555 19.0361 19.2776C19.5695 18.6997 19.8267 17.9138 19.8267 16.9314Z" fill="#5585FF"/>
                </g>
                <defs>
                    <clipPath id="clip0_1_384">
                        <rect x="6.86646e-05" y="0.53125" width="19.9286" height="29" rx="9.9643" fill="white"/>
                    </clipPath>
                </defs>
            </svg>
        </div>
        <div class="">
            <div class="grow shrink basis-0"><span class="text-[#020202] text-lg font-normal font-['Playfair Display'] leading-[30.24px]">Based on the analysis conducted by the designers and me, there were issues with alignment, lengthy text, and calls-to-action.</div>
        </div>
    </div>
</div>
<div class="flex flex-col p-6 w-full">
    <div class="flex flex-col w-full">
        <h2 class="text-2xl font-bold text-neutral-600">
            <span class="text-lg text-indigo-600">TWO RESEARCH METHODS</span>
            <br />
            <span class="text-xl font-semibold text-black">Gather insights from different approaches</span>
        </h2>
        <p class="mt-4 text-base text-black">
            To get a better understanding of the esports industry and expectations of the current and potential students, we utilized two research methods: competitive analysis and customer interviews.
        </p>
    </div>
    <div class="flex flex-col mt-6 w-full text-black">
        <h3 class="text-xl font-semibold">➡️ Competitive analysis</h3>
        <p class="mt-4 text-base">
            At the time we conducted the research, there weren't many coaching websites to compare with, aside from two competitors.
        </p>
    </div>
    <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/498e79382ee9b1603594e7973a86919e0548dfe3f795ed89f0c426cd533181b3?placeholderIfAbsent=true&apiKey=36a6ec44b2c9485d99179a8191a89170" alt="Competitive analysis overview" class="object-contain mt-6 w-full aspect-[1.99]" />
    <div class="flex gap-10 justify-center items-start mt-6 w-full text-black">
        <aside class="flex flex-col flex-1 shrink p-4 w-full rounded-2xl border-2 border-sky-500 border-solid basis-0 min-w-[240px]">
            <h3 class="text-xl font-bold">Metafy</h3>
            <div class="flex flex-col mt-6 w-full">
                <h4 class="text-lg font-semibold">Metafy offers a wider variety of games than we do</h4>
                <p class="mt-2 text-base">
                    While we currently offer only one game, League of Legends, Metafy provides a broader selection. We understand that we cannot expand our game offerings too quickly, as we are still new to the gaming industry.
                </p>
            </div>
            <div class="flex flex-col mt-6 w-full">
                <h4 class="text-lg font-semibold">Similar pricing rates, but no free trial</h4>
                <p class="mt-2 text-base">
                    Unlike Metafy, we offer a free trial that allows new students or beginners to experience what it feels like to be a pro gamer.
                </p>
            </div>
            <div class="flex flex-col mt-6 w-full">
                <h4 class="text-lg font-semibold">Website offers more appealing visuals</h4>
                <p class="mt-2 text-base">
                    Their website design is impressive, featuring more appealing visuals and a cool background.
                </p>
            </div>
        </aside>
    </div>
    <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/215820e652e89b8dd82f5b16f98501f4fc7288c40ceb9abd66045976e6fc68d7?placeholderIfAbsent=true&apiKey=36a6ec44b2c9485d99179a8191a89170" alt="Better Gamer competitive analysis" class="object-contain mt-6 w-full aspect-[1.86]" />
    <div class="flex gap-10 justify-center items-start mt-6 w-full text-black">
        <aside class="flex flex-col flex-1 shrink p-4 w-full rounded-2xl border-2 border-sky-500 border-solid basis-0 min-w-[240px]">
            <h3 class="text-xl font-bold">Better Gamer</h3>
            <div class="flex flex-col mt-6 w-full">
                <h4 class="text-lg font-semibold">Better Gamer offers a wider variety of games and coaches</h4>
                <p class="mt-2 text-base">Better Gamer has same feature like Metafy.</p>
            </div>
            <div class="flex flex-col mt-6 w-full">
                <h4 class="text-lg font-semibold">The price is based on the coach's experience</h4>
                <p class="mt-2 text-base">
                    The pricing is not flat or subscription-based; it varies depending on the coach's gaming experience.
                </p>
            </div>
            <div class="flex flex-col mt-6 w-full">
                <h4 class="text-lg font-semibold">The website has simple explanation, design and nice illustration</h4>
                <p class="mt-2 text-base">
                    The website is simple, with minimal text and a dark color scheme, added by a subtle background. Small illustrations assist users in navigating and understanding how it works.
                </p>
            </div>
        </aside>
    </div>
    <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/9b128aa2cc07739f1436d5660d4ef07e23fd57316a15a131f7eefcd130f5932d?placeholderIfAbsent=true&apiKey=36a6ec44b2c9485d99179a8191a89170" alt="Competitive analysis summary" class="object-contain mt-6 w-full aspect-[2.4]" />
</div>
<div class="flex flex-col p-6 w-full text-base text-black">
    <div class="flex flex-col w-full">
        <h3 class="text-xl font-semibold">➡️ User interviews</h3>
        <p class="mt-4">Since Parabled operates in both the U.S. and Europe, we focused on recruiting:</p>
        <ul class="mt-4 list-disc pl-5">
            <li>10 participants from the U.S. and European countries.</li>
            <li>Age: between 17 - 30 years old.</li>
            <li>Preferably 5 students who had previously used our platform and 5 new users who enjoy playing online game.</li>
        </ul>
    </div>
    <div class="flex flex-col mt-6 w-full">
        <h4>Here are some insights we observed:</h4>
        <ul class="mt-4 list-disc pl-5">
            <li>5 out of 5 potential users were not willing to pay for the plan if there was no clear benefit to what they would receive.</li>
            <li>3 out of 5 existing students would consider continuing the subscription because they liked the coaching and the coaches.</li>
            <li>2 out of 5 potential users wondered if other esports would be offered in the future.</li>
        </ul>
    </div>
</div>
