<!--OVERVIEW -->

<div class="flex flex-col p-6 w-full " id="overview">
    <div class="flex flex-col justify-center w-full">
        <div class="flex flex-col w-full">
            <div class="flex flex-col items-start w-full text-center text-black">
                <h1 class="text-4xl font-medium">Parabled</h1>
                <p class="mt-4 text-base">
                    Revamping an esports coaching platform website that enables esports enthusiasts to
                    <em class="font-semibold">level up their gaming skills</em> at an affordable price.
                </p>
            </div>
            <div class="flex overflow-hidden flex-col self-center mt-8 w-full">
                <div class="flex w-full bg-neutral-400 bg-opacity-80 min-h-[223px]" role="img" aria-label="Esports coaching platform visual"></div>
            </div>
        </div>
    </div>
    <div class="flex flex-col self-center mt-8 max-w-full text-center text-black w-[258px]">
        <div class="flex flex-col items-center w-full">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/fbcfdd4c80eb7c7c5c10f2580f396cdd7782510a9fe922c1affb8999734678bd?placeholderIfAbsent=true&apiKey=36a6ec44b2c9485d99179a8191a89170" alt="Team icon" class="object-contain w-8 aspect-square" />
            <h2 class="mt-2 text-xl font-medium">TEAM</h2>
            <p class="mt-2 text-base">
                5 UX Designers, 5+ Developers, 3+ Product Managers, and myself as a UX Writer
            </p>
        </div>
        <div class="flex flex-col items-center mt-6 w-full">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/d389f29f09756e8e8c2dc739c56961ec83c6a1afc90fbed2aace39913a324d40?placeholderIfAbsent=true&apiKey=36a6ec44b2c9485d99179a8191a89170" alt="Duration icon" class="object-contain w-8 aspect-square" />
            <h2 class="mt-2 text-xl font-medium">DURATION</h2>
            <p class="mt-2 text-base">Sep 2023 - Feb 2024</p>
        </div>
        <div class="flex flex-col items-center mt-6 w-full">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/7db918896ed84cff0b1e96aa204ecc21a2cfce91d404d42a38ed02718e46a06b?placeholderIfAbsent=true&apiKey=36a6ec44b2c9485d99179a8191a89170" alt="Tools icon" class="object-contain w-8 aspect-square" />
            <h2 class="mt-2 text-xl font-medium">TOOLS</h2>
            <p class="mt-2 text-base">Figma, Google Docs, Trello</p>
        </div>
    </div>
</div>
<div class="flex flex-col justify-center p-6 w-full  ">
    <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3340d04d468cf64f348c8ae7a9ef536ac25429f057d2ab562e206a2795f8440a?placeholderIfAbsent=true&apiKey=36a6ec44b2c9485d99179a8191a89170" alt="Esports coaching platform overview" class="object-contain w-full rounded-2xl aspect-[0.94]" />
</div>
