<!--DEFINE -->
<div id="define" class="flex flex-col p-6 w-full">
    <div class="flex flex-col w-full">
        <h2 class="text-2xl font-bold text-neutral-600">
            <span class="text-lg text-indigo-600">DEFINE USER'S NEEDS</span>
            <br />
            <span class="text-xl font-semibold text-black">Synthesize the empathy map</span>
        </h2>
        <p class="mt-4 text-base text-black">
            During the interview process, we noticed similar patterns among both potential and existing students.
        </p>
    </div>
    <blockquote class="mt-6 text-xl font-semibold text-center text-black">
        "I would like more details on what each subscription plan offers."
    </blockquote>
    <blockquote class="mt-6 text-xl font-semibold text-center text-black">
        "I don't like when information is cluttered with too much text."
    </blockquote>
    <blockquote class="mt-6 text-xl font-semibold text-center text-black">
        "Are all classes hosted on Discord or on the website?"
    </blockquote>
    <aside class="flex flex-col p-4 mt-6 w-full text-black bg-cyan-200 rounded-2xl">
        <h3 class="text-xl font-bold">After signing up...</h3>
        <p class="mt-2.5 text-base">
            <em>for the subscription, it didn't direct me to Discord to join other members.</em>
            <br />
            <strong>-- Klaus, existing student, 17, Germany</strong>
        </p>
    </aside>
    <aside class="flex flex-col p-4 mt-6 w-full text-black bg-cyan-200 rounded-2xl">
        <h3 class="text-xl font-bold">I love coaching...</h3>
        <p class="mt-2.5 text-base">
            <em>session, but the website doesn't clarify whether I could use a free trial or not.</em>
            <br />
            <strong>-- Riley, Esports player, 25, U.S.</strong>
        </p>
    </aside>
    <aside class="flex flex-col p-4 mt-6 w-full text-black bg-cyan-200 rounded-2xl">
        <h3 class="text-xl font-bold">I want to see a list of...</h3>
        <p class="mt-2.5 text-base">
            all coaches. I currently can only view the founder's team.
            <br />
            <strong>-- Sam, free trial member, 28, U.S.</strong>
        </p>
    </aside>
    <figure class="flex flex-col mt-6 w-full text-base text-center text-black">
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/d23dec7ec7d6d8876c826afb3a0ce5ca3532254ff06b4bdd0f15242c75f5e61c?placeholderIfAbsent=true&apiKey=36a6ec44b2c9485d99179a8191a89170" alt="Empathy map visualization" class="object-contain w-full aspect-[0.99]" />
        <figcaption class="self-start mt-4">
            <strong>Above</strong> is the empathy map.
        </figcaption>
    </figure>
</div>
<div class="flex flex-col justify-center p-6 w-full  ">
    <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/296be418855eb840e76d7d5b565a2a7410ef028580610b6f88ef60ca6d037a97?placeholderIfAbsent=true&apiKey=36a6ec44b2c9485d99179a8191a89170" alt="Esports coaching platform design concept" class="object-contain w-full rounded-2xl aspect-[0.84]" />
</div>
<div class="flex flex-col p-6 w-full text-base border-2 text-black">
    <div class="flex flex-col w-full">
        <h2 class="text-2xl font-bold text-neutral-600">
            <span class="text-lg text-indigo-600">HOMEPAGE IDEATION PROCESS</span>
            <br />
            <span class="text-xl font-semibold text-black">The landing page should list all the benefits</span>
        </h2>
        <p class="mt-4">
            The research results focused primarily on the benefits students would like to gain after subscribing to the monthly package.
        </p>
        <p class="mt-4">
            Based on this, I drafted two options for the landing page, both of which direct users to start a free lesson.
        </p>
    </div>
    <div class="flex flex-col mt-6 w-full text-xl font-semibold">
        <h3>First option</h3>
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/e191168ce2ebd4b99c111381434e3470b30f6e70bf7ca617e25054888c61055a?placeholderIfAbsent=true&apiKey=36a6ec44b2c9485d99179a8191a89170" alt="First landing page option" class="object-contain mt-4 w-full aspect-[1.68]" />
    </div>
    <div class="flex flex-col mt-6 w-full text-xl font-semibold">
        <h3>Second option</h3>
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/9a24ca781b88e730ac212f440eaf764bd06d27acb9a05eb41811a958bbc16d92?placeholderIfAbsent=true&apiKey=36a6ec44b2c9485d99179a8191a89170" alt="Second landing page option" class="object-contain mt-4 w-full aspect-[1.66]" />
    </div>
    <aside class="flex gap-10 justify-center items-start mt-6 w-full">
        <div class="flex flex-col flex-1 shrink p-4 w-full rounded-2xl border-2 border-sky-500 border-solid basis-0 min-w-[240px]">
            <h3 class="text-xl font-bold">Explanation:</h3>
            <p class="mt-2.5">
                The two designs above share the same approach: connecting students with expert coaches. However, the designers prefer to present the subtitle as a quote, as indicated in the first design.
            </p>
            <p class="mt-2.5">
                The headlines are different because the first one was requested by the CEO to match the text from the previous website, while the second one was drafted by me as a second choice.
            </p>
            <p class="mt-2.5">
                Since Parabled offers a free lesson, I tried using CTAs with the text
                "<em class="font-semibold">Claim Your Free Lesson</em>" or "<em class="font-semibold">Start Your Free Lesson.</em>"
            </p>
        </div>
    </aside>
</div>
<div class="flex flex-col justify-center p-6  w-full text-black">
    <div class="flex flex-col w-full">
        <h3 class="text-xl font-semibold">We compared our plans with others = marketing strategy?</h3>
        <p class="mt-4 text-base">
            I'm sure many gamers listen to music through YouTube Music or Spotify, which is why the co-founder asked me to compare the plan with Spotify's. This inspired me to incorporate it into the content as part of our engagement strategy.
        </p>
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/4f60469bf47135b977101c98c287995dc41ce0d0486edc506bba336ddb83a56c?placeholderIfAbsent=true&apiKey=36a6ec44b2c9485d99179a8191a89170" alt="Comparison of plans with other platforms" class="object-contain mt-4 w-full aspect-[1.81]" />
    </div>
</div>
<div class="flex flex-col justify-center p-6 w-full text-black">
    <div class="flex flex-col w-full">
        <h3 class="text-xl font-semibold">What services in Parabled should look like…</h3>
        <p class="mt-4 text-base">
            We often watch long streaming videos without fully understanding the players' actions and movement types. With Parabled, you can rest assured—we provided detailed explanations of what pro players should do in every game scenario.
        </p>
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/cb23de4af0876c018d708a328400322a76d63cdfdea5c38df6720799dded916d?placeholderIfAbsent=true&apiKey=36a6ec44b2c9485d99179a8191a89170" alt="Parabled services overview" class="object-contain mt-4 w-full aspect-[1.34]" />
    </div>
</div>
<div class="flex flex-col p-6 w-full  text-black">
    <div class="flex flex-col w-full">
        <h3 class="text-xl font-semibold">Let's add an additional button!</h3>
        <p class="mt-4 text-base">
            The call to action is an additional feature located at the bottom of the homepage, near the footer. I took the title from the previous website and considered expanding on it for the second design.
        </p>
    </div>
    <div class="flex flex-col mt-6 w-full text-xl font-semibold">
        <h4>Previous design</h4>
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/b6a2369c62453ecdfe7b7c209bf7c6eadcd2f1812e82b4794f738a23adfa8fde?placeholderIfAbsent=true&apiKey=36a6ec44b2c9485d99179a8191a89170" alt="Previous design of call to action" class="object-contain mt-4 w-full aspect-[1.76]" />
    </div>
    <div class="flex flex-col mt-6 w-full text-xl font-semibold">
        <h4>Current design</h4>
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/955f0d2925a583a80f6303b07c2f7ae9e8859b875fc395fcf1b6eaf4ed6eec1e?placeholderIfAbsent=true&apiKey=36a6ec44b2c9485d99179a8191a89170" alt="Current design of call to action" class="object-contain mt-4 w-full aspect-[2.2]" />
    </div>
</div>