---

import { Image } from "astro:assets";
import subs from "../../assets/parabled/subscription-plan.png";
import uTest from "../../assets/parabled/usablitiy-testing.png";
import uExp from "../../assets/parabled/user-expectations.png";
import missionAcom from "../../assets/parabled/mission-acomplished.png";
import emphatyMap from '*.png';
---
<!--TEST-->
<div id="test" class="flex flex-col p-6 w-full text-xl font-semibold text-black ">
    <div class="flex flex-col w-full text-base">
        <h2 class="text-2xl font-bold text-neutral-600">
            <span class="text-lg text-indigo-600">USABILITY TESTING USING MAZE</span>
            <br />
            <span class="text-xl font-semibold text-black">Results were unexpected!</span>
        </h2>
        <p class="mt-4">
            After the revamp, we were ready to test it with users.
        </p>
        <p class="mt-4">
            We used Maze to conduct usability testing for our homepage. These were the key points that 12 users (5 esports players and 7 non-esports players) found most interesting:
        </p>
    </div>
    <h3 class="mt-6">People liked the idea of a free lesson.</h3>
    <h3 class="mt-6">The clean layout and staff quotes intrigued them and made them want to learn more.</h3>
    <Image alt="uTest" src={uTest} class="object-contain w-full aspect-[0.99] lg:w-[45rem] mx-auto" />
</div>
<div class="flex flex-col p-6 w-full text-base text-black ">
    <div class="flex flex-col w-full">
        <h3 class="text-xl font-semibold">Users expected to see more details before deciding to subscribe</h3>
        <p class="mt-4">
            As we are still new, we don't have much in the way of social proof or staff achievements. However, we will consider this for the next iteration.
        </p>
        <p class="mt-4">
            The positive takeaway was that users clearly understood all the details we provided on the website, <em class="font-semibold">including the services, subscription plans, and testimonials.</em>
        </p>
    </div>
    <Image alt="uExp" src={uExp} class="object-contain w-full lg:w-[45rem] mx-auto aspect-[1.46]" />

</div>
<div class="flex flex-col p-6 w-full text-base text-black">
    <div class="flex flex-col w-full">
        <h3 class="text-xl font-semibold">Mission accomplished! 🎉🎉</h3>
        <p class="mt-4">
            I felt relieved upon seeing the results from the subscription page. Users understood that each plan offers different services and their expectations regarding the number of learning hours were met.
        </p>
        <p class="mt-4">
            These were the results of what triggered users to subscribe to our plan:
        </p>
    </div>
    <Image alt="missionAcom" src={missionAcom} class="object-contain w-full lg:w-[45rem] mx-auto aspect-[4.46]" />

</div>
<div class="flex flex-col p-6 w-full">
    <div class="flex flex-col w-full">
        <h2 class="text-2xl font-bold text-neutral-600">
            <span class="text-lg text-indigo-600">WHAT I LEARNED</span>
            <br />
            <span class="text-xl font-semibold text-black">Challenges made me better!</span>
        </h2>
        <p class="mt-4 text-base text-black">
            I faced a few challenges when trying to create better-written content for the esports website.
        </p>
    </div>
    <div class="flex flex-col mt-6 w-full text-black">
        <h3 class="text-xl font-semibold">➡️ My background isn't from esports</h3>
        <p class="mt-4 text-base">
            Although I play some games, I still need to learn what esports looks like and put myself in the shoes of pro gamers.
        </p>
    </div>
    <div class="flex flex-col mt-6 w-full text-black">
        <h3 class="text-xl font-semibold">➡️ Collaborate more with founders team</h3>
        <p class="mt-4 text-base">
            I worked mainly with founders who were a bit picky about the wording or statements related to esports, but I managed it. That's why I always provided multiple options for each page.
        </p>
    </div>
    <div class="flex flex-col mt-6 w-full text-black">
        <h3 class="text-xl font-semibold">➡️ Usability testing doesn't end after development</h3>
        <p class="mt-4 text-base">
            We need to keep iterating on design and content. I always find ways to listen to feedback from users and the team.
        </p>
    </div>
    <div class="flex flex-col mt-6 w-full text-black">
        <h3 class="text-xl font-semibold">➡️ UX writing is not about writing only</h3>
        <p class="mt-4 text-base">
            Initially, I thought UX writing was just about text, but it's much more than that. We need to adjust the content based on accessibility principles and collaborative design. UX writers work closely with designers to ensure that text and design elements complement each other.
        </p>
    </div>
</div>
