---
import { Image } from "astro:assets";
import subs from "../../assets/parabled/subscription-plan.png";
---

<!--IDEATION -->
<div id="ideate" class="flex flex-col p-6 w-full text-base text-black">
    <div class="flex flex-col w-full">
        <h2 class="text-2xl font-bold text-neutral-600">
            <span class="text-lg text-indigo-600" style="font-family: 'Playfair Display', serif;">IDEATION - SUBSCRIPTION PLAN</span>
            <br />
            <span class="text-xl font-semibold text-black" style="font-family: 'Playfair Display', serif;">The subscription process should be simple and seamless</span>
        </h2>
        <p class="mt-4">
            With an enhanced design and clearer explanations, the subscription process can offer a seamless experience.
        </p>
        <p class="mt-4">
            I added the monthly hours to the live classroom and coaching section to help students understand how much time they should dedicate to becoming a pro gamer.
        </p>
    </div>
    <Image alt="subs" src={subs} class="object-contain w-full lg:w-[45rem] mx-auto aspect-[1.43]" />

</div>
