---
import { Image } from "astro:assets";
import proto from "../../assets/parabled/parabled-prototype.gif";
---

<!--PROTOTYPE-->

<div id="prototype" class="flex flex-col p-6 w-full text-base text-black ">
    <div class="flex flex-col w-full">
        <h2 class="text-2xl font-bold text-neutral-600">
            <span class="text-lg text-indigo-600">CURRENT PROTOTYPE</span>
            <br />
            <span class="text-xl font-semibold text-black">Current live website</span>
        </h2>
        <p class="mt-4">
            Due to Webflow's limitations, we couldn't implement the design created above on the landing page. However, the design worked well on the other sections.
        </p>
        <p class="mt-4">
            Despite these limitations, we continued to iterate on the design and content, with our designers creatively adding moving backgrounds to give the website a more dynamic and 'alive' feel.
        </p>
    </div>
    <Image alt="Prototype" src={proto} class="object-contain mt-6 w-full " />
</div>
