<!--IDEATION -->
<div id="ideate" class="flex flex-col p-6 w-full text-base text-black">
    <div class="flex flex-col w-full">
        <h2 class="text-2xl font-bold text-neutral-600">
            <span class="text-lg text-indigo-600">IDEATION - SUBSCRIPTION PLAN</span>
            <br />
            <span class="text-xl font-semibold text-black">The subscription process should be simple and seamless</span>
        </h2>
        <p class="mt-4">
            With an enhanced design and clearer explanations, the subscription process can offer a seamless experience.
        </p>
        <p class="mt-4">
            I added the monthly hours to the live classroom and coaching section to help students understand how much time they should dedicate to becoming a pro gamer.
        </p>
    </div>
    <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/c4c0c5590670861e555b66f7758285814d037fd22116c61a2f010dc448df1410?placeholderIfAbsent=true&apiKey=36a6ec44b2c9485d99179a8191a89170" alt="Subscription plan design" class="object-contain mt-6 w-full aspect-[1.43]" />
</div>
