---
export interface Props {
  title: string;
}

const { title } = Astro.props;


// import { defineMetadata } from "astro:head";

// defineMetadata({
//   title: "Welcome to Beatrix's portfolio",
//   description: "Content Designer @ Alibaba</span> with 4+ years of experience in UX Design/Writing</span>.",
//   openGraph: {
//     title: "Welcome to Beatrix's portfolio",
//     description: "Content Designer @ Alibaba</span> with 4+ years of experience in UX Design/Writing</span>. ",
//     image: "/favicon-32x32.png",
//     type: "website"
//   },

// });
---



<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="UTF-8" />
    <meta name="description" content="Content Designer @ Alibaba with 4+ years of experience in UX Design/Writing." />
    <meta name="keywords" content="designer, writer, ui, ux, design, writing, blog, portfolio, personal, rian, beatrix, alibaba, ali" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/svg+xml" href="/favicon-32x32.png" />
    <meta name="generator" content={Astro.generator} />
    <!-- Google Fonts: Playfair Display -->
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">


    <title>{title}</title>
    <meta name="google-site-verification" content="xlDcQ7dMrDoJ46QpJj4GMVF5CPYvPa7OE7ZPcxJ9Jy4" />
    <style>
      .font-playfair {
        font-family: 'Playfair Display', serif !important;
      }

      html {
        zoom: 1;
      }

      /*==== FHD/UHD (6:9) Responsive Support ====*/
      @media screen and (min-width: 1800px) {
        body, html {font-size: 2.5vh;}
      }

      /*==== FHD/2K (4:3) Responsive Support ====*/
      @media screen and (min-width: 1900px) and (min-height: 1400px) {
        body, html {font-size: 1.5vh;}
      }

      /*==== FHD/2K (5:3) Responsive Support ====*/
      @media screen and (min-width: 1900px) and (min-height: 2000px) {
        body, html {font-size: 1.25vh;}
      }

      /*==== 2K/4K (6:9) Responsive Support ====*/
      @media screen and (min-width: 1990px) {
        body, html {font-size: 2vh;}
      }

    </style>
  </head>
  <body class="text-[#020202] bg-[#FFF2EF] lg:bg-white" style="font-family: 'Open Sans', sans-serif;">
    <slot />
  </body>
</html>
