---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <!-- Google Fonts: Playfair Display -->
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">


    <title>{title}</title>

    <style>
      .font-playfair {
        font-family: 'Playfair Display', serif;
      }
    </style>
  </head>
  <body class="text-[#020202] bg-[#FFF2EF] sm:bg-white" style="font-family: 'Open Sans', sans-serif;">
    <slot />
  </body>
</html>
